{% extends 'ourguest.html.twig' %}

{% block title %}Something Went Wrong!{% endblock %}

{% block body %}
    <div class="container padding-all">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="error-page col-md-10 d-md-flex flex-md-row">
                <div class="col-md-5 error-image">
                    <img src="{{ asset('images/error.png') }}">
                </div>
                <div class="col-md-7 error-description">
                    <h2>OOPS! SOMETHING WENT WRONG.</h2>
                    <div class="block">There is something wrong with our server. Go to the Homepage or Contact us directly!</div>
                    <a href="{{ path('ourguest_homepage') }}" class="btn btn-primary mt-4">BACK TO HOME</a>
                    <a href="{{ path('contact_og') }}" class="btn btn-success mt-4">CONTACT</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
