{% extends 'admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Itinerary List</h2>
    </div>
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>Add or Edit Itinerary</strong><br><br>
                        <div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Sl. No.</th>
                                    <th>Tour</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for itinerary in itineraries %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ itinerary.tour }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <a href="{{ path('itinerary_new') }}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i>Add a new Itinerary</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
