{% extends 'admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Create Itinerary</h2>
    </div>
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-3">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            <i class="fa fa-check-circle"></i> {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_start(form) }}
                        <div id="gallery" class="form-wrapper" data-prototype="{% filter escape %}{% include 'ourguest/itinerary/Prototype/image.html.twig' with {'val': form.image.vars.prototype} %}{% endfilter %}" cellspacing="15"></div>
                        <div id="description" class="form-wrapper" data-prototype="{% filter escape %}{% include 'ourguest/itinerary/Prototype/description.html.twig' with {'val': form.description.vars.prototype} %}{% endfilter %}" cellspacing="15"></div>

                        <div class="control-group">
                            {{ form_label(form.tour) }}
                            <div class="controls">
                                {{ form_widget(form.tour, {'attr': {'class': 'form-control'}}) }}
                                <p></p>
                            </div>
                            {{ form_errors(form.tour) }}
                        </div>

                        <div class="itinerary-info">
                            <div class="gallery">
                                <ul class="clearfix" style="list-style: none; margin: 0; padding: 0">
                                    {% for i in form.image %}
                                        <li>
                                            <strong>{{ loop.index }}</strong>
                                            {{ form_widget(i.file) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <p></p>
                            </div>

                            <div class="description">
                                <ul class="clearfix" style="list-style: none; margin: 0; padding: 0">
                                    {% for i in form.description %}
                                        <li>
                                            <strong>{{ loop.index }}</strong>
                                            {{ form_widget(i.file) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <p></p>
                            </div>
                        </div>
                        <input type="submit" value="Create" class="btn btn-sm btn-success" />
                        <a href="{{ path('itinerary_index') }}" class="btn btn-sm btn-default"><i class="fa fa-reply"></i>Back to the list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

    <script type="text/javascript" src="{{ asset('js/jquery-3.3.1.js') }}"></script>
    <script>
        var tourField = $("#ourguestbundle_itinerary_tour");
        tourField.prepend('<option value="0" selected="selected" disabled>Select Tour</option>');
        tourField.on("change", function (e) {
            var id = this.value;
            var url = Routing.generate('tour_duration', {id: id});

            //AJAX Request
            $.ajax({
                url: url,
                type: "GET",
                dataType: "JSON",
                data: {
                    id: id
                },
                success: function (response) {

                    //add a delete link to all the existing tag forms
                    $(".form-wrapper").find(".itinerary-info li").each(function () {
                        addTagFormDeleteLink($(this));
                    });

                    var collectionHolder,
                        grid;
                    e.preventDefault();

                    //Get the fieldset that holds the collection of blocks
                    collectionHolder = $('#', this.name);

                    grid = $(this).attr('id');

                    // count the current form inputs we have (e.g. 2), use that as the new
                    // index when inserting a new item (e.g. 2)
                    collectionHolder.data('index', collectionHolder.find('.itinerary-info .gallery ul li').length);

                    //add a new tag form (see next code block)
                    addBlockForm(collectionHolder, grid, $(this));

                    console.log(response);
                    var images = $(".gallery");
                    var description = $(".description");

                    var count = response[0].duration;
                    while (count > 0){
                        images
                    }

                },
                error: function (err) {
                    alert("error while loading data");
                }
            });
        });


    </script>

{% endblock %}
