{% extends '::admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
    <style>
    .remove_block {
        position: absolute;
        top: -10px;
        right: -3px;
        font-size: 20px;
        cursor: pointer;
    }
    </style>
{% endblock %}
{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Add Room </h2>
    </div>
    {{ form_start(form) }}
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            <i class="fa fa-check-circle"></i> {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>Add or Edit Content</strong><br><br>
                        <div id="gallery" class="form-wrapper" data-prototype="{% filter escape %}{% include 'property/Prototype/image.html.twig' with {'val': form.image.vars.prototype} %}{% endfilter %}" cellspacing="15">
                            <div class="control-group">
                                {{ form_label(form.property) }}
                                <div class="controls">
                                    {{ form_widget(form.property) }}
                                    <p></p>
                                    {#<p class="help-block">Please provide your first name</p>#}
                                </div>
                                {{ form_errors(form.property) }}
                            </div>
                            <div class="control-group">
                                {{ form_label(form.type) }}
                                <div class="controls">
                                    {{ form_widget(form.type, {'attr':{'class': 'form-control input-lg'}}) }}
                                    <p></p>
                                    {#<p class="help-block">Please provide your first name</p>#}
                                </div>
                                {{ form_errors(form.type) }}
                            </div>
                            <div class="control-group">
                                {{ form_label(form.rate) }}
                                <div class="controls">
                                    {{ form_widget(form.rate, {'attr':{'class': 'form-control input-lg'}}) }}
                                    <p></p>
                                    {#<p class="help-block">Please provide your first name</p>#}
                                </div>
                                {{ form_errors(form.rate) }}
                            </div>
                            <div>
                                <span style="display: block; font-weight: bold">Room Costs</span>
                                <div class="control-group">
                                    <span style="display: block;">Individual</span>
                                    <div class="col-lg-3" style="padding-left: 0px;">
                                        <div class="controls">
                                            {{ form_widget(form.single_ep_cost, {'attr':{'class': 'form-control input-lg', 'placeholder': 'Individual EP Cost'}}) }}
                                            <p></p>
                                            {#<p class="help-block">Please provide your first name</p>#}
                                        </div>
                                        {{ form_errors(form.single_ep_cost) }}
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="controls">
                                            {{ form_widget(form.single_cp_cost, {'attr':{'class': 'form-control input-lg', 'placeholder': 'Individual CP Cost'}}) }}
                                            <p></p>
                                            {#<p class="help-block">Please provide your first name</p>#}
                                        </div>
                                        {{ form_errors(form.single_cp_cost) }}
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="controls">
                                            {{ form_widget(form.single_ap_cost, {'attr':{'class': 'form-control input-lg', 'placeholder': 'Individual AP Cost'}}) }}
                                            <p></p>
                                            {#<p class="help-block">Please provide your first name</p>#}
                                        </div>
                                        {{ form_errors(form.single_ap_cost) }}
                                    </div>
                                    <div class="col-lg-3" style="padding-right: 0px">
                                        <div class="controls">
                                            {{ form_widget(form.single_map_cost, {'attr':{'class': 'form-control input-lg', 'placeholder': 'Individual MAP Cost'}}) }}
                                            <p></p>
                                            {#<p class="help-block">Please provide your first name</p>#}
                                        </div>
                                        {{ form_errors(form.single_map_cost) }}
                                    </div>
                                </div>
                                <div class="control-group">
                                    <span style="display: block">Dual</span>
                                    <div class="col-lg-3" style="padding-left: 0px;">
                                        <div class="controls">
                                            {{ form_widget(form.double_ep_cost, {'attr':{'class': 'form-control input-lg', 'placeholder': 'Dual EP Cost'}}) }}
                                            <p></p>
                                            {#<p class="help-block">Please provide your first name</p>#}
                                        </div>
                                        {{ form_errors(form.double_ep_cost) }}
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="controls">
                                            {{ form_widget(form.double_cp_cost, {'attr':{'class': 'form-control input-lg', 'placeholder': 'Dual CP Cost'}}) }}
                                            <p></p>
                                            {#<p class="help-block">Please provide your first name</p>#}
                                        </div>
                                        {{ form_errors(form.double_cp_cost) }}
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="controls">
                                            {{ form_widget(form.double_ap_cost, {'attr':{'class': 'form-control input-lg', 'placeholder': 'Dual AP Cost'}}) }}
                                            <p></p>
                                            {#<p class="help-block">Please provide your first name</p>#}
                                        </div>
                                        {{ form_errors(form.double_ap_cost) }}
                                    </div>
                                    <div class="col-lg-3" style="padding-right: 0px">
                                        <div class="controls">
                                            {{ form_widget(form.double_map_cost, {'attr':{'class': 'form-control input-lg', 'placeholder': 'Dual MAP Cost'}}) }}
                                            <p></p>
                                            {#<p class="help-block">Please provide your first name</p>#}
                                        </div>
                                        {{ form_errors(form.double_map_cost) }}
                                    </div>
                                </div>
                            </div>
                            <section>
                                <span style="display: block; font-weight: bold">Extra Person Costs</span>
                                <div class="control-group">
                                    {{form_widget(form.extra_person.room, {'attr': {'hidden': true}}) }}
                                    <div class="col-lg-3" style="padding-left: 0px;">
                                        <div class="controls">
                                            {{ form_widget(form.extra_person.adult_ep_cost, {'attr':{'class': 'form-control', 'placeholder': 'Extra Adult EP Cost'}}) }}
                                            <p></p>
                                        </div>
                                        {{ form_errors(form.extra_person.adult_ep_cost) }}
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="controls">
                                            {{ form_widget(form.extra_person.adult_cp_cost, {'attr':{'class': 'form-control', 'placeholder': 'Extra Adult CP Cost'}}) }}
                                            <p></p>
                                        </div>
                                        {{ form_errors(form.extra_person.adult_cp_cost) }}
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="controls">
                                            {{ form_widget(form.extra_person.adult_ap_cost, {'attr':{'class': 'form-control', 'placeholder': 'Extra Adult AP Cost'}}) }}
                                            <p></p>
                                        </div>
                                        {{ form_errors(form.extra_person.adult_ap_cost) }}
                                    </div>
                                    <div class="col-lg-3" style="padding-right: 0px;">
                                        <div class="controls">
                                            {{ form_widget(form.extra_person.adult_map_cost, {'attr':{'class': 'form-control', 'placeholder': 'Extra Adult MAP Cost'}}) }}
                                            <p></p>
                                        </div>
                                        {{ form_errors(form.extra_person.adult_map_cost) }}
                                    </div>
                                </div>
                                <div class="control-group">
                                    {{form_widget(form.extra_person.room, {'attr': {'hidden': true}}) }}
                                    <div class="col-lg-3" style="padding-left: 0px;">
                                        <div class="controls">
                                            {{ form_widget(form.extra_person.child_with_bed_ep_cost, {'attr':{'class': 'form-control', 'placeholder': 'Child With Bed EP Cost'}}) }}
                                            <p></p>
                                        </div>
                                        {{ form_errors(form.extra_person.child_with_bed_ep_cost) }}
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="controls">
                                            {{ form_widget(form.extra_person.child_with_bed_cp_cost, {'attr':{'class': 'form-control', 'placeholder': 'Child With Bed CP Cost'}}) }}
                                            <p></p>
                                        </div>
                                        {{ form_errors(form.extra_person.child_with_bed_cp_cost) }}
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="controls">
                                            {{ form_widget(form.extra_person.child_with_bed_ap_cost, {'attr':{'class': 'form-control', 'placeholder': 'Child With Bed AP Cost'}}) }}
                                            <p></p>
                                        </div>
                                        {{ form_errors(form.extra_person.child_with_bed_ap_cost) }}
                                    </div>
                                    <div class="col-lg-3" style="padding-right: 0px;">
                                        <div class="controls">
                                            {{ form_widget(form.extra_person.child_with_bed_map_cost, {'attr':{'class': 'form-control', 'placeholder': 'Child With Bed MAP Cost'}}) }}
                                            <p></p>
                                        </div>
                                        {{ form_errors(form.extra_person.child_with_bed_map_cost) }}
                                    </div>
                                </div>
                                <div class="control-group">
                                    {{form_widget(form.extra_person.room, {'attr': {'hidden': true}}) }}
                                    <div class="col-lg-3" style="padding-left: 0px;">
                                        <div class="controls">
                                            {{ form_widget(form.extra_person.child_without_bed_ep_cost, {'attr':{'class': 'form-control', 'placeholder': 'Child Without Bed EP Cost'}}) }}
                                            <p></p>
                                        </div>
                                        {{ form_errors(form.extra_person.child_without_bed_ep_cost) }}
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="controls">
                                            {{ form_widget(form.extra_person.child_without_bed_cp_cost, {'attr':{'class': 'form-control', 'placeholder': 'Child Without Bed CP Cost'}}) }}
                                            <p></p>
                                        </div>
                                        {{ form_errors(form.extra_person.child_without_bed_cp_cost) }}
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="controls">
                                            {{ form_widget(form.extra_person.child_without_bed_ap_cost, {'attr':{'class': 'form-control', 'placeholder': 'Child Without Bed AP Cost'}}) }}
                                            <p></p>
                                        </div>
                                        {{ form_errors(form.extra_person.child_without_bed_ap_cost) }}
                                    </div>
                                    <div class="col-lg-3" style="padding-right: 0px;">
                                        <div class="controls">
                                            {{ form_widget(form.extra_person.child_without_bed_map_cost, {'attr':{'class': 'form-control', 'placeholder': 'Child Without Bed MAP Cost'}}) }}
                                            <p></p>
                                        </div>
                                        {{ form_errors(form.extra_person.child_without_bed_map_cost) }}
                                    </div>
                                </div>
                            </section>
                            <div class="control-group">
                                {{ form_label(form.adult) }}
                                <div class="controls">
                                    {{ form_widget(form.adult, {'attr':{'class': 'form-control'}}) }}
                                    <p></p>
                                    {#<p class="help-block">Please provide your first name</p>#}
                                </div>
                                {{ form_errors(form.adult) }}
                            </div>
                            <div class="control-group">
                                {{ form_label(form.maxPerson) }}
                                <div class="controls">
                                    {{ form_widget(form.maxPerson, {'attr':{'class': 'form-control'}}) }}
                                    <p></p>
                                    {#<p class="help-block">Please provide your first name</p>#}
                                </div>
                                {{ form_errors(form.maxPerson) }}
                            </div>
                            <div class="control-group">
                                {{ form_label(form.roomCount) }}
                                <div class="controls">
                                    {{ form_widget(form.roomCount, {'attr':{'class': 'form-control'}}) }}
                                    <p></p>
                                    {#<p class="help-block">Please provide your first name</p>#}
                                </div>
                                {{ form_errors(form.roomCount) }}
                            </div>
                            <div class="control-group">
                                {{ form_label(form.description) }}
                                <div class="controls">
                                    {{ form_widget(form.description, {'attr':{'class': 'form-control','rows':6}}) }}
                                    <p></p>
                                    {#<p class="help-block">Please provide your first name</p>#}
                                </div>
                                {{ form_errors(form.description) }}
                            </div>
                            {#<div class="control-group amenities">#}
                                {#<label>Amenities</label>#}
                                {#<div class="controls">#}
                                    {#{{ form_widget(form.amenities, {'attr':{'class': ''}}) }}#}
                                    {#<p></p>#}
                                    {#<p class="help-block">Please provide your first name</p>#}
                                {#</div>#}
                                {#{{ form_errors(form.amenities) }}#}
                            {#</div>#}
                            <div class="control-group">
                                {{ form_label(form.smoking) }}
                                <div class="controls">
                                    {{ form_widget(form.smoking, {'attr':{'class': ''}}) }}
                                    <p></p>
                                    {#<p class="help-block">Please provide your first name</p>#}
                                </div>
                                {{ form_errors(form.smoking) }}
                            </div>

                            <hr>
                            <div class="control-group">

                                {{ form_label(form.imageurl) }}
                                <div class="controls">
                                    {{ form_widget(form.imageurl, {'attr':{'class': 'btn btn-default btn-file'}}) }}
                                    <p></p>
                                    {#<p class="help-block">Please provide your first name</p>#}
                                </div>
                                <span class="text-danger">{{ form_errors(form.imageurl) }}</span>
                            </div>
                            <hr>
                            <div class="gallery">
                                <span style="font-weight: bold;">Room Images</span>
                                <ul class="clearfix" style="list-style:none; margin: 0; padding: 0">
                                    {% for i in form.image %}
                                    {% if i is defined and i is not empty %}
                                        <li style="position: relative; width: 20em; font-size:12px; float:left; padding:10px; margin:10px 10px 10px 0px; list-style: none;">
                                            <p style="display:none;">{{ form_widget(i.file) }}</p>
                                            {#<a href="#" class="close">Close Block</a>#}
                                            {#{{ form_label(i.file) }}#}
                                            {{ form_errors(i.file) }}
                                            <p></p>
                                            {{ form_widget(i.alt_text) }}
                                            {{ form_errors(i.alt_text) }}
                                        </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                                <p>&nbsp;</p>
                                <button name="gallery" class="add_block black x-small btn btn-sm btn-default"  id="1"> <i class="fa  fa-plus-circle"></i> Add image</button>
                                <p>&nbsp;</p>
                            </div>
                            <input type="submit" value="Submit" class="btn btn-sm btn-success"/>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    {{ form_end(form) }}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-body">
                    <a href="{{ path('rooms_index') }}" class="btn btn-sm btn-default">
                    <i class="fa fa-reply fa-fw"></i> Back to the list</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script>
        function addBlockForm($collectionHolder, grid, that) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            // get the new index
            var index = $collectionHolder.data('index');
            console.log($collectionHolder);
            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);
            newForm = newForm.replace(/__val__/g, index+1);
            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            switch(grid){
                case '1' : that.parent().find('ul').append(newForm);
                    removeBlock(grid);
                    break;
                    //
                    //default : // Display the form in the page in an li, before the "Add a tag" link li
                    //    var $newBlock = $('<div class="wrapper-inner float"></div>').append(newForm);
                    //    $collectionHolder.append($newBlock);
            }
        }

        function removeBlock(grid){
            switch(grid) {
                case '1' :
                    $('.remove_block').on('click', function (e) {
                        e.preventDefault();
                        $(this).parent().remove();
                    });
                    break;
            }
        }

        function addTagFormDeleteLink($tagFormLi) {
            var removeFormA = document.createElement("SPAN");
            removeFormA.setAttribute('class', 'remove_block');
            removeFormA.innerHTML = '&times';
            console.log(removeFormA);
            $tagFormLi.appendChild(removeFormA);

            removeFormA.addEventListener('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }

        $(document).ready(function() {
            var collectionHolder,
                    grid ;

            // add a delete link to all of the existing tag form li elements
            $('.form-wrapper').find('.gallery li').each(function() {
                addTagFormDeleteLink($(this));
            });

            $('.add_block').on('click', function(e) {
                e.preventDefault();
                // Get the fieldset that holds the collection of blocks
                collectionHolder = $('#' + this.name);

                grid = $(this).attr('id');
                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)

                collectionHolder.data('index', collectionHolder.find('.gallery ul li').length);
                // add a new tag form (see next code block)
                addBlockForm(collectionHolder, grid, $(this));
            });

        });
    </script>
{% endblock %}
