{% extends 'admin.html.twig' %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Edit Review</h2>
    </div>
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>Review</strong><br><br>
                        {{ form_start(edit_form) }}
                        <div class="form-wrapper">
                            <div class="control-group">
                                {{ form_label(edit_form.name) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.name) }}
                                    <p></p>
                                </div>
                                {{ form_errors(edit_form) }}
                            </div>
                        </div>
                        {{ form_end(edit_form) }}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
