{% extends 'admin.html.twig' %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Reviews</h2>
    </div>
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>Property Reviews</strong><br><br>
                        <div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Sl. No.</th>
                                    <th>Property Name</th>
                                    <th>Customer Name</th>
                                    <th>Email</th>
                                    <th>Comment</th>
                                    <th>Rating</th>
                                    <th>Created</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for review in reviews %}
                                    {% if review.property is not null %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ review.property }}</td>
                                            <td>{{ review.name }}</td>
                                            <td>{{ review.email }}</td>
                                            <td style="width: 33vw">{{ review.comment }}</td>
                                            <td>{{ review.rating }}</td>
                                            <td>{{ review.created|date('d-m-Y') }}</td>
                                            {% if review.status == true %}
                                                <td><input type="checkbox" checked onclick="updateReviewStatus({{ review.id }}, 0)"></td>
                                            {% else %}
                                                <td><input type="checkbox" onclick="updateReviewStatus({{ review.id }}, 1)"></td>
                                            {% endif %}
                                            {#<td>
                                                <a href="{{ path('review_edit', { 'id': review.id }) }}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i>edit</a>
                                            </td>#}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="panel-body">
                        <strong>Tour Reviews</strong><br><br>
                        <div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Sl. No.</th>
                                    <th>Tour Name</th>
                                    <th>Customer Name</th>
                                    <th>Email</th>
                                    <th>Comment</th>
                                    <th>Rating</th>
                                    <th>Created</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for review in reviews %}
                                    {% if review.tour is not null %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ review.tour }}</td>
                                            <td>{{ review.name }}</td>
                                            <td>{{ review.email }}</td>
                                            <td style="width: 33vw">{{ review.comment }}</td>
                                            <td>{{ review.rating }}</td>
                                            <td>{{ review.created|date('d-m-Y') }}</td>
                                            {% if review.status ==true %}
                                                <td><input type="checkbox" checked onclick="updateReviewStatus({{ review.id }}, 0)"></td>
                                            {% else %}
                                                <td><input type="checkbox" onclick="updateReviewStatus({{ review.id }}, 1)"></td>
                                            {% endif %}
                                            {#<td>
                                                <a href="{{ path('review_edit', { 'id': review.id }) }}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i>edit</a>
                                            </td>#}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        //update review status
        function updateReviewStatus(id, value) {
            var url = Routing.generate('update_review_status');

            $.ajax({
                url: url,
                data: {
                    reviewId: id,
                    status: value
                },
                method: 'POST',
                error: function (e) {
                    alert('error');
                }
            });
        }
    </script>
{% endblock %}
