<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Dashboard | Travel Agent Portal{% endblock %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('dashboard/css/theme-default.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">


    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<!-- START PAGE CONTAINER -->
<div class="page-container">

    <!-- START PAGE SIDEBAR -->
    <div class="page-sidebar">
        <!-- START X-NAVIGATION -->
        <ul class="x-navigation">
            <li class="xn-logo">
                <a href="javascript:void(0);">Admin Panel</a>
                <a href="#" class="x-navigation-control"></a>
            </li>
            <li class="xn-profile">
                <a href="#" class="profile-mini">
                </a>
                <div class="profile">
                    <div class="profile-image">
                    </div>
                    <div class="profile-data">
                        <div class="profile-data-title">Travel Agent Portal</div>
                    </div>
                </div>
            </li>

            <li>
                <a href="{{ path('user_index') }}"><span class="fa fa-user"></span> <span class="xn-text">User</span></a>
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('states_index') }}"><span class="fa fa-university"></span> <span class="xn-text">States</span></a>
                <a href="{{ path('location_index') }}"><span class="fa fa-map-marker"></span> <span class="xn-text">Location</span></a>
                <a href="{{ path('property_index') }}"><span class="fa fa-home"></span> <span class="xn-text">Property</span></a>
                <a href="{{ path('rooms_index') }}"><span class="fa fa-windows"></span> <span class="xn-text">Rooms</span></a>
                <a href="{{ path('experiences_index') }}"><span class="fa fa-picture-o"></span> <span class="xn-text">Experiences</span></a>
                <a href="{{ path('tour_index') }}"><span class="fa fa-paper-plane-o"></span> <span class="xn-text">Tours</span></a>
                <a href="{{ path('host_index') }}"><span class="fa fa-users"></span> <span class="xn-text">Hosts</span></a>
                <a href="{{ path('facilities_index') }}"><span class="fa fa-list"></span> <span class="xn-text">Facilities</span></a>
                <a href="{{ path('discount_index') }}"><span class="fa fa-tags"></span><span class="xn-text">Discounts</span></a>
                <a href="{{ path('review_index') }}"><span class="fa fa-comment"></span><span class="xn-text">Reviews</span></a>
                <a href="{{ path('ourguest_settings') }}"><span class="fa fa-gears"></span><span class="xn-text">OurGuest Settings</span></a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_AGENT') %}
<li>
                <a href="{{ path('reservation_index') }}"><span class="fa fa-calendar"></span> <span class="xn-text">Bookings</span></a>
            </li>
            {% endif %}
        </ul>
        <!-- END X-NAVIGATION -->
    </div>
    <!-- END PAGE SIDEBAR -->

    <!-- PAGE CONTENT -->
    <div class="page-content"style="height: fit-content;padding-bottom:15px">

        <!-- START X-NAVIGATION VERTICAL -->
        <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
            <!-- TOGGLE NAVIGATION -->
            <li class="xn-icon-button">
                <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
            </li>
            <!-- END TOGGLE NAVIGATION -->

            <!-- SIGN OUT -->
            <li class="xn-icon-button pull-right">
                <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
            </li>
            <!-- END SIGN OUT -->

            <!-- MESSAGES -->
            <li class="xn-icon-button pull-right">
                <a href="{{ path('landing') }}">Home</a>
            </li>
            <!-- END MESSAGES -->

        </ul>
        <!-- END X-NAVIGATION VERTICAL -->

        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li>Welcome to Admin Panel</li>
        </ul>
        <!-- END BREADCRUMB -->

        {% block body %}{% endblock %}
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->


    <!-- MESSAGE BOX-->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                <div class="mb-content">
                    <p>Are you sure you want to log out?</p>
                    <p>Press No if you want to continue work. Press Yes to logout current user.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-success btn-lg">Yes</a>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MESSAGE BOX-->

    <!-- START PRELOADS -->
    <audio id="audio-alert" src="{{ asset('dashboard/audio/alert.mp3') }}" preload="auto"></audio>
    <audio id="audio-fail" src="{{ asset('dashboard/audio/fail.mp3') }}" preload="auto"></audio>
    <!-- END PRELOADS -->

    {% block javascripts %}
            <script src="{{ asset('dashboard/js/plugins/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('dashboard/js/plugins/jquery/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('dashboard/js/plugins/bootstrap/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>


            <script src="{{ asset('dashboard/js/plugins/blueimp/jquery.blueimp-gallery.min.js') }}"></script>
            <script src="{{ asset('dashboard/js/plugins/dropzone/dropzone.min.js') }}"></script>
            <script src="{{ asset('dashboard/js/plugins/icheck/icheck.min.js') }}"></script>

            {#WYSIYUG#}
            <script src="{{ asset('dashboard/js/plugins/summernote/summernote.js') }}"></script>


            <script src="{{ asset('dashboard/js/plugins.js') }}"></script>
            <script src="{{ asset('dashboard/js/actions.js') }}"></script>
            <script>
            $("form").submit(function(e) {

                var ref = $(this).find("[required]");

                $(ref).each(function(){
                    if ( $(this).val() == '' )
                    {

                        if ( $(".control-group input").val() == '' ){

                            $('.control-group input').css({'border':'1px solid red'});
                        }
                        alert("Required field should not be blank.");

                        $(this).focus();

                        e.preventDefault();
                        return false;
                    }
                });  return true;
            });
            </script>
            {#<script src="{{ asset('js/jquery.min.js') }}"></script>#}
            {#<script src="{{ asset('js/bootstrap.min.js') }}"></script>#}
            {#<script src="{{ asset('js/metisMenu.min.js') }}"></script>#}
            {#<script src="{{ asset('js/sb-admin-2.js') }}"></script>#}
        {% endblock %}
    </body>
</html>
