<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='description' content='Tired of checking availability for rooms. We care!' />
    <meta name='keywords' content='hotels in sikkim, sikkim tour, sikkim travel planner, hotels in Gangtok, cheap hotels in Gangtok sikkim, good hotels in Gangtok, budget hotels in sikkim, hotel booking in sikkim, sikkim online booking, sikkim hotels and restaurants, hoTels in lachung, hotels in pelling, sikkim tour booking, sikkim tour package, sikkim hotel booking website, 3 star hotels In Sikkim, 4 star hotels in sikkim, 5 star hotels in sikkim, hotels at mg marg Gangtok, best hotel deal in gangtok, best hotel deal in sikkim.' />
    <meta name="robots" content="follow">
    <title>{% block title %}Travel Agent Portal{% endblock %}</title>
    {% block stylesheets %}
        <link type="text/css" rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}">
        <link rel="stylesheet" href="{{ asset('css/owl.theme.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/smoothness/jquery-ui-1.10.4.custom.min.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
</head>
<style>
    .mpopup{
        display:none;
        position:fixed;
        z-index:9999;
        padding-top:100px;
        left:0;
        top:0;
        width:100%;
        height:100%;
        overflow:auto;
        background-color:rgba(0,0,0,.7)
    }
    .mpopup-content{
        position:relative;
        background-color: #fefefe;
        margin:auto;
        padding:0;
        width:623px;
        height:415px;
        box-shadow:0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
        -webkit-animation-name:animatetop;
        -webkit-animation-duration:.4s;
        animation-name:animatetop;
        animation-duration:.4s;
        color:#fff;
        background-image: url({{ asset('/images/add.jpg')}});
        font-family:"Playfair Display",serif;
        border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px
    }
    .mpopup-head{
        padding:2px 16px;
        color:#fff
    }
    .mpopup-main{
        padding:30px 16px 10px 16px;
        font-size:20px
    }
    .mpopup-main input[type=text]{
        width:30%;
        height:25px;
        font-size:15px
    }
    .mpopup-main input[type=submit]{
        padding:5px;
        font-size:15px;
        font-weight:700;
        background-color:#333;
        outline:0;
        border:none;
        color:#fff;
        cursor:pointer
    }
    .mpopup-foot{
        padding:10px 16px;
        color:#f1f1f1;
        bottom:0;
        position:absolute;
        text-align:center;
        width:623px;
        line-height:12px;
        font-size:16px;
        font-weight:400;
        background-color:rgba(0,0,0,.5)
    }
    .mpopup-foot a{
        color:#fff
    }

    @-webkit-keyframes animatetop{from{top:-300px;opacity:0}to{top:0;opacity:1}}@keyframes animatetop{from{top:-300px;opacity:0}to{top:0;opacity:1}}
</style>
<body>
<!-- Header -->

<!-- PopUp -->
<div id="mpopupBox" class="mpopup hidden-xs">
    <!-- mPopup content -->
    <div class="mpopup-content">
        <div class="mpopup-head">
            <span class="close">×</span>
            <!--<h2>Subscibe Our Newsletter</h2>-->
        </div>
        <div class="mpopup-main">
            <p align="center">"This site has been built specially for our Travel Partners.<br>
                - Make your bookings here and avail discounts upto 50%!"</p>
            <!--<p><input type="text" id="email" placeholder="Enter your email"/></p>-->
            <!--<p><input type="submit" value="SUBSCRIBE"/></p>-->
        </div>
        {#<div id="ribbon-container">
            <h5><strong>&nbsp&nbspBook for July-September and get 20% off on all rooms!<br>
                    Contact us: +91 9733503347/thebarfungretreat@gmail.com</strong></h5>
        </div>#}
        <div class="mpopup-foot">
            <p>Powered By Ourguest Hospitality</p>
            <a href="https://www.ourguest.in" target="_blank">www.ourguest.in</a>
        </div>
    </div>
</div>

<header id="header_wrap">
    <!-- Navigation -->
    {#<div id="helpline">#}
    {#<div class="container">#}
        {#<div class="call-at">#}
            {#<span><a href="{{ path('admin') }}">Login</a> | <a href="{{ path('fos_user_registration_register') }}">Register</a></span>#}
        {#</div>#}
    {#</div>#}
    {#</div>#}
    <div class="navbar navbar-default" id="sticky">
        <div class="container">
            <div class="navbar-header col-lg-8">
                <button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid" class="navbar-toggle">
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a href="{{ path('og_admin') }}" class="navbar-brand">
                    <!-- Logo -->
                    <div id="logo"><a href="{{ path('og_admin') }}"><img src="{{ asset('images/logo.png') }}"></a></div>
                </a>
                <!-- Helpline -->
                <div id="helpline" class="hidden-xs">
                    <div class="call-at">
                        <span>For any help contact @ +91 - 8286088321 / 9733503347</span>
                    </div>
                    <div class="email-at">
                        <span>ourguesttravel@gmail.com</span>
                    </div>
                </div>
            </div>
            <div id="navbar-collapse-grid" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('landing') }}">Home</a></li>
                    <li><a href="{{ path('contact_us') }}">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
{% block body %}{% endblock %}
{#<section id="main-content">#}
    {#<div class="container">#}
        {#<div class="row">#}

        {#</div>#}
    {#</div>#}
{#</section>#}
<!-- Footer -->
<footer>
    {#<div class="container">#}
        {#<div class="row">#}
            {#<div class="col-md-3 col-sm-3">#}
                {#<h4>Address:</h4>#}
                {#<p>Decorum LLP,<br>#}
                    {#A 246, New Ashok Nagar,<br>#}
                    {#Delhi - 110096</p>#}
            {#</div>#}
            {#<div class="col-md-3 col-sm-3">#}
                {#<h4>Contact:</h4>#}
                {#<address>#}
                    {#Decorum LLP,<br>#}
                    {#Upper Sichey, Gangtok,<br>#}
                    {#Sikkim – 737301#}
                {#</address>#}
            {#</div>#}
            {#<div class="col-md-2 col-sm-2">#}
                {#<ul>#}
                    {#<li>#}
                        {#<a href="{{ path('homepage') }}">Home</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="#">About</a>#}
                    {#</li>#}
                    {#<li><a href="#">Contact</a></li>#}
                {#</ul>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">&copy; 2018 All Rights Reserved </div>
                <div class="col-xs-6 text-right">
                </div>
            </div>
        </div>
    </div>
</footer>
{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/site.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui-1.10.4.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.sticky.js') }}"></script>
    {#<script type="text/javascript" src="{{ asset('js/jquery.forms.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/enscroll-0.6.1.min.js') }}"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" type="text/javascript"></script>
    <script>
        //function subscriptionPopup(){
        $(document).ready(function() {
            // get the mPopup
            var mpopup = $('#mpopupBox');

            // open the mPopup
            mpopup.show();

            // close the mPopup once close element is clicked
            $(".close").on('click',function(){
                mpopup.hide();
            });

            // close the mPopup when user clicks outside of the box
            $(window).on('click', function(e) {
                if(e.target === mpopup[0]){
                    mpopup.hide();
                }
            });
        });

        $(document).ready(function() {
            /*setTimeout( function() {
             subscriptionPopup();
             },2000);*/
            $.removeCookie("popDisplayed");
            var popDisplayed = $.cookie('popDisplayed');
            if(popDisplayed === '1'){
                return false;
            }else{
                setTimeout( function() {
                    subscriptionPopup();
                },8000);
                $.cookie('popDisplayed', '1', { expires: 1 });
            }
        });
    </script>
    {#<script type="text/javascript">#}
        {#$('#reservationform').submit(function(e) {#}
            {#document.location-page = $(this).find('[name="room"]').val();#}

            {#e.preventDefault();#}
            {#return false;#}
        {#});#}
    {#</script>#}
{% endblock %}
</body>
</html>
