<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock %}
    <title>{% block title %}OurGuest{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/ourguest-style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker3.standalone.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />


        <link href="https://fonts.googleapis.com/css?family=Lato|Quicksand|Mansalva&display=swap" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css">

    {% endblock %}

    {#<script src="https://www.google.com/recaptcha/api.js" async defer></script>#}
</head>
<body>

{{ render(controller('OurguestBundle:Default:navigationBar')) }}

<!-- END header -->
{% block body %}{% endblock %}
<!-- Selling Point for Products -->
{{ render(controller('OurguestBundle:Default:suggested')) }}

</body>

{#<div class="contact-info-side">
    <div class="phone-icon">
        <i class="fa fa-phone" id="phone-icon"></i>
    </div>
    <div class="contact-info-side__slide d-flex flex-column align-content-between">
        <h5 class="text-center">Contact Us</h5>
        <span>+91 8765443656</span>
        <span>contact@ourguest.in</span>
    </div>
</div>#}

<div class="modal" id="video-popup">
    <div id="video-container">
    </div>
</div>

{{ render(controller('OurguestBundle:Faqs:displayFaqs')) }}

<footer class="site-footer mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3 newsletter-signup">
                <ul>
                    <li>
                        <h5 class="pb-2">Join us for our latest deals!</h5>
                    </li>
                    <li>
                        <div class="col-12 d-flex flex-row">
                            {{ render(controller('OurguestBundle:Default:newsletterSignup')) }}
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 d-flex flex-wrap footer-right">
                <div class="col-6 col-md-3">
                    <ul>
                        <li>
                            <h5>Useful Links</h5>
                        </li>
                        <li>
                            <a href="{{ path('customisable_tours_main') }}" target="_blank"><span>Packaged Tours</span></a>
                        </li>
                        <li>
                            <a href="{{ path('homestays_main') }}" target="_blank"><span>Homestays</span></a>
                        </li>
                        <li>
                            <a href="{{ path('location_page_main', {'slug':'sikkim'}) }}" target="_blank"><span>Sikkim</span></a>
                        </li>
                        <li>
                            <a href="{{ path('location_page_main', {'slug':'west-bengal'}) }}" target="_blank"><span>West Bengal</span></a>
                        </li>
                        <li>
                            <a href="{{ path('location_page_main', {'slug':'meghalaya'}) }}" target="_blank"><span>Meghalaya</span></a>
                        </li>
                        <li>
                            <a href="{{ path('location_page_main', {'slug':'nagaland'}) }}" target="_blank"><span>Nagaland</span></a>
                        </li>
                        <li>
                            <a href="{{ path('location_page_main', {'slug':'assam'}) }}" target="_blank"><span>Assam</span></a>
                        </li>
                        <li>
                            <a href="{{ path('location_page_main', {'slug':'arunachal'}) }}" target="_blank"><span>Arunachal</span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <ul>
                        <li>
                            <h5>Company</h5>
                        </li>
                        <li>
                            <a href="{{ path('about_us') }}"><span>About Us</span></a>
                        </li>
                        <li>
                            <a href="{{ path('blogs') }}"><span>Blog</span></a>
                        </li>
                        <li>
                            <a href="{{ path('contact_og') }}"><span>Contact Us</span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <ul>
                        <li>
                            <h5>Resources</h5>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#faqsModal"><span>FAQs</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Guidelines</span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 social-button-links">
                    <ul>
                        <li>
                            <h5>Connect</h5>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/ourguestdiary/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/ourguestdiary/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.youtube.com/channel/UCLMiLjV0I8nUeTc95-U5uoA/videos" target="_blank"><i class="fa fa-youtube-play"></i></a>
                            <a href="https://twitter.com/OurGuest_travel" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-end text-center">
        Copyright <i class="fa fa-copyright"></i> 2019 All Rights Reserved by OurGuest.in
    </div>
</footer>
<!-- END footer -->

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery-3.3.1.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.sticky1.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
    <script src="https://use.fontawesome.com/f55ef537ef.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript" src="{{ asset('js/og-custom.js') }}"></script>
{% endblock %}
</html>
