
<li style="list-style: none; margin:10px 5px; border-radius:5px; width:100%; border: 1px solid #dbdbdb; padding:10px;float: left; display: inline-block">

    <div class="row">
        <div class="col-lg-1"><strong> __val__</strong></div>

        <div class="col-lg-12">
            <strong>Question</strong>
            {{ form_errors(val.question) }}
            {{ form_widget(val.question, {'attr':{'class': 'form-control'}}) }}
        </div>
        <div class="col-lg-12">
            <strong>Answer</strong>
            {{ form_errors(val.answer) }}
            {{ form_widget(val.answer, {'attr':{'class': 'form-control', 'rows':2}}) }}
        </div>
    </div>
    <a href="#" class="remove_block" style="color:#111; float: right"><i class="glyphicon glyphicon-remove"></i></a>


</li>