{% extends '::admin.html.twig' %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Edit Location </h2>
    </div>
    {{ form_start(edit_form) }}
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            <i class="fa fa-check-circle"></i> {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>Add or Edit Content</strong><br><br>

                        <div class="control-group">
                            {{ form_label(edit_form.name) }}
                            <div class="controls">
                                {{ form_widget(edit_form.name, {'attr':{'class': 'form-control input-lg'}}) }}
                                <p></p>
                                <p></p>
                                {#<p class="help-block">Please provide your first name</p>#}
                            </div>
                            {{ form_errors(edit_form.name) }}
                        </div>

                        <div class="control-group">
                            {{ form_label(edit_form.description) }}
                            <div class="controls">
                                {{ form_widget(edit_form.description, {'attr':{'class': 'form-control input-lg'}}) }}
                                <p></p>
                                <p></p>
                            </div>
                            {{ form_errors(edit_form.description) }}
                        </div>

                        <div class="control-group">
                            {{ form_label(edit_form.state) }}
                            <div class="controls">
                                {{ form_widget(edit_form.state) }}
                                <p></p>
                                <p></p>
                            </div>
                            {{ form_errors(edit_form.state) }}
                        </div>

                        <br>

                        <input type="submit" value="Submit" class="btn btn-sm btn-success"/>
                    </div>
                </div>
            </div>

        </div>

    </div>
    {{ form_end(edit_form) }}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-body">
                    {{ form_start(delete_form) }}
                    <a href="{{ path('location_index') }}"
                       class="btn btn-sm btn-default"><i
                                class="fa fa-reply fa-fw"></i> Back to the list</a>
                    <input type="submit" value="Delete"
                           onclick="return confirm('Do you really want to delete this entry?')"
                           class="btn btn-sm btn-danger">
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

