{% extends '::admin.html.twig' %}

{% block body %}

    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Location List</h2>
    </div>
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-6">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>Add or Edit Content</strong><br><br>
                        <div>

                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Sl. No</th>
                                    <th>Name</th>
                                    <th>State</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for location in locations %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ location.name }}</td>
                                        <td>{{ location.state }}</td>
                                        <td width="15%">
                                            <table>
                                                <tr>
                                                    {#<td width="80px">#}
                                                    {#<a href="{{ path('property_show', { 'id': property.id }) }}" class="btn btn-sm btn-success"><i class="fa fa-eye"></i> show</a>#}
                                                    {#</td>#}
                                                    <td width="80px">
                                                        <a href="{{ path('location_edit', { 'id': location.id }) }}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i> edit </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <br>
                        </div>
                        <a href="{{ path('location_new') }}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i>Add New Location</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

