{% extends '::admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
{% endblock %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Add Location </h2>
    </div>
    {{ form_start(form) }}
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-6">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            <i class="fa fa-check-circle"></i> {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>Add or Edit Content</strong><br><br>

                        <div class="control-group">
                            {{ form_label(form.name) }}
                            <div class="controls">
                                {{ form_widget(form.name, {'attr':{'class': 'form-control input-lg'}}) }}
                                <p></p>
                                <p></p>
                                {#<p class="help-block">Please provide your first name</p>#}
                            </div>
                            {{ form_errors(form.name) }}
                        </div>

                        <div class="control-group">
                            {{ form_label(form.description) }}
                            <div class="controls">
                                {{ form_widget(form.description, {'attr':{'class': 'form-control input-lg'}}) }}
                                <p></p>
                                <p></p>
                            </div>
                            {{ form_errors(form.description) }}
                        </div>

                        <div class="control-group">
                            {{ form_label(form.state) }}
                            <div class="controls">
                                {{ form_widget(form.state) }}
                                <p></p>
                                <p></p>
                            </div>
                            {{ form_errors(form.state) }}
                        </div>

                        <br>

                        <a href="{{ path('location_index') }}"
                           class="btn btn-sm btn-default"><i
                                    class="fa fa-reply fa-fw"></i> Back to the list</a>
                        <input type="submit" value="Submit" class="btn btn-sm btn-success"/>
                    </div>
                </div>
            </div>

        </div>

    </div>
    {{ form_end(form) }}
{% endblock %}

