{% block body %}
    {% if response is defined and response is not empty %}
        {#<br><p class="alert-warning">Available Rooms </p>#}
        {% for var in response %}
            <input type="hidden" name="id" value="{{ var.id }}">
            <div class="box_{{ var.id }}">
                <div class="listing" style="border:none !important;">
                    <div class="col-sm-12 detail" style=" padding: 0 !important;">
                        {#{{ var.reserved_bed_nrs }}#}
                        <h3>{{ var.type }} - {{ var.adult }} Person </h3>
                        {% set roomPlan = session['plan'] %}
                        <p>Plan: {{ roomPlan }}</p>
                        <p>Max person: {{ var.max_person }} </p>
                        <p>Smoking Permitted: {% if var.smoking == true %}Yes {% else %}
                                <strong>No</strong> {% endif %}
                        </p>
                        <p class="price">
                            {#{{ date( session.checkin|date('d/m/Y') ).diff( now ).format('%a') }}#}
                            <span>From</span>
                            {% set rate = defRate + discountRate %}
                            <b style="color: #86bc42; font-size: 15px;" class="price-off">{{ rate }}% off!</b>&nbsp&nbsp<i class="fa fa-rupee "></i>
                            {% set postAdult = session.adult %}
                            {% set postRoom = session.roomNo %}
                            {% if roomPlan == 'CP' %}
                                {% set plan =  var.cp_cost*postAdult %}
                                {% set plan1 =  var.cp_cost %}
                            {% elseif roomPlan == 'EP' %}
                                {% set plan =  var.ep_cost*postAdult %}
                                {% set plan1 =  var.ep_cost %}
                            {% elseif roomPlan == 'AP' %}
                                {% set plan =  var.ap_cost*postAdult %}
                                {% set plan1 =  var.ap_cost %}
                            {% else %}
                                {% set plan =  var.map_cost*postAdult %}
                                {% set plan1 =  var.map_cost %}
                            {% endif %}
                            <s class="replace_{{ var.id }} total-price" style="text-decoration-color: #F30D0D;">{{ var.rate + plan }}</s><br><br>
                            <i class="fa fa-rupee"></i>

                            {% set percentage = (rate/100)*(var.rate + plan) %}
                            {% set finalRate = (var.rate + plan) - percentage %}
                            <strong id="added_{{ var.id }}" class="discount-price">{{ finalRate }}</strong>

                            <span style="color: #F30D0D">
                                 {% if var.free_rooms < 1 %}

                                     no rooms available

                                 {% else %}
                                     <b class="rcount{{ var.id }}">{{ var.free_rooms }}</b> room available
                                 {% endif %}
                                                    </span>
                        </p>
                        {#{% if postRoom  > 1 %}#}
                        {#<select id="first_{{ var.id }}" name="room_adult">#}
                        {#<option value="0">0</option>#}
                        {#</select>#}
                        {#<span class="no_person{{ var.id }}"><i class="text-danger fa fa-info-circle"></i> Select no. of Adult</span>#}
                        {#{% endif %}#}
                        {#<input type="text" hidden="hidden" id="qty_{{ var.id }}" name="quantity" value="1" size="2" />#}
                        {#{% if postRoom  > 1 %}#}
                        {#<br><br><input disabled type="button" id="add_{{ var.id }}" value="Select" class="btnAddAction cart-action btn btn-sm btn-success" onClick="cartAction('add','{{ var.id }}')" style="float: right"/>#}
                        {#{% else %}#}
                        {#<br><br><input type="button" id="add_{{ var.id }}" value="Select" class="btnAddAction cart-action btn btn-sm btn-success" onClick="cartAction('add','{{ var.id }}')" style="float: right"/>#}
                        {#{% endif %}#}
                        <br><br>
                        {#<button type="submit" class="btn btn-success btn-sm btn-block">Search</button>#}
                       {% if var.free_rooms < 1 %}
                           <a class="cart-action btn btn-md btn-block btn-success" href="#" disabled="disabled">Confirm</a>
                           {% else %}
                               <a id="confirm-booking"  class="cart-action btn btn-md btn-block btn-success" href="#">Confirm</a>
                       {% endif %}
                        <a id="cal-booking"  class="cart-action btn btn-md btn-block btn-warning hidden" href="{{ path('booking') }}">Book</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

        {% endfor %}
    {% else %}
        <br>
        <div class="alert alert-warning text-center">
            <h3 class="text-danger">SOLD OUT</h3>
            <p>Please change the search criteria if flexible or call/email us for assistance.<br>
                Please email us at contact@ourguest.in incase of non-availability of rooms.<br>
                Call us at +91 74777 22446.</p>
        </div>
    {% endif %}
    <script>
        $(document).ready(function () {

            var roomSelect = $("#room");
            // Remove current options
            roomSelect.html('<option value="0">0</option>');
            var res = {{ response|json_encode|raw }};
            for (var i = 0; i < res.length; i++) {
                var freeRoom = res[i].free_rooms;
                for (var r = 1; r <= freeRoom; r++) {
                    roomSelect.append('<option value="'+ r + '">'+ r +'</option>');
                }
            }
            {#{% for val in response %}#}
            {#{% set k = val.free_rooms %}#}
            {#{% for i in range(1, k) %}#}
            {#roomSelect.append('<option value="{{ i }}">{{ i }}</option>');#}
            {#{% endfor %}#}
            {#{% endfor %}#}


            $('#room').change(function () {
                var roomSelector = $(this);
                var room = roomSelector.val();

                var guestSelect = $("#adult");
                // Remove current options
                guestSelect.html('<option value="0">0</option>');
                for (var i = 0; i < res.length; i++) {
                    var freeRoom = res[i].max_person;
                }
                var r = Number(room)*Number(freeRoom);
                for (var i = 1; i <= r; i++) {
                    guestSelect.append('<option value="'+ i + '">'+ i +'</option>');
                }

            });

            var guestSelect = $("#adult");
            // Remove current options
            guestSelect.html('<option value="0">0</option>');

            for (var i = 0; i < res.length; i++) {
                var adult = res[i].adult;
                for (var a = 1; a <= adult; a++) {
                    guestSelect.append('<option value="'+ a + '">'+ a +'</option>');
                }
            }
            {#{% for val in response %}#}
            {#{% set k = val.adult %}#}
            {#{% for i in range(1, k) %}#}
            {#guestSelect.append('<option value="{{ i }}">{{ i }}</option>');#}
            {#{% endfor %}#}
            {#{% endfor %}#}

            {#$('#roomPlan').on('change', function() {#}
                {#var roomPlanSelector = $(this);#}
                {#var roomPlan = roomPlanSelector.val()#}
                {#var guestSelect = $("#adult");#}
                {#{% for val in response %}#}
                        {#if(roomPlan == 'CP'){#}

                        {#}#}
                {#{% endfor %}#}
            {#})#}

            $('#room,#adult,#roomPlan').on('change', function() {
                var roomSelector = $('#room');
                var adultSelector = $('#adult');
                var planSelector = $('#roomPlan');
                var room = roomSelector.val()
                var adult = adultSelector.val()
                var plan = planSelector.val()
                var discount = {{ defRate + discountRate }}
                for (var i = 0; i < res.length; i++) {
                    if(plan == 'CP'){
                        var roomPlan = res[i].cp_cost
                    }else if(plan == 'EP'){
                        var roomPlan = res[i].ep_cost
                    }else if(plan == 'AP'){
                        var roomPlan = res[i].ap_cost
                    }else{
                        var roomPlan = res[i].map_cost
                    }

                    var rate1 = res[i].rate * room;
                    var rate2 = roomPlan * adult;
                    var total = Number(rate1) + Number(rate2);
                    var dis =  (discount/100) * total;
                    var totalDiscount = Number(total) - Number(dis);
                }
                {#{% for val in response %}#}
                    {#if(plan == 'CP'){#}
                       {#var roomPlan = {{ val.cp_cost }}#}
                    {#}else if(plan == 'EP'){#}
                        {#var roomPlan = {{ val.ep_cost }}#}
                    {#}else if(plan == 'AP'){#}
                        {#var roomPlan = {{ val.ap_cost }}#}
                    {#}else{#}
                        {#var roomPlan = {{ val.map_cost }}#}
                    {#}#}

                    {#var rate1 = {{ val.rate }} * room;#}
                    {#var rate2 = roomPlan * adult;#}
                    {#var total = Number(rate1) + Number(rate2);#}
                    {#var dis =  (discount/100) * total;#}
                    {#var totalDiscount = Number(total) - Number(dis);#}
                {#console.log(total)#}
                {#console.log(dis)#}
                {#{% endfor %}#}

                var totalPrice = $(".total-price");
                totalPrice.html('');
                totalPrice.append(Math.floor(total))

                var discountPrice = $(".discount-price");
                discountPrice.html('');
                discountPrice.append(Math.floor(totalDiscount))

                calculate()
            })

        });
    </script>
{% endblock %}


