{% block stylesheets %}
	<style>
		@keyframes error {
			0% {margin-right: 5%;}
			25% {margin-right: -5%;}
			50% {margin-right: 5%;}
			75% {margin-right: -5%;}
			100% {margin-right: unset;}
		}

		.form-group span {
				display: block;
		}
		.isDisabled {
				color: currentColor;
				cursor: not-allowed;
				opacity: 0.5;
				text-decoration: none;
		}
		.room-assignment-error {
			width: 100%;
			text-align: center;
			visibility: hidden;
			color: red;
			font-weight: bold;
		}

		.room-assignment-error.show {
			animation-name: error;
			animation-duration: 1s;
			visibility: visible;
		}
		a.cart-action {
			text-decoration: none;
			text-align: center;
		}

		.booking-confirm-button {
			display: block;
			padding: 10px;
			color: white;
			background-color: #6dab3c;
			font-weight: bold;
			margin-top: 30px;
			box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
			transition: box-shadow 0.3s ease-in-out 0s;
		}

		.booking-confirm-button:hover {
			box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
		}

		.booking-confirm-button.no-shadow {
			box-shadow: none;
		}
	</style>
{% endblock %}

{% if cart is defined %}
<table class="table table-striped">
    <tbody>
	<tr>
		<th>Room</th>
        <th>Type</th>
        {#<th>Plan</th>#}
        <th align="center">Adults</th>
        <th align="center">Children</th>
        <th align="center">Price <span style="font-size: 0.7em; display: inline-block">Per Night</span></th>
        {# <th>Action</th> #}
	</tr>
	{% set sum = 0 %}
	{% set totalAdultQuantity = 0 %}
	{% set totalChildQuantity = 0 %}
	{% set totalRoomCost = 0 %}
	{% set percentage = 0 %}
	{% set totalBookingCost = 0 %}
	{% set rate = defRate + discountRate %}
	{% for room in cart %}
	{% set totalAdultQuantity = totalAdultQuantity + room['adult_quantity']%}
	{% set totalChildQuantity = totalChildQuantity + room['child_quantity']%}
	{% set totalRoomCost = totalRoomCost + room['room_cost'] %}
        {# {% if postData['plan'] == 'CP' %}
                {% set plan = room['cp']*room['adult'] %}
        {% elseif postData['plan'] == 'EP' %}
                {% set plan = room['ep']*room['adult'] %}
        {% elseif postData['plan'] == 'AP' %}
                {% set plan = room['ap']*room['adult'] %}
        {% else %}
                {% set plan = room['map']*room['adult'] %}
        {% endif %} #}


        <tr class="room-in-cart">
			<td>{{room['room_combo_index'] + 1}}</td>
			<td>{{ room['type'] }}</td>
			{#<td>{{ room['plan'] }} </td>#}
			<td align="center">{{ room['adult_quantity'] }}</td>
			<td align="center">{{ room['child_quantity'] }}</td>
			<td align="center">
					{{ room['room_cost'] }}
			</td>
                {# <td><a onClick="cartAction('remove','{{ room['id'] }}')" class="btnRemoveAction cart-action btn-xs "><i class="fa fa-times"></i> remove</a></td> #}
        </tr>
        {#{% if room['room_adult'] > room['adult'] %}#}
                {#{% set sum = sum + room['quantity'] * (room['rate'] + plan + sum2)%}#}
        {#{% else %}#}
                {#{% set sum = sum + room['quantity'] * (room['rate'] + plan)%}#}
        {#{% endif %}#}

        {# {% if app.user.category == 1 %}
                {% set gA = 20 %}
        {% elseif app.user.category == 2 %}
                {% set gA = 15 %}
        {% else %}
                {% set gA = 10 %}
        {% endif %} #}
        {% set totalBookingCost = totalBookingCost + totalRoomCost %}
        {# {% set percentage = (gA/100)*totalSum %}
        {% set sum = totalSum - percentage %} #}
        {% endfor %}
<tr style="border-bottom: none">
        <td><b>Sub Total:</b></td>
		<td></td>
        <td align="center"><b>{{ totalAdultQuantity }}</b></td>
        {#<td></td>#}
        <td align="center"><b>{{ totalChildQuantity }}</b> </td>

        <td align="center"><b>{{ totalRoomCost }}</b></td>
</tr>
<tr>
        <td><b>No. of days:</b></td>
        <td></td>
        <td></td>
		<td></td>
        <td align="center"><b>x {{numOfDays}}</b></td>
</tr>
<tr style="border-bottom: 1px solid #f1f1f1">
        <td><b>Total:</b></td>
        <td></td>
        <td></td>
		<td></td>
        <td align="center"><b>{{totalRoomCost * numOfDays}}</b></td>
</tr>
        </tbody>
</table>
        <div class="col">
                <div class="row">
                        <div class="col-sm-6">
                                <div class="form-group">
                                        <label for="checkin">Check In</label>

                                        <i class="fa fa-calendar infield"></i>
                                        <span>{{ postData['checkin']|date('jS M\' Y') }}</span>
                                </div>
                        </div>
                        <div class="col-sm-6">
                                <div class="form-group">
                                        <label for="checkout">Check Out</label>
                                        <i class="fa fa-calendar infield"></i>
                                        <span>{{ postData['checkout']|date('jS M\' Y') }}</span>
                                </div>
                        </div>
                </div>
        </div>
        <div class="col">
                <div class="row">
                        <div class="col-sm-4">
                                <div class="form-group">
                                        <label for="room">Rooms</label>
                                        <span>{{postData['rooms-quantity']}}</span>
                                </div>
                        </div>


                        <div class="col-sm-4">
                                <div class="form-group">
                                        <label for="room">Guests</label>
                                        <span>{{postData['adult-quantity'] + postData['child-quantity']}}</span>
                                </div>
                        </div>

                        <div class="col-sm-4">
                                <div class="form-group">
                                        <label for="room">Meal Plan</label>
                                        <select required class="form-control" name="plan" id="roomPlan" onchange="updatePlanAndRoomCosts(event)">
                                                <option value="CP" {% if postData['plan'] == "CP" %}selected{% endif %}>CP</option>
                                                <option value="EP" {% if postData['plan'] == "EP" %}selected{% endif %}>EP</option>
                                                <option value="AP" {% if postData['plan'] == "AP" %}selected{% endif %}>AP</option>
                                                <option value="MAP" {% if postData['plan'] == "MAP" %}selected{% endif %}>MAP</option>
                                        </select>
                                </div>
                        </div>
                </div>
        </div>
        <div class="room-assignment-error">
			{% if cart|length > 0 %}<span>You need to assign {{ postData['rooms-quantity'] - cart|length }} more rooms</span>
			{% else %}<span>You need to assign {{ postData['rooms-quantity'] }} room(s)</span>
			{% endif %}
		</div>
		
		<a  class="cart-action" href="{{ path('booking') }}" onclick="return checkIfAllRoomsAssigned(event)" onmousedown="toggleBoxShadow(event)" onmouseup="toggleBoxShadow(event)">
			<span class="booking-confirm-button">Confirm</span>
		</a>
{% endif %}