{% extends 'base.html.twig' %}
{% block body %}
    <section id="load-data">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">

                    <div id='calendar'></div>

                    <div>
                        <h2>Contact us</h2>
                        <p>For any queries with respect to your relationship with us you can always contact us directly using the following Information.</p><br>
                        <p><i class="fa fa-map-marker"></i> Yangkhor, below Denzong Regency Hotel Upper, Jeewan Theeng Marg, Gangtok, Sikkim 737101</p>
                        <p><i class="fa fa-phone"></i> +91 74777 22446   / +91 90838 44102</p>
                        <i class="fa fa-envelope"></i> contact@ourguest.in
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="advert">
                        <img src="{{ asset('images/infograph.png') }}" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


