{% block body %}
    <div id="myModal3" class="modal fade" role="dialog" style="margin-top: 100px">
        <div class="modal-dialog modal-dialog-centered">

            <!-- Modal contentt-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title" align="center">Select Dates</h3>
                </div>
                <div class="modal-body">
                    <form id="check-availability-form" role="form" method="post" action="{{ path('search') }}">
                        <input id="location-check-availability" type="hidden" name="location" value="" />
                        <input id="destination-check-availability" type="hidden" name="destination" value="" />
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="checkin-check-availability">Check-in</label>
                                    {#<div class="popover-icon" data-container="body" data-toggle="popover"#}
                                    {#data-trigger="hover" data-placement="right"#}
                                    {#data-content="Check-In is from 11:00"><i class="fa fa-info-circle fa-lg"> </i>#}
                                    {#</div>#}

                                    <i class="fa fa-calendar infield"></i>
                                    <input required name="checkin" type="text" id="checkin-check-availability" value="{% if postData['checkin'] is defined %}{{ postData['checkin']|date("d-m-Y") }}{% else %}{{ 'now'|date("d-m-Y") }}{% endif %}" class="form-control"
                                        placeholder="{{ 'now'|date("d-m-Y") }}"/>

                                </div>
                            </div>


                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="checkout-check-availability">Check-out</label>
                                    {#<div class="popover-icon" data-container="body" data-toggle="popover"#}
                                    {#data-trigger="hover" data-placement="right"#}
                                    {#data-content="Check-out is from 12:00"><i class="fa fa-info-circle fa-lg"> </i>#}
                                    {#</div>#}
                                    <i class="fa fa-calendar infield"></i>
                                    <input required name="checkout" type="text" id="checkout-check-availability" value="{% if postData['checkout'] is defined %}{{ postData['checkout']|date("d-m-Y") }}{% else %}{{ 'now'|date_modify('+1 day')|date("d-m-y") }}{% endif %}" class="form-control"
                                        placeholder="{{ 'now'|date_modify('+1 day')|date("d-m-Y") }}"/>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="room">Room</label>
                                    <div class="room-guest-quantity form-control" onclick="openRoomGuestContainer(event)">
                                        <div class="input-field-display">
                                            <span class="rooms-count">1</span>&nbsp;Rooms,&nbsp;
                                            <span class="guest-count">2</span>&nbsp;Guests
                                        </div>
                                        <div class="room-guest-quantity__container">
                                            <div class="pointer-top"></div>
                                            <div class="room-guest-quantity__wrapper">
                                                <div class="close"><i class="fa fa-times" onclick="closeRoomGuestContainer(event)"></i></div>
                                                <div class="room-combo">
                                                    <span class="room-title">Room 1</span>
                                                    <div class="room-combo__wrapper">
                                                        <div class="quantity-details">
                                                            <div class="quantity">
                                                                <span class="adult-count">2</span>&nbsp;Adults,&nbsp;
                                                                <span class="child-count">0</span>&nbsp;Children
                                                            </div>
                                                            <span class="room__edit" onclick="editRoom(event)">edit</span>
                                                        </div>
                                                        <div class="quantity-select">
                                                            <div class="adult-quantity-wrapper">
                                                                <input type="hidden" name="adult" value="2" />
                                                                <span class="quantity-title">Adults (Above 12 Years)</span>
                                                                <div class="quantity-options" onclick="setQuantity(event)" data-for="adult">
                                                                    <span value="1">1</span>
                                                                    <span class="active" value="2">2</span>
                                                                    <span value="3">3</span>
                                                                    <span value="4">4</span>
                                                                    <span value="5">5</span>
                                                                    <span value="6">6</span>
                                                                    <span value="7">7</span>
                                                                    <span value="8">8</span>
                                                                    <span value="9">9</span>
                                                                    <span value="10">10</span>
                                                                    <span value="11">11</span>
                                                                    <span value="12">12</span>
                                                                </div>
                                                            </div>
                                                            <div class="child-quantity-wrapper">
                                                                <input type="hidden" name="child" value="0" />
                                                                <span class="quantity-title">Children (1 - 12 Years)</span>
                                                                <div class="quantity-options" onclick="setChildQuantity(event)" data-for="child">
                                                                    <span class="active" value="0">0</span>
                                                                    <span value="1">1</span>
                                                                    <span value="2">2</span>
                                                                    <span value="3">3</span>
                                                                    <span value="4">4</span>
                                                                </div>
                                                            </div>
                                                            <div class="child-age-wrapper">
                                                                <div class="age-dropdown-wrapper" id="dummy-age">
                                                                    <div class="age-title"><span></span><i class="fa fa-exclamation"></i></div>
                                                                    <div class="age-dropdown">
                                                                        <input type="text" name="age-value" class="age-value" placeholder="Age" onclick="toggleChildAgeDropdown(event)" readonly />
                                                                        <span class="arrow-icon" onclick="toggleChildAgeDropdown(event)"><i class="fa fa-angle-down"></i></span>
                                                                        <div class="age-options collapsed" onclick="setChildAge(event)">
                                                                            <span value="1">1</span>
                                                                            <span value="2">2</span>
                                                                            <span value="3">3</span>
                                                                            <span value="4">4</span>
                                                                            <span value="5">5</span>
                                                                            <span value="6">6</span>
                                                                            <span value="7">7</span>
                                                                            <span value="8">8</span>
                                                                            <span value="9">9</span>
                                                                            <span value="10">10</span>
                                                                            <span value="11">11</span>
                                                                            <span value="12">12</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <span class="room__remove" onclick="removeRoom(event)">remove</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bottom">
                                                <span class="add-room" onclick="addRoom(event)">+ ADD ANOTHER ROOM</span>
                                                <span class="apply" onclick="confirmRooms(event)">APPLY</span>
                                            </div>
                                            <input type="hidden" name="adult-quantity" value="2"/>
                                            <input type="hidden" name="child-quantity" value="0"/>
                                            <input type="hidden" name="rooms-quantity" value="1"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" name="plan" value="CP" />
                            
                        </div>
                        <button type="submit" onclick="closeModalAndUpdateSearchForm()" class="btn btn-primary btn-sm btn-block">Check Availabiity</button>
                    </form>
                    {#{{ render(controller('AppBundle:Default:PropertyOverview')) }}#}
                </div>
            </div>
        </div>
    </div>
    <section id="load-data">
        <div class="container">
            <div class="row">
                <div id="featured">
                    {% if detail is defined %}
                    {% for var in detail%}
                        <div class="col-lg-3" id="property-{{var.id}}">
                            <a href="#" data-toggle="modal" data-target="#myModal3" data-accommodation-id="{{ var.id }}">
                            <div class="img-box">
                                {% if var.image is defined %}
                                    <img src="{{ asset('images/uploads/'~ var.image) }}" alt="" width="100%" height="180px">
                                    {% else %}
                                        <img src="{{ asset('images/no-image.png') }}" alt="" width="100%" height="180px">
                                {% endif %}
                                {#<span class="price"><i class="fa fa-rupee"></i> 3500</span>#}
                                {#<div class="ribbon"><span>On Sale</span></div>#}
                            </div>
                            </a>
                            <div class="box" style="min-height:150px; position: relative">
                                <div class="rate" style="margin: 10px 25px 0 0 ;">
                                    <span style="background-color: #b2ea86; padding: 5px 10px; border-radius: 5px; font-weight: bold"><i class="fa fa-rupee-sign"></i>{{ var.rate[1] }}</span>
                                </div>
                                <h3>{{ var.title }}</h3>
                                <p>{{ var.location }}</p>
                                {# <a href="{{ path('calendar_data',{'property': var.id, 'roomtype': var.roomId }) }}" class="book btn btn-sm btn-warning">Check Availabiity</a> #}
                                <a href="javascript:void(0)" class="book btn btn-sm btn-warning btn-check-availability" data-location="{{ var.locationId }}" data-destination="{{ var.title }}" onclick="handleCheckAvailability(event)">Check Availability</a>
                            </div>
                        </div>

                    {% endfor %}
                    {% endif %}
            </div>
        </div>
        </div>
    </section>
    {% block javascripts %}
        <script type="text/javascript">
            function handleCheckAvailability(event) {
                let location = event.target.getAttribute('data-location');
                let destination = event.target.getAttribute('data-destination');
                $('#myModal3').modal('toggle');
                document.getElementById('location-check-availability').value = location;
                document.getElementById('destination-check-availability').value = destination;
            }

            function closeModalAndUpdateSearchForm() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
                document.querySelector("#checkin").value = document.querySelector("#checkin-check-availability").value;
                document.querySelector("#checkout").value = document.querySelector("#checkout-check-availability").value;
                $("#location_select").val($("#location-check-availability").val()).attr("selected", true);
                $("#destination").val($("#destination-check-availability").val()).attr("selected", true);
                $('#myModal3').modal('toggle');
            }

        </script>
    {% endblock %}
{% endblock %}


