{% extends 'home.html.twig' %}

{% block body %}

    <section style="background: #FFF">
        <div class="row">
    <div class="col-lg-9" id="index-banner">
    <img src="{{ asset('images/banner.jpg') }}"  width="100%" height="100%" class="img-responsive">

    </div>
    <div class="col-lg-3 row">
        <div style=" background: #FFF;padding:10px;">
            <div>{{ render(controller('FOSUserBundle:Security:login')) }}</div>
            <hr>
            <div><img src="{{ asset('images/infograph1.png') }}" class="img-responsive center-block"></div>
        </div>
    </div>
        </div>
    </section>
{% endblock %}

