{% for val in resp %}
    <div class="item">
        <div class="clearfix" style="max-width:100%;">
            <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                {% for var in val.images %}
                    {% for val in var %}
                        <li data-width="700" data-height="200" data-thumb="{{ asset('images/uploads/property/'~val) }}">
                            <img src="{{ asset('images/uploads/property/'~val) }}" width="100% " height="300px">
                        </li>
                    {% endfor %}
                {% endfor %}

            </ul>
        </div>
    </div>

    <div class="p_content">
        <h2>{{ val.name }}</h2>
        <p>{{ val.desc|raw }}</p>
    </div>
{% endfor %}