{% for val in images %}
    {% set roomid = var.id|default('2') %}
    {% if roomid == val['id']  %}
        {% for var in val.images %}
            <img src="{{ asset('images/uploads/rooms/'~var) }}" style="width:100px !important; height:80px; float: left; margin-right: 10px; border:1px solid #dbdbdb; padding: 5px;">
        {% endfor %}

    {% endif %}
{% endfor %}