{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css">
    <link rel="stylesheet" media="print" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.print.css">
    <style>
        .fc-day-top {
            cursor: cell
        }

        /*.fc-today{background-color:#eee !important;}*/
        .fc-widget-content {
            background-color: #f9f9f9;
        }

        .fc-future,
        .fc-today {
            background-color: #FFF;
        }

        .fc-axis {
            background-color: white;
        }

        .fc-bgevent {
            opacity: 1;
            background: none !important;
        }

        .f-text {
            color: green;
            font-weight: bold
        }

        .fc-day-number {
            font-weight: bold
        }

        .noEvent {
            /*background: pink;*/
        }

        .hasEvent {
            /*background: red;*/
        }

        .av {
            display: none
        }

        .fc-past > .unavailable {
            display: none
        }

    </style>
{% endblock %}
{% block search %}{% endblock %}
{% block body %}
    {#{% include '@FullCalendar/Calendar/calendar.html.twig' %}#}
    <section id="photos">
        {% if images is defined %}
            <ul class="list-unstyled">
                {% for image in images %}
                    <li style="float: left;display: block"><img src="{{ asset('images/uploads/rooms/'~ image) }}" alt=""
                                                                width="300px" height="200px"></li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
    <section id="load-data">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <br>
                    <span class="btn btn-sm btn-primary">Select Room Type:</span>
                    {% if roomtype is defined %}
                        {% for val in roomtype %}
                            {% if app.request.attributes.get('roomtype') == val.id %}
                                <a class="btn btn-default btn-sm"
                                   href="{{ path('calendar_data',{'property': app.request.attributes.get('property'), 'roomtype': val.id }) }}">{{ val.type }}
                                    <span class="fa fa-circle text-danger"></span></a>

                            {% else %}
                                <a class="btn btn-default btn-sm"
                                   href="{{ path('calendar_data',{'property': app.request.attributes.get('property'), 'roomtype': val.id }) }}">{{ val.type }}</a>

                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <br>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div id='calendar'></div>
                </div>
                <div class="col-lg-4">
                    <section id="">
                        <div class="calendar-form">
                            <div id="loader" style="display:none;text-align: center;">
                                <img src='{{ asset('images/loader-dot.gif') }}' width="50"/>
                            </div>
                            <form class="form-inline reservation-horizontal clearfix" role="form" method="post"
                                  action="#"
                                  name="reservationform" id="reservationform" style="padding:20px">
                                <!-- Error message -->

                                {#<h3>Check Room Availability</h3>#}
                                <div id="message"></div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        {% if roomtype is defined %}
                                            {% for val in roomtype %}
                                                {% if loop.first %}
                                                    <h3 style="padding: 0; margin: 0"><span style="color: #86bc42">{{ val.name }} </span> </h3>
                                                    <strong>Location:</strong>  <span style="color:#666"> {{ val.address }}</span> <br>
                                                {% endif %}
                                                {% if app.request.get('roomtype') == val.id %}
                                                    <strong>Room Type:</strong> <span style="color: #666"> {{ val.type }}</span><br>
                                                    <strong>Total Rooms:</strong><span style="color: #666"> {{ val.roomCount }}</span>
                                                {% endif %}
                                            {% endfor %}

                                        {% endif %}
                                        <hr>
                                        <div class="hidden">
                                            <label for="email" accesskey="E">Property</label>
                                            <select required class="form-control" name="destination" id="destination">
                                                <!--<option value="" selected="selected" disabled="disabled"> Select Property</option>-->
                                                {% if roomtype is defined %}
                                                    {% for val in roomtype %}
                                                        {% if loop.first %}
                                                            <option value="{{ val.name }}"
                                                                    selected>{{ val.name }}</option>{% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hidden">
                                        <label for="email" accesskey="E">Room Type</label>
                                        <select required class="form-control" name="roomtype" id="roomtype">
                                            <!--<option value="" selected="selected" disabled="disabled"> Select Property</option>-->
                                            {% if roomtype is defined %}
                                                {% for val in roomtype %}
                                                    {% if app.request.attributes.get('roomtype') == val.id %}
                                                        <option value="{{ val.type }}">{{ val.type }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="checkin">Check-in</label>

                                            <i class="fa fa-calendar infield"></i>
                                            <input required name="checkin" type="text" id="checkin"
                                                   value="{{ 'now'|date('d/m/Y') }}"
                                                   class="form-control"
                                                   placeholder="{{ 'now'|date('d/m/Y') }}"/>

                                        </div>
                                    </div>


                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="checkout">Check-out</label>
                                            <i class="fa fa-calendar infield"></i>
                                            <input required name="checkout" type="text" id="checkout"
                                                   value="{{ 'now'|date('d/m/Y') }}"
                                                   class="form-control"
                                                   placeholder="{{ 'now'|date_modify('+1 day')|date('d/m/Y') }}"/>
                                        </div>
                                    </div>


                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="room">Room </label>
                                            <select required class="form-control" name="roomNo" id="room">
                                                <option selected="selected" value="0">0</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="room">Guests</label>
                                            <select required class="form-control" name="adult" id="adult">
                                                <option selected="selected" value="0">0</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="room">Meal Plan</label>
                                            <select required class="form-control" name="plan" id="roomPlan">
                                                <option value="CP">CP</option>
                                                <option value="EP">EP</option>
                                                <option value="AP">AP</option>
                                                <option value="MAP">MAP</option>
                                            </select>
                                        </div>
                                    </div>
                                    <input type="hidden" class="total-rate" name="totalRate" value="">
                                    <input type="hidden" class="discount-rate" name="discountRate" value="">
                                    <input type="hidden" class="dis-percent" name="disPercent" value="">
                                </div>

                                <div id="result">
                                </div>
                            </form>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://momentjs.com/downloads/moment.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js"></script>
    <script type="text/javascript">
        var obj = JSON.parse(JSON.stringify({{ data|raw }}));
        $('#calendar').fullCalendar({
            events: obj,
            eventColor: 'rgba(0,0,0, 0.0)',
            selectLongPressDelay: 1,
            select: function (start, end, jsEvent, view) {
                // set values in inputs
//                if(start.isBefore(moment())) {
//                    $('#calendar').fullCalendar('unselect');
//                    return false;
//                }
                $('#checkin').val(start.format('D/MM/Y'));
                $('#checkout').val(end.subtract(1, 'days').format('D/MM/Y'));
                $('#loader').show();
                var url = Routing.generate('calendar-search');
                $.ajax({
                    url: url,
                    data: $("#reservationform").serialize(),
                    type: "POST",
                    success: function (data) {
                        $('#loader').hide();
                        $('#result').html('')
                        $('#result').append(data);
                        calculate();
                    },
                    error: function (err) {
                        console.error(err);
                    }
                });
            },
            selectable: true,
            selectConstraint: {
                start: $.fullCalendar.moment().subtract(1, 'days'),
                end: $.fullCalendar.moment().startOf('month').add(100, 'month')
            },
            defaultView: 'month',

//    eventAfterAllRender: function(view) {
//
//        $.each($('#calendar').fullCalendar('clientEvents'), function() {
//            var event = this;
////                    var $start = $('#calendar').find('td.fc-day[data-date="' + event.start.format('YYYY-MM-DD') + '"]');
////                    var $end = $('#calendar').find('td.fc-day[data-date="' + event.end.format('YYYY-MM-DD') + '"]');
//
//            if (event.rendering === 'background') {
//                for (var d = event.start; d <= event.end; d.add(1, 'day')) {
//                    var td = $('#calendar').find('td.fc-day[data-date="' + d.format('YYYY-MM-DD') + '"]');
//                    var cellIndex = td.index();
//                    td.closest('div.fc-bg').next().find('tbody td:nth-child(' + (cellIndex + 1) + ')').append('<div class="booked" style="padding: 10px"> <span class="f-text">'+ event.freeRoom +'</span> <span>' + event.title + '</span> </div>');
//                }
//            }
//
//        });
//
//
//    },

        });


        //        $('#calendar1').fullCalendar({
        ////            dayClick: function(date, jsEvent, view) {
        //////                alert(date.format('D/MM/Y'))
        ////                var today = date.format('D/MM/Y');
        //////                $('#checkin').val(today);
        ////            },
        //            select: function( start, end, jsEvent, view ) {
        //                // set values in inputs
        ////                if(start.isBefore(moment())) {
        ////                    $('#calendar').fullCalendar('unselect');
        ////                    return false;
        ////                }
        //                $('#checkin').val(start.format('D/MM/Y'));
        //                $('#checkout').val(end.subtract(1, 'days').format('D/MM/Y'));
        //                $('#loader').show();
        //                var url= Routing.generate('calendar-search');
        //                $.ajax({
        //                    url:url,
        //                    data:$("#reservationform").serialize(),
        //                    type:"POST",
        //                    success:function(data){
        //                        $('#loader').hide();
        //                        $('#result').html('')
        //                        $('#result').append(data);
        //                    },
        //                    error:function(err){
        //                        console.error(err);
        //                    }
        //                });
        //            },
        //            selectable: true,
        //            selectConstraint: {
        //                start: $.fullCalendar.moment().subtract(1, 'days'),
        //                end: $.fullCalendar.moment().startOf('month').add(100, 'month')
        //            },
        //            defaultView: 'month',
        //            events: obj,
        //            dayRender: function(date, cell) {
        //                for (var i = 0; i < obj.length; i++) {
        //                    var romcount = obj[i].roomCount;
        //                }
        //
        //                if(romcount == null){
        //                    cell.append('<small class="unavailable ">Plese select room type !</small>');
        //                }else{
        //                    cell.append('<div class="unavailable f-text">'+romcount+'</div>');
        //                }
        //            },
        //            eventAfterAllRender: function(view) {
        //
        //                $.each($('#calendar').fullCalendar('clientEvents'), function() {
        //                    var event = this;
        ////                    var $start = $('#calendar').find('td.fc-day[data-date="' + event.start.format('YYYY-MM-DD') + '"]');
        ////                    var $end = $('#calendar').find('td.fc-day[data-date="' + event.end.format('YYYY-MM-DD') + '"]');
        //
        //                    if (event.rendering === 'background') {
        //                        for (var d = event.start; d <= event.end; d.add(1, 'day')) {
        //                            var td = $('#calendar').find('td.fc-day[data-date="' + d.format('YYYY-MM-DD') + '"]');
        //                            var cellIndex = td.index();
        //                            td.closest('div.fc-bg').next().find('tbody td:nth-child(' + (cellIndex + 1) + ')').append('<div class="booked" style="padding: 10px"> <span class="f-text">'+ event.freeRoom +'</span> <span>' + event.title + '</span> </div>');
        //                        }
        //                    }
        //
        //                });
        //
        //
        //                for (var i = 0; i < obj.length; i++) {
        //                    var evStartDate = new Date(obj[i].start),
        //                            evFinishDate = new Date(obj[i].end);
        //
        //                    $("td[data-date]").addClass("noEvent")
        //                    if (obj[i].end) {
        //                        while (evStartDate <= evFinishDate) {
        //                            addClassByDate(evStartDate);
        //                            evStartDate.setDate(evStartDate.getDate() + 1);
        //                        }
        //                    } else {
        //                        addClassByDate(evStartDate);
        //                    }
        //                }
        //
        //                function addClassByDate(date) {
        //                    var dataAttr = getDataAttr(date);
        //                    $("[data-date='" + dataAttr + "']").remove("noEvent");
        //                    $("[data-date='" + dataAttr + "']").addClass("hasEvent");
        //                    $("[data-date='" + dataAttr + "']").find('.unavailable').addClass('av');
        //                }
        //
        //                function getDataAttr(date) {
        //                    var m = date.getMonth() + 1;
        //                    return date.getFullYear() + "-" + (m.toString().length === 2 ? m : "0" + m) + "-" + (date.getDate().toString().length === 2 ? date.getDate() : "0" + date.getDate());
        //                };
        //            },
        //        });


        $('#checkout').change(function (e) {
            e.preventDefault();
            $('#loader').show();
            var url = Routing.generate('calendar-search');
            $.ajax({
                url: url,
                data: $("#reservationform").serialize(),
                type: "POST",
                success: function (data) {
                    $('#loader').hide();
                    $('#result').html('')
                    $('#result').append(data);
                    calculate();
                },
                error: function (err) {
                    console.error(err);
                }
            });
        });

        //        $('#room,#adult,#roomPlan').change(function(e) {
        //            e.preventDefault();
        //            var dist = $('.discount-price').text()
        //            var total = $('.total-price').text()
        //            var off = $('.price-off').text()
        //            $('.total-rate').val(total);
        //            $('.discount-rate').val(dist);
        //            $('.dis-percent').val(off);
        //            var url = Routing.generate('calendar-search');
        //            $.ajax({
        //                url: url,
        //                data: $("#reservationform").serialize(),
        //                type: "POST",
        //                success: function (data) {
        //                    $('#loader').hide();
        //                    $('#result').html('')
        //                    $('#result').append(data);
        //                },
        //                error: function (err) {
        //                    console.error(err);
        //                }
        //            });
        //        });


        $(document).on("click", "#confirm-booking", function (e) {
            e.preventDefault();
            var dist = $('.discount-price').text()
            var total = $('.total-price').text()
            var off = $('.price-off').text()
            $('.total-rate').val(total);
            $('.discount-rate').val(dist);
            $('.dis-percent').val(off);
            var url = Routing.generate('calendar-search');
            $.ajax({
                url: url,
                data: $("#reservationform").serialize(),
                type: "POST",
                success: function (data) {
                    $("#confirm-booking").addClass('hidden');
                    $("#cal-booking").removeClass('hidden');
                },
                error: function (err) {
                    console.error(err);
                }
            });
        });

        // Reservation Form
        //jQueryUI - Datepicker
        if (jQuery().datepicker) {
            jQuery('#checkin').datepicker({
                showAnim: "drop",
                dateFormat: "dd/mm/yy",
                minDate: 0,
                onSelect: function (date) {
                    var date2 = $('#checkin').datepicker('getDate');
                    date2.setDate(date2.getDate() + 1);
                    $('#checkout').datepicker('setDate', date2);
                    //sets minDate to dt1 date + 1
                    $('#checkout').datepicker('option', 'minDate', date2);
                }
            });

            jQuery('#checkout').datepicker({
                showAnim: "drop",
                dateFormat: "dd/mm/yy",
                minDate: 0,
                onClose: function () {
                    var dt1 = $('#checkin').datepicker('getDate');
                    var dt2 = $('#checkout').datepicker('getDate');
                    if (dt2 <= dt1) {
                        var minDate = $('#checkout').datepicker('option', 'minDate');
                        $('#checkout').datepicker('setDate', minDate);
                    }
                }
            });
            jQuery('#checkin, #checkout').on('focus', function () {
                jQuery(this).blur();
            }); // Remove virtual keyboard on touch devices

        }

        function calculate() {
            var d1 = $('#checkin').datepicker('getDate');
            var d2 = $('#checkout').datepicker('getDate');
            var oneDay = 24 * 60 * 60 * 1000;
            var diff = 0;
            if (d1 && d2) {

                diff = Math.round(Math.abs((d2.getTime() - d1.getTime()) / (oneDay)));
            }


            var priceSelector = $('.discount-price');
            var price = priceSelector.text();
            var totalSelector = $('.total-price');
            var total = totalSelector.text();


            var discountPrice = $(".discount-price");
            discountPrice.html('');
            discountPrice.append(price * diff)

            var totalPrice = $(".total-price");
            totalPrice.html('');
            totalPrice.append(total * diff)
        }


    </script>
{% endblock %}
