{% block stylesheets %}
<style>
    .listing {
        overflow: visible !important;
    }

    .discount {
        color: #86bc42; 
        font-size: 15px; 
        margin-right: 10px;
    }
    .modal .gallery li{
        display: none;        
    }

    .modal .gallery li.active {
        display: block;
    }

    .assign-room-options {
        display: flex;
        flex-direction: column;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .assign-room-options .assigned-room {
        position: relative;
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
        padding: 10px;
        width: fit-content;
        min-width: 180px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
    }
    .assign-room-options.show .assigned-room {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .assign-room-options .assigned-room span {
        
    }
    .assign-room-options .assigned-room i {
        padding: 0 0 0 10px;
    }
    .assign-room-options ul {
        display: none;
        padding-left: 0;
        max-height: 200px;
        min-width: 180px;
        height: min-content;
        position: absolute;
        box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
        background-color: white;
        z-index: 1;
    }
    .assign-room-options.show ul {
        display: block;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .assign-room-options ul li{
        list-style: none;
        padding: 10px;
        cursor: pointer;
        position: relative;
    }
    .assign-room-options ul li.selected {
        background-color: #b2ea86;
    }
    .assign-room-options ul li.guest-limit-crossed {
        background-color: #ffce73;
    }
    .assign-room-options ul li .room-price {

    }

    .assign-room-options ul li .room-price i {
        padding-right: 3px;
    }

    /* .assign-room-options ul li.selected .room-price {
        visibility: visible;
    } */
    .assign-room-options ul li .room-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .assign-room-options ul li .room-details {
        display: none;
        justify-content: space-between;
        align-items: center;
    }
    .assign-room-options ul li:not(.guest-limit-crossed):hover {
        background-color: #e4e4e4;
    }
    
    .assign-room-options ul li.selected:hover {
        background-color: #b2ea86;
    }
    .assign-room-options ul li:hover .room-title{
        display: none;
    }
    .assign-room-options ul li:hover .room-details{
        display: flex;
    }

    .assign-room-options ul li .tooltip {
        position: absolute;
        display: inline-block;
        left: calc(100% + 5px);
        visibility: hidden;
        text-align: center;
        background-color: #8e8e8e;
        opacity: 1;
        padding: 5px 10px;
        color: white;
        z-index: 1;
        border-radius: 5px;
        width: max-content;
        top: 50%;
        transform: translateY(-50%);
    }

    .assign-room-options ul li .tooltip::before{ 
        content: "";
        position: absolute;
        top: 50%;
        left: -10px;
        width: 5px;
        height: 5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent #8e8e8e transparent transparent;
        transform: translateY(-50%)
    }
    .assign-room-options ul li.guest-limit-crossed:hover .tooltip {
        visibility: visible;
    }

    #cart-wrap {
        margin: 10px;
    }
</style>
{% endblock %}
{% block body %}
    <section id="featured">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="property-intro">
                        {% for val in res %}
                            <div class="item" data-property-id="{{ val.id }}" data-meal-plan="{{ session['plan']|lower }}">
                                <div class="clearfix" style="max-width:100%;">
                                    <ul id="image-gallery" class="gallery list-unstyled">
                                        {% for var in val.images %}
                                            {% for val in var %}
                                                <li data-width="700" data-height="200" data-thumb="{{ asset('images/uploads/property/'~val) }}">
                                                    <img src="{{ asset('images/uploads/property/'~val) }}" width="100% " height="300px">
                                                </li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div class="p_content">
                                <h2>{{ val.name }}</h2>
                                <p>{{ val.desc|raw }}</p>
                            </div>


                        {% endfor %}

                    </div>
                    <div class="clearfix"></div>

                    <form id="frmCart">
                        {% if rooms is defined and rooms is not empty %}
                            
                            {#<br><p class="alert-warning">Available Rooms </p>#}
                            {% for var in rooms %}
                                <div id="roomImagesModal_{{var.id}}" class="modal fade" style="margin-top: 65px">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <span>{{var.type}}</span>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {# <div class="clearfix" style="max-width:100%;"> #}
                                                <ul id="room-images-gallery" class="gallery list-unstyled">
                                                {% for val in images %}
                                                    {% if val['id'] == var.id %}
                                                        {% for var in val.images %}
                                                        <li data-id="{{var.id}}">
                                                            <img src="{{ asset('images/uploads/rooms/'~var.path) }}" width="100% "/>
                                                        </li>
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 listing" data-room-id="{{var.id}}">
                                    <div class="col-sm-3">
                                        <img src="{{ asset('images/uploads/'~var.imageurl) }}" width="100%" class="img-thumbnail">
                                    </div>
                                    <div class="col-sm-9 detail">
                                        {#{{ var.reserved_bed_nrs }}#}
                                        {% set postRoom = 2 %}
                                        {% set roomPlan = "CP" %}

                                        {% if roomPlan == 'CP' %}
                                            {% set plan =  var.double_cp_cost %}
                                            {% set plan1 =  var.double_cp_cost %}
                                        {% elseif roomPlan == 'EP' %}
                                            {% set plan =  var.double_ep_cost %}
                                            {% set plan1 =  var.double_ep_cost %}
                                        {% elseif roomPlan == 'AP' %}
                                            {% set plan =  var.double_ap_cost %}
                                            {% set plan1 =  var.double_ap_cost %}
                                        {% else %}
                                            {% set plan =  var._double_map_cost %}
                                            {% set plan1 =  var.double_map_cost %}
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-sm-6 d-flex flex-column">
                                                <h3>{{ var.type }} - {{ var.adult }} Person</h3>
                                                <p>Plan: {{ roomPlan }} </p>
                                                <p>Max person: {{ var.max_person }} </p>
                                                <p>Smoking Permitted: {% if var.smoking == true %}Yes {% else %}
                                                        <strong>No</strong> {% endif %}
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="">
                                                    <span style="display: block; text-align: end">From</span>
                                                    {% set rate = defRate + discountRate %}
                                                    
                                                    <section style="text-align: end;">
                                                        {% if postRoom  > 1 %}

                                                            <div class="original-price" style="text-align: end">
                                                                <span>
                                                                    <b class="discount" data-discount="{{rate}}">{{ rate }}% off!</b>
                                                                    <s id="replace_{{ var.id }}" class="total-price-{{ var.id }} replace_{{ var.id }}" style="text-decoration-color: #F30D0D;"><i class="fa fa-rupee"></i>{{ var.double_cp_cost }}</s>
                                                                </span>
                                                            </div>

                                                            <div class="discounted-price" style="text-align: end">
                                                                <i class="fa fa-rupee"></i>
                                                                <strong id="added_{{ var.id }}" class="discount-price-{{ var.id }}">
                                                                    {#{{ var.rate + plan + dp }}#}

                                                                    {% set percentage = (rate/100) * var.double_cp_cost %}
                                                                    {% set finalRate = var.double_cp_cost - percentage %}
                                                                    {{ finalRate }}
                                                                </strong>
                                                                <br/>
                                                                avg/night
                                                            </div>

                                                            {% else %}

                                                        {% if postAdult  > var.adult%}
                                                            {% set ap =  postAdult-var.adult %}
                                                            {% set dp =  ap*var.extra_bed%}
                                                            <div class="original-price" style="text-align: end">
                                                                <span>
                                                                    <s id="replace_{{ var.id }}" class="total-price-{{ var.id }} replace_{{ var.id }}" style="text-decoration-color: #F30D0D;"><i class="fa fa-rupee"></i>{{ var.rate + plan + dp}}</s>
                                                                    {# <b id="discount" style="color: #86bc42; font-size: 15px;">{{ rate }}% off!</b> #}
                                                                </span>
                                                            </div>
                                                            <div class="discounted-price" style="text-align: end">
                                                                <i class="fa fa-rupee"></i>
                                                                <strong id="added_{{ var.id }}" class="discount-price-{{ var.id }}">
                                                                    {% set percentage = (rate/100)*(var.rate + plan +dp) %}
                                                                    {% set finalRate = (var.rate + plan + dp) - percentage %}
                                                                    {{ finalRate }}
                                                                </strong>
                                                                <br/>
                                                                avg/night
                                                            </div>
                                                        {% else %}
                                                            <div class="original-price" style="text-align: end">
                                                                <span>
                                                                    <s id="replace_{{ var.id }}" class="total-price-{{ var.id }} replace_{{ var.id }}" style="text-decoration-color: #F30D0D;"><i class="fa fa-rupee"></i>{{ var.rate + plan }}</s>
                                                                    {# <b id="discount" style="color: #86bc42; font-size: 15px;">{{ rate }}% off!</b> #}
                                                                </span>
                                                            </div>
                                                            <div class="discounted-price" style="text-align: end">
                                                                <i class="fa fa-rupee"></i>
                                                                <strong id="added_{{ var.id }}" class="discount-price-{{ var.id }}">
                                                                    {% set percentage = (rate/100)*(var.rate + plan) %}
                                                                    {% set finalRate = (var.rate + plan) - percentage %}
                                                                    {{ finalRate }}
                                                                </strong>
                                                                <br/>
                                                                avg/night
                                                            </div>
                                                            {% endif %}
                                                        {% endif %}
                                                        <span>
                                                            <b class="text-muted" id="extra_{{ var.id }}" style="display: none">(Extra person included)</b>
                                                            <b class="text-muted">
                                                                {% if postRoom  <= 1 %}
                                                                {% if postAdult > var.adult %}(Extra person included){% endif %}
                                                                {% endif %}
                                                            </b> 
                                                        </span>
                                                        <span style="color: #F30D0D">
                                                            {% if var.free_rooms <= 1 %}
                                                                Only 1 room left
                                                            {% else %}
                                                                <b class="rcount{{ var.id }}">{{ var.free_rooms }}</b> rooms left
                                                            {% endif %}
                                                        </span>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="text" hidden="hidden" id="qty_{{ var.id }}" name="quantity" value="1" size="2" />
                                        <div class="assign-room-options">
                                            <div class="assigned-room" onclick="toggleRoomsList(event)">
                                                <span>Assign Room</span><i class="fa fa-chevron-down"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a data-toggle="tab" href="#tab1_{{ var.id }}"><i class="fa fa-file-text"></i> Room Details</a></li>
                                            <li><a data-toggle="tab" href="#tab2_{{ var.id }}"><i class="fa fa-picture-o"></i> Photos</a></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                        <div class="tab-content" style="padding:20px 0;">
                                            <div id="tab1_{{ var.id }}" class="tab-pane fade in active">
                                                {{ var.description|raw }}
                                            </div>
                                            <div id="tab2_{{ var.id }}" class="tab-pane fade">
                                                {% for val in images %}
                                                    {% if val['id'] == var.id %}
                                                        {% for var in val.images %}
                                                            <img data-target="{{var.id}}" src="{{ asset('images/uploads/rooms/'~var.path) }}" style="width:140px; height:100px; margin-right: 10px; border:1px solid #dbdbdb; padding: 5px;" onclick="displayRoomImagesInModal(event)" />
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="clearfix"></div>

                            {% endfor %}
                        {% else %}
                            <br>
                            <div class="alert alert-warning text-center">
                                <h3 class="text-danger">SOLD OUT</h3>
                                <p>Please change the search criteria if flexible or call/email us for assistance.<br>
                                    Please email us at contact@ourguest.in incase of non-availability of rooms.<br>
                                    Call us at +91 74777 22446.</p>
                            </div>
                        {% endif %}
                        <input class="date-diff" type="hidden" value="">
                    </form>
                </div>
                <div class="col-lg-4" style="position: sticky; position: -webkit-sticky; top: 100px;">
                
                    <div class="cart" id="cart">
                        <style>
                            #loadingmessage1 {
                                position: absolute;
                                /*background-color: rgba(0, 0, 0, 0.3);*/
                                /*dim the background*/
                                top:0;
                                left:0;
                                width:100%;
                                height:100%;
                                color:black;
                                text-align: center;
                            }
                            #cart-item .table > tbody > tr > td,
                            #cart-item .table > tbody > tr > th {
                                border-top: none;
                            }

                            #cart-item .table > tbody > tr {
                                border-bottom: 1px solid #d7d7d7;
                            }
                        </style>
                        <div id='loadingmessage1' style='display:none;text-align: center;margin-top: -10px'>
                            <img src='{{ asset('images/loader-dot.gif') }}' width="50" />
                        </div>
                        <div id="cart-wrap" class="cart-show cart-hide">
                            <div id="shopping-cart">
                                {# <a id="btnEmpty" class="cart-action" onClick="cartAction('empty','');">Empty Cart</a> //comment this code #}
                                <div class="txt-heading">
                                    <i class="switch fa fa-shopping-cart"></i> Booking
                                </div>


                                <div id="cart-item" style="width: 100%">

                                </div>
                            </div>
                        </div>
                        {# <img src="{{ asset('images/infograph.png') }}" class="img-responsive"> //comment this code #}
                    </div>

                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{{ asset('js/components/assign-rooms.js') }}"></script>
    <script src="{{ asset('js/components/room-combo-edit.js') }}" type="text/javascript"></script>
    <script>
        function cartAction(action, product_code, roomComboIndex = null) {
            $('#loadingmessage1').show();
            
            let roomCombo = roomComboIndex != null ? JSON.parse(window.sessionStorage.getItem('rooms'))[roomComboIndex] : null;
            let mealPlan = document.querySelector('.property-intro .item').getAttribute('data-meal-plan').toUpperCase();
            var queryString = "checkin=" + "{{session['checkin']}}" + "&checkout=" + "{{session['checkout']}}" + "&rooms-quantity=" + "{{session['rooms-quantity']}}" + "&adult-quantity=" + "{{session['adult-quantity']}}" + "&room_combo_index=" + roomComboIndex + "&plan=" + mealPlan;
            if (action != "") {
                switch (action) {
                    case "add":
                        queryString = queryString + '&action=' + action + '&code=' + product_code + '&adult_quantity=' + roomCombo.adultCount + '&child_quantity=' + roomCombo.childCount + '&child_ages=' + JSON.stringify(roomCombo.ages);
                        break;
                    case "remove":
                        queryString = queryString + '&action=' + action + '&code=' + product_code;
                    // {% for var in rooms %}
                    //         if( product_code == {{ var.id }}){
                    //             $('.box_{{ var.id }}').fadeIn(800);
                    //             $('.rcount{{ var.id }}').text({{ var.free_rooms }});

                    //         }
                    // {% endfor %}
                        break;
                    case "empty":
                        queryString = queryString + '&action=' + action;
                        break;
                }
            }
            jQuery.ajax({
                url: "{{ path('add_cart') }}",
                data: queryString,
                type: "POST",
                success: function (data) {
                    $('#loadingmessage1').hide();
                    $('#loadingmessage1').hide();
                    $("#cart-item").html(data);
//                    if (action != "") {
//                        switch (action) {
//                            case "add":
//                                $("#add_" + product_code).prop('disabled', true);
//                                $("#added_" + product_code).show();
//                                break;
//                            case "remove":
//                                $("#add_" + product_code).prop('disabled', false);
//                                $("#added_" + product_code).hide();
//                                break;
//                            case "empty":
//                                $(".btnAddAction").show();
//                                $(".btnAdded").hide();
//                                break;
//                        }
//                    }
                },
                error: function () {
                }
            });
        }
    </script>
    <script>
        $(document).ready(function () {
            cartAction('', '');

            //this function is in js/components/assign-rooms.js
            getRoomsCost();
        });
    </script>
{% endblock %}
{% block javascripts %}
    <script>
        function displayRoomImagesInModal(event) {
            let roomId = event.target.closest('.tab-pane').getAttribute('id').split('_')[1];
            let imageId = event.target.getAttribute('data-target');
            $("#roomImagesModal_" + roomId + " .gallery li.active").removeClass('active');
            $("#roomImagesModal_" + roomId + " .gallery li[data-id=" + imageId + "]").addClass('active');
            $("#roomImagesModal_" + roomId).modal('toggle');
        }

        function checkIfAllRoomsAssigned(e) {
            let roomsInCart = document.querySelectorAll("#cart-wrap .room-in-cart");
            let roomsCombo = JSON.parse(window.sessionStorage.getItem('rooms'));
            if(roomsInCart.length != roomsCombo.length ) {
                e.currentTarget.parentElement.querySelector('.room-assignment-error').classList.add('show');
                return false;
            }
            
            return true; 
        }

        function toggleBoxShadow(event) {
            event.currentTarget.querySelector('.booking-confirm-button').classList.toggle('no-shadow');
        }

    </script>
{% endblock %}

