{% block body %}
    <section id="featured">
        <div class="container">
            <div class="row">
                <form method="post" action="{{ path('search') }}" id="shadow-form">
                    <input type="hidden" name="checkin" value="{% if session['checkin'] is defined %}{{ session['checkin']|date("d-m-Y") }}{% else %}{{ 'now'|date("d-m-Y") }}{% endif %}" />
                    <input type="hidden" name="checkout" value="{% if session['checkout'] is defined %}{{ session['checkout']|date("d-m-Y") }}{% else %}{{ 'now'|date_modify('+1 day')|date("d-m-Y") }}{% endif %}" />
                    <input type="hidden" name="adult-quantity" value="{% if session['adult-quantity'] is defined %}{{ session['adult-quantity'] }}{% endif %}" />
                    <input type="hidden" name="child-quantity" value="{% if session['child-quantity'] is defined %}{{ session['child-quantity'] }}{% endif %}" />
                    <input type="hidden" name="rooms-quantity" value="{% if session['rooms-quantity'] is defined %}{{ session['rooms-quantity'] }}{% endif %}" />
                    <input type="hidden" name="plan" value="{% if session['plan'] is defined %}{{ session['plan'] }}{% endif %}" />
                    <input type="hidden" name="destination" value="" />
                    <input type="hidden" name="location" value="" />
                    {% for val in res %}
                        {%  if val.roomtype == true %}
                            <div class="col-lg-3">
                                <a href="#">
                                    <div class="img-box">
                                        <img src="{{ asset('images/uploads/'~ val.featImg) }}" alt="" width="100%" height="180px">
                                        {#<span class="price"><i class="fa fa-rupee"></i> 3500</span>#}
                                        {#<div class="ribbon"><span>On Sale</span></div>#}
                                    </div>
                                </a>
                                <div class="box" style="min-height:150px; position: relative">
                                    <div class="rate" style="margin: 10px 25px 0 0 ;">
                                        <span style="background-color: #b2ea86; padding: 5px 10px; border-radius: 5px; font-weight: bold"><i class="fa fa-rupee-sign"></i>{{ val.rate[1] }}</span>
                                    </div>
                                    <h3>{{ val.name }}</h3>
                                    <p>{{ (val.desc|length > 100 ? val.desc|slice(0, 50) ~ '&hellip;' : val.desc)|raw  }}</p>
                                    <button type="submit" onclick="updateForm(event)" data-destination="{{ val.name }}" data-location="{{ val.location }}" class="book btn btn-sm btn-warning">Check Availability</button>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            $("#content-slider").lightSlider({
                loop:true,
                keyPress:true
            });
            $('#image-gallery').lightSlider({
                gallery:true,
                item:1,
                thumbItem:9,
                slideMargin: 0,
                speed:500,
                auto:false,
                loop:true,
                onSliderLoad: function() {
                    $('#image-gallery').removeClass('cS-hidden');
                }
            });
        });

        function updateForm(event) {
            let form = event.target.closest('form');
            let destination = event.target.getAttribute('data-destination');
            let location = event.target.getAttribute('data-location');

            form.querySelector('input[name="destination"]').value = destination;
            form.querySelector('input[name="location"]').value = location;
        }

        $('#shadow-form').submit(handleSubmit);
    </script>
{% endblock %}

