{% block stylesheets %}
    <style>
        .room-guest-quantity {
            position: relative;
            z-index: 1;
            cursor: pointer;
        }

        .room-guest-quantity .input-field-display {
            display: flex;
        }

        .room-guest-quantity .room-guest-quantity__container {
            display: none;
            box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
            width: fit-content;
            cursor: default;
            border-radius: 5px;
        }

        .room-guest-quantity .room-guest-quantity__container.show {
            display: block;
        }

        .room-guest-quantity__container .pointer-top::before {
            content: "";
            width: 15px;
            height: 15px;
            background-color: white;
            position: absolute;
            right: 50%;
            bottom: -10px;
            transform: rotate(45deg) translate(10px, 0);
            box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.1);
        }

        .room-guest-quantity__container .pointer-top::after {
            content: "";
            width: 24px;
            height: 15px;
            background-color: white;
            position: absolute;
            right: 50%;
            bottom: -25px;
            /* transform: rotate(15deg); */
            transform: translate(12px, 0);
        } 

        .form-control {
            cursor: pointer;
        }

        .room-guest-quantity .room-guest-quantity__wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            padding: 0 10px 10px;
            background-color: white;
            /* position: relative; */
            border-radius: 5px;

        }

        .room-guest-quantity__wrapper div {
            padding: 5px;
        }

        .room-guest-quantity__wrapper .close {
            text-align: end;
            cursor: default !important;
        }

        .room-guest-quantity__wrapper .close i {
            cursor: pointer;
        }

        .room-guest-quantity .count-wrapper {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        /* .child-age.count-wrapper {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: start;
        } */

        .quantity .count:not(.count-value) {
            border: 1px solid rgba(0,0,0,0.1);
            padding: 5px 10px;
            cursor: pointer;
        }

        .quantity .count-value, .age-dropdown .age-value {
            border-top: 1px solid rgba(0,0,0,0.1);
            border-bottom: 1px solid rgba(0,0,0,0.1);
            border-left: none;
            border-right: none;
            padding: 5px 0;
            width: 5rem;
            display: block;
            text-align: center;
        }

        .child-age .age-dropdown {
            display: flex;
            flex-direction: row;
            position: relative;
        }

        .child-age .age-dropdown .age-value {
            border-left: 1px solid rgba(0,0,0,0.1);
            border-right: 1px solid rgba(0,0,0,0.1);
            text-align: left;
            padding-left: 10px;
            width: 6rem;
            box-shadow: 0 -1px 3px 0 rgba(0,0,0,0.1);
            cursor: pointer;
        }

        .child-age .child-age-options {
            flex-direction: column;
            position: absolute;
            z-index: 1;
            background-color: white;
            top: 3.6rem;
            width: 6rem;
            max-height: 17rem;
            overflow-x: scroll;
            box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
            border-left: 1px solid rgba(0,0,0,0.1);
            border-right: 1px solid rgba(0,0,0,0.1);
            border-bottom: 1px solid rgba(0,0,0,0.1);
            padding: 5px 0;
        }

        .child-age .child-age-options.show {
            display: flex !important;
        }

        .child-age .child-age-options.hide {
            display: none;
        }

        .child-age .child-age-options span {
            padding: 8px 10px;
        }

        .child-age .child-age-options span:hover {
            background-color: #c8c8c8;
            color: white;
        }

        #dummy-child {
            display: none !important;
        }
        
        .room-combo {
            display: flex;
            flex-direction: column;
            margin: 5px;
            padding: 0;
            margin-bottom: 0;
        }

        .room-combo.added {
            border-top: 1px solid rgba(0,0,0,0.1);
        }

        .room-combo .room-title {
            display: block;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            color: black;
        }

        .room-combo .room-combo__wrapper {
            display: flex;
            justify-content: space-between;
            padding-left: 0;
            padding-bottom: 0;
        }

        .room-combo__wrapper .room__remove {
            font-size: 11px;
            color: red;
            cursor: pointer;
            visibility: hidden;
            padding: 7px 0;
            text-transform: capitalize;
        }

        .room-combo__wrapper .room__remove.visible {
            visibility: visible;
        }

        .room-combo__wrapper .quantity-details {
            display: none;
            padding-left: 0;
            justify-content: flex-start;
            align-items: center;
        }

        .room-combo.collapsed .quantity-details {
            display: flex;
        }

        .room-combo__wrapper .quantity-details .room__edit {
            color: #87ce4f;
            text-transform: uppercase;
            font-size: 11px;
            padding: 0 10px;
            cursor: pointer;
        }

        .room-combo__wrapper .quantity-details .quantity {
            display: flex;
            padding: 0;
            color: black;
        }

        .room-combo__wrapper .quantity-details .quantity .adult-count,
        .room-combo__wrapper .quantity-details .quantity .child-count {
            font-weight: bold;
        }

        .quantity-details .actions {
            display: flex;
            justify-content: space-between;
        }

        .room-combo.collapsed .quantity-select {
            display: none;
        }

        .room-combo .quantity-select {
            display: flex;
            flex-direction: column;
            padding: 0;
        }

        .room-combo .quantity-select .quantity-title {
            display: block;
            padding: 5px 0;
            font-size: 1.2rem;
            font-weight: bold;
        }

        .room-combo .quantity-select .adult-quantity-wrapper,
        .room-combo .quantity-select .child-quantity-wrapper {
            padding: 0;
        }

        .room-combo .quantity-select .child-quantity-wrapper {
            margin: 15px 0 0;
        }

        .room-combo .quantity-select .adult-quantity-wrapper .quantity-options,
        .room-combo .quantity-select .child-quantity-wrapper .quantity-options {
            display: flex;
            justify-content: flex-start;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
            border-radius: 5px;
            width: fit-content;
        }

        .quantity-select .quantity-options span {
            padding: 5px 10px;
            color: black;
        }

        .quantity-select .quantity-options span.active {
            background-color: #b2ea86;
            box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
            border-radius: 5px;
            font-weight: bold;
        }

        .quantity-select .quantity-options span:not(.active):hover {
            box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
            border-radius: 5px;
            cursor: pointer;
            background-color: #dcdcdc;
            font-weight: bold
        }

        .room-guest-quantity__container .bottom {
            display: flex;
            justify-content: space-between;
            padding: 15px 10px;
            background-color: white;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
            font-weight: bold;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .bottom .add-room {
            padding: 5px 15px;
            border: 1px solid #87ce4f;
            border-radius: 5px;
            margin: 0 5px;
            color: #87ce4f;
            cursor: pointer;
        }

        .bottom .apply {
            padding: 5px 10px;
            background-color: #87ce4f;
            color: white;
            border-radius: 5px;
            margin: 0 5px;
            cursor: pointer;
        }

        .child-age-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding: 5px 0 !important;
        }

        .child-age-wrapper .age-dropdown-wrapper {
            padding: 0;
            margin-right: 30px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        .child-age-wrapper .age-dropdown-wrapper .age-dropdown {
            position: relative;
            padding: 5px 0;
            color: black;
        }

        .child-age-wrapper .age-dropdown-wrapper#dummy-age {
            display: none;
        }

        .age-dropdown-wrapper .age-title {
            font-size: 1.2rem;
            font-weight: bold;
            text-transform: uppercase;
            padding: 5px 0 0;
        }

        .age-title span {
            padding-right: 5px;
        }

        .age-dropdown-wrapper .age-title i {
            display: none;
            color: red !important;
        }

        .age-dropdown-wrapper.error .age-title {
            color: red;
        }

        .age-dropdown-wrapper.error .age-title i {
            display: inline-block;
        }

        .age-dropdown .age-value {
            border: 1px solid rgba(0,0,0,0.1);
            text-align: left;
            padding-left: 10px;
            padding-right: 10px;
            width: 6rem;
            box-shadow: 0 -1px 3px 0 rgba(0,0,0,0.1);
            cursor: pointer;
            border-radius: 5px;
        }

        .age-dropdown-wrapper.error .age-dropdown .age-value {
            border-color: red;
        }

        .age-dropdown .arrow-icon {
            position: absolute;
            right: 0;
            top: 10px;
            cursor: pointer;
            padding-right: 8px;
        }

        .age-dropdown .age-options {
            display: flex;
            flex-direction: column;
            position: absolute;
            z-index: 1;
            background-color: white;
            top: 3.6rem;
            width: 6rem;
            max-height: 17rem;
            overflow-x: scroll;
            box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
            padding: 5px 0;
            border-left: 1px solid rgba(0,0,0,0.1);
            border-right: 1px solid rgba(0,0,0,0.1);
            border-bottom: 1px solid rgba(0,0,0,0.1);
            cursor: pointer;
        }

        .age-dropdown .age-options.collapsed {
            display: none;
        }

        .age-dropdown .age-options span {
            padding: 8px 10px;
            text-align: center;
        }

        .age-dropdown .age-options span:hover {
            background-color: #dcdcdc;
            font-weight: bold;
        }
    </style>
{% endblock %}
<form class="form-inline reservation-horizontal clearfix" role="form" method="post" action="{{ path('search_property') }}"
      name="reservationform" id="reservationform">
    <!-- Error message -->

    {#<h3>Check Room Availability</h3>#}
    <div id="message"></div>
    <div class="row" style="margin: 0 !important">
        <div class="col-sm-2">
            <div class="form-group">
                <label for="email" accesskey="E">Location</label>
                <select required class="form-control" name="location" id="location_select">
                    <option value="0" selected> Select All</option>
                    {% if data is defined %}
                        {% for val in data %}
                            <option value="{{ val.id }}">{{ val.location }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="checkin">Check In</label>
                {#<div class="popover-icon" data-container="body" data-toggle="popover"#}
                {#data-trigger="hover" data-placement="right"#}
                {#data-content="Check-In is from 11:00"><i class="fa fa-info-circle fa-lg"> </i>#}
                {#</div>#}

                <i class="fa fa-calendar infield"></i>
                <input required name="checkin" type="text" id="checkin" value="{% if postData['checkin'] is defined %}{{ postData['checkin']|date("d-m-Y") }}{% else %}{{ 'now'|date("d-m-Y") }}{% endif %}" class="form-control"
                       placeholder="{{ 'now'|date("d-m-Y") }}" required/>

            </div>
        </div>


        <div class="col-sm-2">
            <div class="form-group">
                <label for="checkout">Check Out</label>
                {#<div class="popover-icon" data-container="body" data-toggle="popover"#}
                {#data-trigger="hover" data-placement="right"#}
                {#data-content="Check-out is from 12:00"><i class="fa fa-info-circle fa-lg"> </i>#}
                {#</div>#}
                <i class="fa fa-calendar infield"></i>
                <input required name="checkout" type="text" id="checkout" value="{% if postData['checkout'] is defined %}{{ postData['checkout']|date("d-m-Y") }}{% else %}{{ 'now'|date_modify('+1 day')|date("d-m-Y") }}{% endif %}" class="form-control"
                       placeholder="{{ 'now'|date_modify('+1 day')|date("d-m-Y") }}" required/>
            </div>
        </div>




        <div class="col-sm-3">
            <div class="form-group">
                <label for="roomNo">Room</label>
                <div class="room-guest-quantity form-control" onclick="openRoomGuestContainer(event)">
                    <div class="input-field-display">
                        <span class="rooms-count">1</span>&nbsp;Rooms,&nbsp;
                        <span class="guest-count">2</span>&nbsp;Guests
                    </div>
                    <div class="room-guest-quantity__container">
                        <div class="pointer-top"></div>
                        <div class="room-guest-quantity__wrapper">
                            <div class="close"><i class="fa fa-times" onclick="closeRoomGuestContainer(event)"></i></div>
                            <div class="room-combo">
                                <span class="room-title">Room 1</span>
                                <div class="room-combo__wrapper">
                                    <div class="quantity-details">
                                        <div class="quantity">
                                            <span class="adult-count">2</span>&nbsp;Adults,&nbsp;
                                            <span class="child-count">0</span>&nbsp;Children
                                        </div>
                                        <span class="room__edit" onclick="editRoom(event)">edit</span>
                                    </div>
                                    <div class="quantity-select">
                                        <div class="adult-quantity-wrapper">
                                            <input type="hidden" name="adult" value="2" />
                                            <span class="quantity-title">Adults (Above 12 Years)</span>
                                            <div class="quantity-options" onclick="setQuantity(event)" data-for="adult">
                                                <span value="1">1</span>
                                                <span class="active" value="2">2</span>
                                                <span value="3">3</span>
                                                <span value="4">4</span>
                                                <span value="5">5</span>
                                                <span value="6">6</span>
                                                <span value="7">7</span>
                                                <span value="8">8</span>
                                                <span value="9">9</span>
                                                <span value="10">10</span>
                                                <span value="11">11</span>
                                                <span value="12">12</span>
                                            </div>
                                        </div>
                                        <div class="child-quantity-wrapper">
                                            <input type="hidden" name="child" value="0" />
                                            <span class="quantity-title">Children (1 - 12 Years)</span>
                                            <div class="quantity-options" onclick="setChildQuantity(event)" data-for="child">
                                                <span class="active" value="0">0</span>
                                                <span value="1">1</span>
                                                <span value="2">2</span>
                                                <span value="3">3</span>
                                                <span value="4">4</span>
                                            </div>
                                        </div>
                                        <div class="child-age-wrapper">
                                            <div class="age-dropdown-wrapper" id="dummy-age">
                                                <div class="age-title"><span></span><i class="fa fa-exclamation"></i></div>
                                                <div class="age-dropdown">
                                                    <input type="text" name="age-value" class="age-value" placeholder="Age" onclick="toggleChildAgeDropdown(event)" readonly />
                                                    <span class="arrow-icon" onclick="toggleChildAgeDropdown(event)"><i class="fa fa-angle-down"></i></span>
                                                    <div class="age-options collapsed" onclick="setChildAge(event)">
                                                        <span value="1">1</span>
                                                        <span value="2">2</span>
                                                        <span value="3">3</span>
                                                        <span value="4">4</span>
                                                        <span value="5">5</span>
                                                        <span value="6">6</span>
                                                        <span value="7">7</span>
                                                        <span value="8">8</span>
                                                        <span value="9">9</span>
                                                        <span value="10">10</span>
                                                        <span value="11">11</span>
                                                        <span value="12">12</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="room__remove" onclick="removeRoom(event)">remove</span>
                                </div>
                            </div>
                        </div>
                        <div class="bottom">
                            <span class="add-room" onclick="addRoom(event)">+ ADD ANOTHER ROOM</span>
                            <span class="apply" onclick="confirmRooms(event)">APPLY</span>
                        </div>
                        <input type="hidden" name="adult-quantity" value="2" />
                        <input type="hidden" name="child-quantity" value="0"/>
                        <input type="hidden" name="rooms-quantity" value="1"/>
                    </div>
                </div>
            </div>
        </div>

        {#<div class="col-sm-1">
            <div class="form-group">
                <label for="room">Meal Plan</label>
                {#<div class="popover-icon" data-container="body" data-toggle="popover"#}
                {#data-trigger="hover" data-placement="right"#}
                {#data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i#}
                {#class="fa fa-info-circle fa-lg"> </i></div>
                <select required class="form-control" name="plan" id="roomPlan" disabled>
                    <option  disabled="disabled" value="">Select Meal Plan</option>
                    <option selected="selected" value="CP">CP</option>
                    <option value="EP">EP</option>
                    <option value="AP">AP</option>
                    <option value="MAP">MAP</option>
                </select>
            </div>
        </div>#}
        <input type="hidden" name="plan" value="CP" />
        <div class="col-sm-1">
            <button type="submit" class="btn btn-primary btn-sm btn-block">Search</button>
        </div>
    </div>
    
</form>

