{% extends 'admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
{% endblock %}
{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Edit State</h2>
    </div>

    <!-- Page Content Wrapper -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-6">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            <i class="fa fa-check-circle"></i>{{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_start(edit_form) }}
                        <div class="control-group">
                            {{ form_label(edit_form.name) }}
                            <div class="controls">
                                {{ form_widget(edit_form.name, {'attr':{'class':'form-control input-lg'}}) }}
                                <p></p>
                                <p></p>
                            </div>
                            {{ form_errors(edit_form.name) }}
                        </div>
                        <br>
                        <input type="submit" value="Update" class="btn btn-sm btn-success">

                        <a href="{{ path('states_index') }}" class="btn btn-sm btn-default"><i class="fa fa-reply"></i>Back to the List</a>
                        {{ form_end(edit_form) }}
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Delete" class="btn btn-sm btn-danger" onclick="return confirm('Do you really want to delete this entry')" style="float: right;">
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}