{% extends 'admin.html.twig' %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> States</h2>
    </div>

    <!-- Page Content Wrapper -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-6">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>Add or Edit Content</strong><br><br>
                        <div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <td>Sl. No.</td>
                                    <td>Name</td>
                                    <td>Action</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for state in states %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ state.name }}</td>
                                        <td width="15%">
                                            <table>
                                                <tr>
                                                    {#<td width="80px">#}
                                                    {#<a href="{{ path('property_show', { 'id': property.id }) }}" class="btn btn-sm btn-success"><i class="fa fa-eye"></i> show</a>#}
                                                    {#</td>#}
                                                    <td width="80px">
                                                        <a href="{{ path('states_edit', { 'id': state.id }) }}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i> edit </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <br>
                        </div>
                        <a href="{{ path('states_new') }}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i>Add New State</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

