{% extends 'admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
{% endblock %}
{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Add State</h2>
    </div>

    <!-- Page Content Wrapper -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-6">
                {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        <i class="fa fa-check-circle"></i>{{ msg }}
                    {% endfor %}
                </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_start(form) }}
                        <div class="control-group">
                            {{ form_label(form.name) }}
                            <div class="controls">
                                {{ form_widget(form.name, {'attr':{'class':'form-control intput-lg'}}) }}
                                <p></p>
                                <p></p>
                            </div>
                            {{ form_errors(form.name) }}
                        </div>
                        <br>
                        <a href="{{ path('states_index') }}" class="btn btn-sm btn-default"><i class="fa fa-reply"></i>Back to List</a>
                        <input type="submit" value="Add" class="btn btn-sm btn-success">
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}