{% extends '::admin.html.twig' %}

{% block body %}

    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Property List</h2>
    </div>
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>Add or Edit Content</strong><br><br>

                        <a href="{{ path('property_new') }}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i>Add New Property</a>
                        <div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Sl. No.</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    {# <th>Description</th> #}
                                    <th>Url</th>
                                    <th>Category</th>
                                    <th>Featured</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for property in properties %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ property.name }}</td>
                                        <td>{{ property.address }}</td>
                                        {# <td>{{ property.description }}</td> #}
                                        <td>{{ property.url }}</td>
                                        <td>{{ property.category }}</td>
                                        <td>{% if property.isFeatured == true %}<strong class="btn-danger btn btn-rounded">Yes</strong> {% else %} <strong class="btn-default btn btn-rounded">No</strong> {% endif %}</td>
                                        <td width="15%">
                                            <table>
                                                <tr>
                                                    {#<td width="80px">#}
                                                        {#<a href="{{ path('property_show', { 'id': property.id }) }}" class="btn btn-sm btn-success"><i class="fa fa-eye"></i> show</a>#}
                                                    {#</td>#}
                                                    <td width="80px">
                                                        <a href="{{ path('property_edit', { 'id': property.id }) }}" class="btn btn-sm btn-default"><i class="fa fa-edit"></i> edit </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
