{% extends '::admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
    <style>
    .remove_block {
        position: absolute;
        top: -10px;
        right: -3px;
        font-size: 20px;
        cursor: pointer;
    }
    </style>
{% endblock %}
{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Add Property </h2>
    </div>
    {{ form_start(form) }}
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            <i class="fa fa-check-circle"></i> {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>Add or Edit Content</strong><br><br>
                        <div id="gallery" class="form-wrapper" data-prototype="{% filter escape %}{% include 'property/Prototype/image.html.twig' with {'val': form.image.vars.prototype} %}{% endfilter %}" cellspacing="15">
                            <div class="control-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ form_label(form.location) }}
                                        <div class="controls">
                                            {{ form_widget(form.location) }}
                                            <p></p>
                                            {#<p class="help-block">Please provide your first name</p>#}
                                        </div>
                                        {{ form_errors(form.location) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_label(form.host) }}
                                        <div class="controls">
                                            {{ form_widget(form.host) }}
                                            <p></p>
                                        </div>
                                        {{ form_errors(form.host) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_label(form.childAgeLimit) }}
                                        <div class="controls">
                                            {{ form_widget(form.childAgeLimit) }}
                                            <p></p>
                                        </div>
                                        {{ form_errors(form.childAgeLimit) }}
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                {{ form_label(form.name) }}
                                <div class="controls">
                                    {{ form_widget(form.name, {'attr':{'class': 'form-control input-lg'}}) }}
                                    <p></p>
                                    {#<p class="help-block">Please provide your first name</p>#}
                                </div>
                                {{ form_errors(form.name) }}
                            </div>
                            <div class="control-group">
                                {{ form_label(form.address) }}
                                <div class="controls">
                                    {{ form_widget(form.address, {'attr':{'class': 'form-control'}}) }}
                                    <p></p>
                                    {#<p class="help-block">Please provide your first name</p>#}
                                </div>
                                {{ form_errors(form.address) }}
                            </div>
                            <div class="control-group">
                                {{ form_label(form.description) }}
                                <div class="controls">
                                    {{ form_widget(form.description, {'attr':{'class': 'form-control','rows':6}}) }}
                                    <p></p>
                                    {#<p class="help-block">Please provide your first name</p>#}
                                </div>
                                {{ form_errors(form.description) }}
                            </div>
                            <div class="control-group">
                                {{ form_label(form.keywords) }}
                                <div class="controls">
                                    {{ form_widget(form.keywords, {'attr':{'class': 'form-control input-lg'}}) }}
                                    <p></p>
                                </div>
                                {{ form_errors(form.keywords) }}
                            </div>
                            <div class="control-group">
                                <label>Website Link</label>
                                <div class="controls">
                                    {{ form_widget(form.url, {'attr':{'class': 'form-control','placeholder':'www.example.com'}}) }}
                                    <p></p>
                                    {#<p class="help-block">Please provide your first name</p>#}
                                </div>
                                {{ form_errors(form.url) }}
                            </div>
                            <div class="control-group">
                                {{ form_label(form.category) }}
                                <div class="controls">
                                    {{ form_widget(form.category, {'attr':{'class': 'form-control'}}) }}
                                    <p></p>
                                    {#<p class="help-block">Please provide your first name</p>#}
                                </div>
                                {{ form_errors(form.category) }}
                            </div>
                            <div class="control-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form_label(form.experiences) }}
                                        <div class="controls">
                                            {{ form_widget(form.experiences, {'attr':{'class': 'individual-row-checkboxes'}}) }}
                                            <p></p>
                                        </div>
                                        {{ form_errors(form.experiences) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_label(form.facilities) }}
                                        <div class="controls">
                                            {{ form_widget(form.facilities, {'attr':{'class': 'individual-row-checkboxes'}}) }}
                                            <p></p>
                                        </div>
                                        {{ form_errors(form.facilities) }}
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form_label(form.good) }}
                                        <div class="controls">
                                            {{ form_widget(form.good, {'attr':{'class': 'form-control','rows':6}}) }}
                                            <p></p>
                                        </div>
                                        {{ form_errors(form.good) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_label(form.notGood) }}
                                        <div class="controls">
                                            {{ form_widget(form.notGood, {'attr':{'class': 'form-control','rows':6}}) }}
                                            <p></p>
                                        </div>
                                        {{ form_errors(form.notGood) }}
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                {{ form_label(form.featimage) }}
                                <div class="controls">
                                    {{ form_widget(form.featimage, {'attr':{'class': 'btn btn-default btn-file','required':'required'}}) }}
                                    <p></p>
                                    {#<p class="help-block">Please provide your first name</p>#}
                                </div>
                                <span class="text-danger">{{ form_errors(form.featimage) }}</span>
                                {{ form_widget(form.altText) }}
                                {{ form_errors(form.altText) }}
                            </div>
                            <div class="gallery">
                                <ul class="clearfix" style="list-style:none; margin: 0; padding: 0">
                                    {% for i in form.image %}
                                        <li>
                                            {#<a href="#" class="close">Close Block</a>#}
                                            <strong> {{ loop.index }}</strong>
                                            {{ form_widget(i.file) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <p>&nbsp;</p>
                                <button name="gallery" class="add_block black x-small btn btn-sm btn-default"  id="1"> <i class="fa  fa-plus-circle"></i> Add Property images</button>
                                <p>&nbsp;</p>
                            </div>
                            {#<div class="control-group">#}
                                {#{{ form_label(form.experiences) }}#}
                                {#<div class="controls">#}
                                    {#{{ form_widget(form.experiences, {'attr':{'class': 'js-example-basic-multiple form-control'}}) }}#}
                                    {#<p></p>#}
                                    {#<p class="help-block">Please provide your first name</p>#}
                                {#</div>#}
                                {#<span class="text-danger">{{ form_errors(form.featimage) }}</span>#}
                            {#</div>#}

                            {#<div class="control-group">#}
                                {#{{ form_label(form.facilities) }}#}
                                {#<div class="controls">#}
                                    {#{{ form_widget(form.facilities, {'attr':{'class': 'js-example-basic-multiple form-control'}}) }}#}
                                    {#<p></p>#}
                                    {#<p class="help-block">Please provide your first name</p>#}
                                {#</div>#}
                                {#<span class="text-danger">{{ form_errors(form.featimage) }}</span>#}
                            {#</div>#}
                            {#<div class="control-group">#}
                                {#{{ form_label(form.host) }}#}
                                {#<div class="controls">#}
                                    {#{{ form_widget(form.host, {'attr':{'class': 'form-control'}}) }}#}
                                    {#<p></p>#}
                                    {#<p class="help-block">Please provide your first name</p>#}
                                {#</div>#}
                                {#{{ form_errors(form.host) }}#}
                            {#</div>#}
                            <div style="float: right">
                                <strong class="btn btn-sm btn-danger">Featured : {{ form_widget(form.isFeatured, {'attr':{'class': 'btn btn-default btn-file'}}) }}</strong>
                                <strong class="btn btn-sm btn-info p-1">Show On : {{ form_widget(form.display, {'attr':{'class': 'btn btn-default btn-file'}}) }}</strong>
                            </div>
                       </div>

                        <br>

                        <input type="submit" value="Submit" class="btn btn-sm btn-success"/>
                        <a href="{{ path('property_index') }}"
                           class="btn btn-sm btn-default"><i
                                    class="fa fa-reply fa-fw"></i> Back to the list</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/select2.min.js') }}"></script>
    <script>
        function addBlockForm($collectionHolder, grid, that) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            // get the new index
            var index = $collectionHolder.data('index');
            console.log($collectionHolder);
            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);
            newForm = newForm.replace(/__val__/g, index+1);
            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            switch(grid){
                case '1' : that.parent().find('ul').append(newForm);
                    removeBlock(grid);
                    break;
                    //
                    //default : // Display the form in the page in an li, before the "Add a tag" link li
                    //    var $newBlock = $('<div class="wrapper-inner float"></div>').append(newForm);
                    //    $collectionHolder.append($newBlock);
            }
        }

        function removeBlock(grid){
            switch(grid) {
                case '1' :
                    $('.remove_block').on('click', function (e) {
                        e.preventDefault();
                        $(this).parent().remove();
                    });
                    break;
            }
        }

        // function addTagFormDeleteLink($tagFormLi) {
        //     var $removeFormA = $('<span class="remove_block" style="position: absolute; top: -10px; right: -3px; font-size: 20px; cursor: pointer;">&times;</span>');
        //     $tagFormLi.append($removeFormA);

        //     $removeFormA.on('click', function(e) {
        //         // prevent the link from creating a "#" on the URL
        //         e.preventDefault();

        //         // remove the li for the tag form
        //         $tagFormLi.remove();
        //     });
        // }

        function addTagFormDeleteLink($tagFormLi) {
            var removeFormA = document.createElement("SPAN");
            // removeFormA.classList.add = 'remove_block';
            removeFormA.setAttribute('class', 'remove_block');
            removeFormA.innerHTML = '<i class="fa fa-times"></i>';
            $tagFormLi.appendChild(removeFormA);

            removeFormA.addEventListener('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }


        // $(document).ready(function() {
        //     var collectionHolder,
        //             grid ;

        //     // add a delete link to all of the existing tag form li elements
        //     $('.form-wrapper').find('.gallery li').each(function() {
        //         addTagFormDeleteLink($(this));
        //     });

        //     $('.add_block').on('click', function(e) {
        //         e.preventDefault();
        //         // Get the fieldset that holds the collection of blocks
        //         collectionHolder = $('#' + this.name);

        //         grid = $(this).attr('id');
        //         // count the current form inputs we have (e.g. 2), use that as the new
        //         // index when inserting a new item (e.g. 2)

        //         collectionHolder.data('index', collectionHolder.find('.gallery ul li').length);
        //         // add a new tag form (see next code block)
        //         addBlockForm(collectionHolder, grid, $(this));
        //     });

        // });
        $(document).ready(function() {
            var collectionHolder,
                    grid ;

            // add a delete link to all of the existing tag form li elements
            // $('.form-wrapper').find('.gallery li').each(function() {
            //     addTagFormDeleteLink($(this));
            // });
            let propertyImagesList = document.querySelectorAll("#gallery .gallery li");
            [...propertyImagesList].map(image => addTagFormDeleteLink(image));

            $('.add_block').on('click', function(e) {
                e.preventDefault();
                // Get the fieldset that holds the collection of blocks
                collectionHolder = $('#' + this.name);

                grid = $(this).attr('id');
                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)

                collectionHolder.data('index', collectionHolder.find('.gallery ul li').length);
                // add a new tag form (see next code block)
                addBlockForm(collectionHolder, grid, $(this));
            });

        });

        $('.js-example-basic-multiple').select2();

        $('.individual-row-checkboxes label').after('<br>');
    </script>
{% endblock %}