<!-- Booking Form -->

{#{% form_theme form_homestay _self %}

{% block checkbox_widget %}
    <div class="checkbox_widget">
        {% set type = type|default('checkbox') %}
        {{ block('form_widget_simple') }}
        {{ block('form_label') }}
    </div>
{% endblock %}#}
<div id="form-resp"></div>
<div id="loader" style='display:none;'><img src="{{ asset('images/loader-dot.gif') }}" width="50"></div>
{{ form_start(form_homestay,{'attr':{'id':'form-homestay'}}) }}

<div class="form-group">
    {{ form_widget(form_homestay.name) }}
</div>
<div>
    {% set homestayName ='' %}
    {% if homestay is defined %}
        {% set homestayName =  homestay.name %}
    {% endif %}
    {{ form_widget(form_homestay.homestayName,{'attr':{'value':homestayName}}) }}
</div>
<div class="input-daterange input-group">
    <div class="form-group">
        {{ form_widget(form_homestay.checkIn) }}
    </div>
    <div class="form-group">
        {{ form_widget(form_homestay.checkOut) }}
    </div>
</div>
<div class="form-group">
    {{ form_widget(form_homestay.room) }}
</div>
<div class="form-group">
    {{ form_widget(form_homestay.adultQuantity) }}
</div>
<div class="form-group">
    {{ form_widget(form_homestay.childQuantity) }}
</div>
<div class="form-group">
    {{ form_widget(form_homestay.phone) }}
</div>
<div class="form-group">
    {{ form_widget(form_homestay.email) }}
</div>
<div class="form-group">
    {{ form_widget(form_homestay.message) }}
</div>
{#<div class="form-group">
    <div class="g-recaptcha" data-sitekey="6LfDbbwUAAAAALsidilI2uz_sIvyqA-_ddbIUlRT"></div>
</div>#}
<div>
    {{ form_widget(form_homestay.submit) }}
</div>
{{ form_end(form_homestay) }}
