<table>
    <tbody>
    <tr>
        <td style="width: 117px;"><strong>Name</strong></td>
        <td style="width: 15px;">:&nbsp;</td>
        <td style="width: 15px;">{{ data.name }}</td>
    </tr>
    <tr>
        <td style="width: 117px;"><strong>Email</strong></td>
        <td style="width: 15px;">:&nbsp;</td>
        <td style="width: 15px;">{{ data.email }}</td>
    </tr>
    <tr>
        <td style="width: 117px;"><strong>Phone No.&nbsp;</strong></td>
        <td style="width: 15px;">&nbsp;:</td>
        <td style="width: 15px;">{{ data.phone }}</td>
    </tr>
    <tr>
        <td style="width: 117px;"><strong>Homestay Name</strong></td>
        <td style="width: 15px;">:&nbsp;</td>
        <td style="width: 15px;">{{ data.homestayName }}</td>
    </tr>
    <tr>
        <td style="width: 117px;"><strong>Room Type</strong></td>
        <td style="width: 15px;">&nbsp;:</td>
        <td style="width: 15px;">{{ data.room }}</td>
    </tr>
    <tr>
        <td style="width: 117px;"><strong>Checkin Date</strong></td>
        <td style="width: 15px;">&nbsp;:</td>
        <td style="width: 15px;">{{ data.checkIn|date('d/m/y') }}</td>
    </tr>
    <tr>
        <td style="width: 117px;"><strong>Checkout Date</strong></td>
        <td style="width: 15px;">&nbsp;:</td>
        <td style="width: 15px;">{{ data.checkOut|date('d/m/y') }}</td>
    </tr>
    <tr>
        <td style="width: 117px;"><strong>Guests above 6 yrs.</strong></td>
        <td style="width: 15px;">&nbsp;:</td>
        <td style="width: 15px;">{{ data.adultQuantity }}</td>
    </tr>
    <tr>
        <td style="width: 117px;"><strong>Guests below 6 yrs.</strong></td>
        <td style="width: 15px;">&nbsp;:</td>
        <td style="width: 15px;">{{ data.childQuantity }}</td>
    </tr>
    <tr>
        <td style="width: 117px;"><strong>Message</strong></td>
        <td style="width: 15px;">&nbsp;:</td>
        <td style="width: 15px;">{{ data.message }}</td>
    </tr>
    </tbody>
</table>




