{% if response is defined %}
    {% if stateId is defined %}
        <option value="state_{{ stateId }}" selected="selected">All</option>
    {% endif %}
    {% for location in response %}
        <option value="{{ location.id }}">{{ location.name }}</option>
    {% endfor %}
{% endif %}