{% extends 'ourguest.html.twig' %}

{% block title %}Homestays | OurGuest{% endblock %}

{% block body %}
    <div class="container pt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('ourguest_homepage') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Homestays</li>
            </ol>
        </nav>
        <h2 class="homestays-main-header cursive">Our Homestays</h2>
        <div class="row">
            <!-- Navigation Bar for Tab Content -->
            {% if detail is defined %}
            <div class="tab col-12 small__padding-top mb-3" id="state-navbar">
                <ul class="nav nav-tabs nav-justified">
                        {% for val in detail %}
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#state_{{ val.id }}" data-id="{{ val.id }}">{{ val.name }}</a>
                            </li>
                        {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if sikkim_locations is defined %}
                <div id="location-listing-container" class="">
                    <i class="fa fa-search"></i>
                    <select name="location" id="location-list" data-id="1">
                        <option value="state_1" selected="selected">All</option>
                        {% for location in sikkim_locations %}
                            <option value="{{ location.id }}">{{ location.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}

            <!-- Tab Content -->
            <div class="tab-content col-12 small__padding-top" id="primary-tab-content">
                {% if detail is defined %}
                    {% for val in detail %}
                        <div id="state_{{ val.id }}" class="container tab-pane fade p-0">
                            <div class="d-flex flex-wrap">
                                {{ render(controller('OurguestBundle:Homestay:tabContentState', {'id': val.id})) }}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="col-12 text-center">
                    <div id="loader1" style='display:none;'><img src="{{ asset('images/loader-dot.gif') }}" width="50"></div>
                    <button class="btn__load-more homestays"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <input type="hidden" id="ajax_location" value="">
            <input type="hidden" id="ajax_last_prop" value="">
        </div>
    </div>
    <!-- Customise Tour Form -->
    {#{% include 'ourguest/default/customise-form.html.twig' %}#}
    {{ render(controller('OurguestBundle:Default:customizeTourForm')) }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(".modal").on("hidden.bs.modal", function (e) {
            var navtabReset = $("#homestayNavtab ul li:first-child a");
            navtabReset.addClass("active show");
        });
    </script>
{% endblock %}

