{% extends 'ourguest.html.twig' %}

{% block meta %}
    <meta name="description" content="{{ homestay.description|slice(0, 255) }}">
    <meta name="keywords" content="{{ homestay.keywords }}">
{% endblock %}

{% block title %}
    {% if page_title is defined %}
        {{ page_title }}
    {% endif %}
{% endblock %}

{% block body %}
    {% if homestay is defined %}
        <div class="homestay-header homestay-header__with-banner">
            <div class="container pt-3">
                <nav class="hidden-xs" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('ourguest_homepage') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('homestays_main') }}">Homestays</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ homestay.name }}</li>
                    </ol>
                </nav>
                <a class="visible-xs" href="{{ path('homestays_main') }}"><i class="fa fa-arrow-left black pb-3"></i></a>
                <div class="homestay-images main-images">
                    <div class="row">
                        <div class="carousel visible-xs slide" id="homestayImagesCarouselMobile" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item">
                                    <div class="col-md-4">
                                        <div class="inner-box">
                                            <div class="featured-img">
                                                <img src="{{ asset('images/uploads/'~ homestay.featimage) }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% for val in homestay.image %}
                                    <div class="carousel-item">
                                        <div class="col-md-4">
                                            <div class="inner-box">
                                                <div class="featured-img">
                                                    <img src="{{ asset('images/uploads/property/'~ val.path) }}" alt="{{ val.altText }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#homestayImagesCarouselMobile" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#homestayImagesCarouselMobile" role="button" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>

                    <div class="carousel multi-item-carousel hidden-xs slide" id="homestayImagesCarousel" data-ride="carousel" data-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item">
                                <div class="col-md-4">
                                    <div class="inner-box">
                                        <div class="featured-img">
                                            <img src="{{ asset('images/uploads/'~ homestay.featimage) }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% for val in homestay.image %}
                                <div class="carousel-item">
                                    <div class="col-md-4">
                                        <div class="inner-box">
                                            <div class="featured-img">
                                                <img src="{{ asset('images/uploads/property/'~ val.path) }}" alt="{{ val.altText }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#homestayImagesCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#homestayImagesCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
                <div class="header-section__content pt-md-2">
                    <div class="d-flex flex-row justify-content-between justify-content-sm-start">
                        <h2 class="header-section__title m-md-0" data-slug="{{ homestay.slug }}">{{ homestay.name }}</h2>
                        <ul class="list-block list-block--tabs">
                            <li>
                                <span>{{ homestay.location.name }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="header-section__rating mb-md-3">
                        <a class="header-section__rating__link d-flex flex-row" href="#comments">
                            {% set reviewsCount = 0 %}
                            {% set totalRatings = 0 %}
                            {% set avgRating = 0 %}
                            {% for review in homestay.review if review.status == 1 %}
                                {% set reviewsCount = reviewsCount + 1 %}
                                {% set totalRatings = review.rating %}
                            {% endfor %}
                            {% if reviewsCount > 0 %}
                                {% set avgRating = totalRatings/reviewsCount %}
                            {% endif %}
                            {{ avgRating|rating }}
                            {% if reviewsCount != 1 %}
                                <span>({{ reviewsCount }} reviews)</span>
                            {% else %}
                                <span>({{ reviewsCount }} review)</span>
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container layout-container">
            <div class="row homestay-single">
                <main class="col-lg-9 col-sm-12" role="main">
                    <div class="tab homestay-tabs hidden-xs">
                        <ul class="nav nav-tabs d-flex justify-content-between justify-content-md-start">
                            <li class="nav-item">
                                <a class="nav-link active" href="#description" data-toggle="tab" aria-expanded="false">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#rooms" data-toggle="tab" aria-expanded="false">Rooms</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#location" data-toggle="tab" aria-expanded="false">Location</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#host" data-toggle="tab" aria-expanded="false">Host</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#experiences" data-toggle="tab" aria-expanded="false">Experiences</a>
                            </li>
                        </ul>
                    </div>
                    <div class="hidden-768 accordion__single-page" id="homestay-accordian">
                        <div class="card">
                            <div class="card-header" id="titleDescription">
                                <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseDescription" aria-expanded="true" aria-controls="collapseDescription">
                                    <i class="fa fa-plus"></i><h6 class="m-0">Description</h6>
                                </button>
                            </div>
                            <div id="collapseDescription" class="collapse show" aria-labelledby="titleDescription" data-parent="#homestay-accordian">
                                <div class="card-body">
                                    <div class="homestay-tabs__content">
                                        <ul class="homestay-category-list list-block list-block--homestay-tabs">
                                            <li>
                                                <a href="{{ path('location_page_main', {'slug': homestay.slug}) }}" role="button">{{ homestay.location.state.name }}</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('homestays_main') }}" role="button">Homestays</a>
                                            </li>
                                        </ul>
                                        <p>{{ homestay.description|raw }}</p>
                                        <table class="table table-bordered homestay-tabs__table">
                                            <tbody>
                                            <tr>
                                                <td><strong>Type</strong></td>
                                                <td>Homestay Type</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Address</strong></td>
                                                <td>{{ homestay.address }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Room Types</strong></td>
                                                <td class="room-types">
                                                    <table class="table table-bordered">
                                                        <tbody>
                                                        {% for room in rooms %}
                                                            <tr class="d-flex justify-content-between">
                                                                <td><strong>{{ room.type }}</strong></td>
                                                                <td><i class="fa fa-rupee"></i>{{ room.rate }}/night</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong>Facilities</strong></td>
                                                <td>
                                                    <table class="table table-bordered">
                                                        <tbody>
                                                        <tr>
                                                            {% for facility in homestay.facilities %}
                                                                <td><i class="tickmark"></i> {{ facility.name }}</td>
                                                            {% endfor %}
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong>What's Good</strong></td>
                                                <td>
                                                    <table class="table table-bordered">
                                                        <tbody>
                                                        <tr>

                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="titleRooms">
                                <button class="btn btn-default collapsed" type="button" data-toggle="collapse" data-target="#collapseRooms" aria-expanded="false" aria-controls="collapseRooms">
                                    <i class="fa fa-plus"></i><h6 class="m-0">Rooms</h6>
                                </button>
                            </div>
                            <div id="collapseRooms" class="collapse" aria-labelledby="titleRooms" data-parent="#homestay-accordian">
                                <div class="card-body">
                                    <div class="homestay-tabs__content small__padding-top">
                                        {% for room in rooms %}
                                            <div class="d-flex flex-row justify-content-between">
                                                <h6>{{ room.type }} Room</h6>
                                                <span><i class="fa fa-rupee"></i>{{ room.rate }}/night</span>
                                            </div>
                                            <div class="room-images__row horizontal-scroll-wrapper small__padding-top">
                                                {% for image in room.images %}
                                                    <div class="room-images__container small__padding-right horizontal-scroll-element">
                                                        <div class="room-images">
                                                            <div class="image-padding">
                                                                <img src="{{ asset('images/uploads/rooms/'~ image.path) }}" alt="{{ image.altText }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="titleLocation">
                                <button class="btn btn-default collapsed" type="button" data-toggle="collapse" data-target="#collapseLocation" aria-expanded="false" aria-controls="collapseLocation">
                                    <i class="fa fa-plus"></i><h6 class="m-0">Location</h6>
                                </button>
                            </div>
                            <div id="collapseLocation" class="collapse" aria-labelledby="titleLocation" data-parent="#homestay-accordian">
                                <div class="card-body">
                                    <div class="homestay-tabs__content padding-all">
                                        <p>{{ homestay.location.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="titleHost">
                                <button class="btn btn-default collapsed" type="button" data-toggle="collapse" data-target="#collapseHost" aria-expanded="false" aria-controls="collapseHost">
                                    <i class="fa fa-plus"></i><h6 class="m-0">Host</h6>
                                </button>
                            </div>
                            <div id="collapseHost" class="collapse" aria-labelledby="titleHost" data-parent="#homestay-accordian">
                                <div class="card-body">
                                    <div class="host-img ml-auto mr-auto">
                                        <img src="{{ asset('images/uploads/'~ homestay.host.photo) }}">
                                    </div>
                                    <div class="homestay-tabs__content padding-top">
                                        <h5>{{ homestay.host.name }}</h5>
                                        <p>{{ homestay.host.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="titleExperiences">
                                <button class="btn btn-default collapsed" type="button" data-toggle="collapse" data-target="#collapseExperiences" aria-expanded="false" aria-controls="collapseExperiences">
                                    <i class="fa fa-plus"></i><h6 class="m-0">Experiences</h6>
                                </button>
                            </div>
                            <div id="collapseExperiences" class="collapse" aria-labelledby="titleExperiences" data-parent="#homestay-accordian">
                                <div class="card-body">
                                    <div class="homestay-tabs__content">
                                        <div class="horizontal-scroll-wrapper">
                                            {% for experience in homestay.experiences %}
                                                <div class="horizontal-scroll-element experience-popup" id="{{ experience.id }}">
                                                    <div class="content-holder">
                                                        <div class="inner-box">
                                                            <div class="featured-img">
                                                                <img src="{{ asset('images/uploads/'~ experience.featimage) }}">
                                                            </div>
                                                            <div class="caption1 mb-3 text-center">
                                                                <span>{{ experience.name }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-content hidden-xs">
                        <div class="tab-pane active in" id="description">
                            <div class="homestay-tabs__content padding-all">
                                <ul class="homestay-category-list list-block list-block--tabs">
                                    <li>
                                        <a href="{{ path('location_page_main', {'slug': homestay.slug}) }}" role="button">{{ homestay.location.state.name }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('homestays_main') }}" role="button">Homestays</a>
                                    </li>
                                </ul>
                                <p>{{ homestay.description|raw }}</p>
                                <table class="table table-bordered homestay-tabs__table">
                                    <tbody>
                                    <tr>
                                        <td><h6>Type</h6></td>
                                        <td>Homestay Type</td>
                                    </tr>
                                    <tr>
                                        <td><h6>Address</h6></td>
                                        <td>{{ homestay.address }}</td>
                                    </tr>
                                    <tr>
                                        <td><h6>Room Types</h6></td>
                                        <td>
                                            <table class="table table-bordered">
                                                <tbody>
                                                {% for room in rooms %}
                                                    <tr class="d-flex justify-content-between">
                                                        <td>{{ room.type }}</td>
                                                        <td><i class="fa fa-rupee"></i>{{ room.rate }}/night</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><h6>Facilities</h6></td>
                                        <td>
                                            <table class="table table-bordered">
                                                <tbody>
                                                {% for facility in homestay.facilities %}
                                                    <tr>
                                                        <td><i class="tickmark"></i> {{ facility.name }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="rooms">
                            <div class="homestay-tabs__content padding-all">
                                {% for room in rooms %}
                                    <div class="d-flex flex-row justify-content-between">
                                        <h6>{{ room.type }} Room</h6>
                                        <span><i class="fa fa-rupee"></i>{{ room.rate }}/night</span>
                                    </div>
                                    <div class="room-images__row small__padding-top padding-bottom">
                                        <div class="room-images__container small__padding-right mb-3">
                                            <div class="room-images">
                                                <div class="image-padding">
                                                    <img src="{{ asset('images/uploads/'~ room.featimage) }}">
                                                </div>
                                            </div>
                                        </div>
                                        {% for image in room.images %}
                                            <div class="room-images__container small__padding-right mb-3">
                                                <div class="room-images">
                                                    <div class="image-padding">
                                                        <img src="{{ asset('images/uploads/rooms/'~ image.path) }}" alt="{{ image.altText }}">
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="location">
                            <div class="homestay-tabs__content padding-all">
                                <p>{{ homestay.location.description }}</p>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="host">
                            <div class="homestay-tabs__content padding-all d-flex flex-row">
                                <div class="col-2 host-img">
                                    <img src="{{ asset('images/uploads/'~ homestay.host.photo) }}">
                                </div>
                                <div class="col-10 homestay-tabs__content padding-all">
                                        <h5>{{ homestay.host.name }}</h5>
                                        <p>{{ homestay.host.description }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="experiences">
                            <div class="homestay-tabs__content padding-all">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="carousel slide multi-item-carousel" id="experienceCarousel" data-ride="carousel" data-interval="false">
                                            <div class="carousel-inner">
                                                {{ render(controller('OurguestBundle:Homestay:experiencesForHomestay', {'id': homestay.id})) }}
                                            </div>
                                            <a class="carousel-control-prev" href="#experienceCarousel" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                            </a>
                                            <a class="carousel-control-next" href="#experienceCarousel" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="share-buttons-mobile-wrapper margin-top visible-xs">
                        <div class="share-buttons" data-urlshare="">
                            <div class="share-buttons__item" data-btntype="googleplus">
                                <div class="box">
                                    <a></a>
                                </div>
                            </div>
                            <div class="share-buttons__item" data-btntype="facebook">
                                <div class="box">
                                    <a></a>
                                </div>
                            </div>
                            <div class="share-buttons__item" data-btntype="twitter">
                                <div class="box">
                                    <a></a>
                                </div>
                            </div>
                            <div class="share-buttons__item" data-btntype="linkedinn">
                                <div class="box">
                                    <a></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="og-reviews__section container-shadow padding-all mt-5">
                        <div class="section-title title small__padding-bottom">
                            <h3 class="title__primary">OG Remarks</h3>
                        </div>
                        <div class="d-flex flex-wrap">
                            <div class="col-12 col-sm-6">
                                <h5>What's Good:</h5>
                                <span>{{ homestay.good|raw }}</span>
                            </div>
                            <div class="col-12 col-sm-6 pt-2">
                                <h5>What's Not Good:</h5>
                                <span>{{ homestay.notGood|raw }}</span>
                            </div>
                        </div>
                    </div>

                    <div id="comments" class="reviews mt-5 padding-all">
                        <div class="section-title title">
                            <h3 class="title__primary">Customer Reviews</h3>
                        </div>
                        <div class="margin-left margin-right reviews__rating-total padding-bottom">
                            <div class="reviews__rating-total__stars">
                                {{ avgRating|rating }}
                            </div>
                            <div class="reviews__rating-total__text">
                                {% if reviewsCount > 1 %}
                                    based on {{ reviewsCount }} reviews
                                {% elseif reviewsCount == 1 %}
                                    based on {{ reviewsCount }} review
                                {% else %}
                                    No reviews available
                                {% endif %}
                            </div>
                        </div>

                        {% for review in homestay.review if review.status == 1 %}
                            <div class="reviews__items padding-bottom">
                                <div id="comment-" class="reviews__items margin-left margin-right">
                                    <div class="reviews__item__container d-md-flex flex-md-row">
                                        <div class="reviews__item__info col-md-2">
                                            <img src="{{ asset('images/user-default.png') }}">
                                            <div class="reviews__item__name">
                                                <h6 class="m-0">{{ review.name }}</h6>
                                            </div>
                                        </div>
                                        <div class="reviews__item__content col-md-10">
                                            <div class="reviews__item__content__top">
                                                <div class="reviews__item__rating">
                                                    {{ review.rating|rating }}
                                                </div>
                                            </div>
                                            <div class="reviews__item__comment">
                                                <p>{{ review.comment }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        {% include 'ourguest/default/review-form.html.twig' %}

                    </div>
                </main>
                <aside class="col-sm col-lg-3 sidebar pl-0 pr-0 pr-lg-3" role="complementary">
                    <div class="price-decoration">
                        <div class="price-decoration__value d-flex flex-row justify-content-between">
                            <div class="price-decoration__details col-6 col-lg-12 pl-4 pr-0 pt-2">
                                <i class="fa fa-rupee"></i><span class="price">{{ minRate }}</span>
                                <span> per night</span>
                            </div>
                            <div class="button-container hidden-992 col-6 text-center">
                                <button class="btn btn-primary" onclick="showForm()">Book Now!</button>
                            </div>
                        </div>
                        {#<div class="price-decoration__label">

                        </div>#}
                    </div>
                    <div class="booking-container">
                        <div class="booking-form form p-3 mt-4 mt-lg-3">
                            <h5 class="text-center mb-3">Book your Homestay</h5>
                            {% include 'ourguest/homestays/booking-form.html.twig' %}
                        </div>
                    </div>
                </aside>
                <div class="similar-section col-12 padding-top padding-bottom">
                    <h3>Similar Homestays</h3>
                    <div class="similar-products d-flex flex-wrap">
                        {{ render(controller('OurguestBundle:Homestay:similarHomestays', {'id': homestay.id, 'stateId': homestay.location.state.id})) }}
                    </div>
                </div>
                {#<aside class="col-sm sidebar hidden-992" role="complementary">
                    <div class="price-decoration">
                        <div class="price-decoration__value d-flex flex-row justify-content-between">
                            <div class="price-decoration__details col-6 pl-4 pr-0 pt-2">
                                <i class="fa fa-rupee"></i><span class="price">{{ minRate }}</span>
                                <span> per night per person</span>
                            </div>
                        </div>
                        #}{#<div class="price-decoration__label">

                        </div>#}{#
                    </div>
                </aside>#}

            </div>
        </div>

        {% include ':ourguest/experiences/frontend:popup.html.twig' %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        function showForm() {
            $("aside.sidebar").css({"position": "relative","bottom": "0"});
            $('html, body').animate({
                scrollTop : $("aside.sidebar").position().top - $(".top-bar").height()
            });
        }
    </script>
{% endblock %}