{% if detail is defined %}
    {% for val in detail %}
        <div class="content-holder">
            <a href="{{ path('homestay_template', {'slug': val.slug}) }}" id="{{ val.id }}" target="_blank">
                <div class="inner-box">
                    <div class="featured-img">
                        <img src="{{ asset('images/uploads/'~ val.featimg) }}">
                    </div>
                </div>
                <div class="details-section small__padding-top">
                    <div class="name-location d-flex flex-row justify-content-between">
                        <h5>{{ val.name }}</h5>
                        <ul class="list-block list-block--tabs">
                            <li>
                                <span>{{ val.location }}</span>
                            </li>
                        </ul>
                    </div>
                    {% if val.rate is defined %}
                    <span><i class="fa fa-rupee"></i>{{ val.rate }} per night</span>
                    {% endif %}
                </div>
            </a>
        </div>
    {% endfor %}
{% endif %}


