{% extends 'admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
{% endblock %}
{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Edit Tour</h2>
    </div>

    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            <i class="fa fa-check-circle"></i> {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_start(edit_form) }}
                        <div class="form-wrapper">
                            <div class="control-group">
                                {{ form_label(edit_form.name) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.name, {'attr':{'class': 'form-control input-lg'}}) }}
                                    <p></p>
                                </div>
                                {{ form_errors(edit_form.name) }}
                            </div>
                            <div class="control-group">
                                <div class="col-md-4 p-md-0">
                                    {{ form_label(edit_form.state) }}
                                    <div class="controls">
                                        {{ form_widget(edit_form.state) }}
                                        <p></p>
                                    </div>
                                    {{ form_errors(edit_form.state) }}
                                </div>

                                <div class="col-md-4 p-md-0">
                                    {{ form_label(edit_form.noOfDays) }}
                                    <div class="controls">
                                        {{ form_widget(edit_form.noOfDays) }}
                                        <p></p>
                                    </div>
                                    {{ form_errors(edit_form.noOfDays) }}
                                </div>

                                <div class="col-md-4 p-md-3">
                                    {{ form_label(edit_form.tourType) }}
                                    <div class="controls">
                                        {{ form_widget(edit_form.tourType) }}
                                        <p></p>
                                    </div>
                                    {{ form_errors(edit_form.tourType) }}
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="col-md-4">
                                    {{ form_label(edit_form.startDate) }}
                                    <div class="controls">
                                        {{ form_widget(edit_form.startDate) }}
                                        <p></p>
                                    </div>
                                    {{ form_errors(edit_form.startDate) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_label(edit_form.endDate) }}
                                    <div class="controls">
                                        {{ form_widget(edit_form.endDate) }}
                                        <p></p>
                                    </div>
                                    {{ form_errors(edit_form.endDate) }}
                                </div>
                                <div class="col-md-4 p-md-3">
                                    {{ form_label(edit_form.rate) }}
                                    <div class="controls">
                                        {{ form_widget(edit_form.rate) }}
                                        <p></p>
                                    </div>
                                    {{ form_errors(edit_form.rate) }}
                                </div>
                            </div>

                            <div id="itinerary" data-prototype="{% filter escape %}{% include 'ourguest/tours/Prototype/itinerary.html.twig' with {'val': edit_form.itinerary.vars.prototype} %}{% endfilter %}">
                                <div class="itinerary">
                                    <ul class="clearfix" style="list-style:none; margin: 0; padding: 0">
                                        {% for val in edit_form.itinerary %}
                                            <li style="list-style: none; margin:10px 5px; border-radius:5px; width:100%; border: 1px solid #dbdbdb; padding:10px;float: left; display: inline-block">
                                                <div class="row">
                                                    <div class="col-lg-1">
                                                        <strong>Day</strong>

                                                        {{ form_errors(val.day) }}
                                                        {{ form_widget(val.day, {'attr':{'class': 'form-control','value':loop.index}}) }}
                                                    </div>

                                                    <div class="col-lg-2">
                                                        <strong>Image</strong><br>
                                                        {#<img src="{{ asset('images/uploads/itinerary/'~ val.vars.data.path) }}" height="50" width="50"/>#}
                                                        <div >
                                                            {{ form_errors(val.file) }}
                                                            {{ form_widget(val.file, {'attr':{'class': 'form-control'}}) }}
                                                            <p></p>
                                                            {{ form_widget(val.alt_text) }}
                                                            {{ form_errors(val.alt_text) }}
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <strong>Description</strong>
                                                        {{ form_errors(val.description) }}
                                                        {{ form_widget(val.description, {'attr':{'class': 'form-control', 'rows':4}}) }}
                                                    </div>
                                                </div>



                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <p>&nbsp;</p>
                                    <button name="itinerary" class="add_itinerary black x-small btn btn-sm btn-default"  id="1"> <i class="fa  fa-plus-circle"></i> Add Itinerary</button>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                            <div class="control-group">
                                {{ form_label(edit_form.tourOverview) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.tourOverview, {'attr':{'class': 'form-control', 'rows':6}}) }}
                                    <p></p>
                                </div>
                                {{ form_errors(edit_form.tourOverview) }}
                            </div>
                            <div class="control-group">
                                {{ form_label(edit_form.keywords) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.keywords, {'attr':{'class': 'form-control input-lg'}}) }}
                                    <p></p>
                                </div>
                                {{ form_errors(edit_form.keywords) }}
                            </div>
                            <div class="control-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form_label(edit_form.property) }}
                                        <div class="controls">
                                            {{ form_widget(edit_form.property, {'attr':{'class': 'individual-row-checkboxes'}}) }}
                                            <p></p>
                                        </div>
                                        {{ form_errors(edit_form.property) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_label(edit_form.experiences) }}
                                        <div class="controls">
                                            {{ form_widget(edit_form.experiences, {'attr':{'class': 'individual-row-checkboxes'}}) }}
                                            <p></p>
                                        </div>
                                        {{ form_errors(edit_form.experiences) }}
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                {{ form_label(edit_form.videoUrl) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.videoUrl, {'attr':{'class': 'form-control', 'placeholder': 'Upload Tour Video to Youtube and paste link'}}) }}
                                    <p></p>
                                </div>
                                {{ form_errors(edit_form.videoUrl) }}
                            </div>

                            <div class="control-group">
                                {{ form_label(edit_form.featImage) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.featImage) }}
                                    <p></p>
                                </div>
                                {{ form_errors(edit_form.featImage) }}
                                {{ form_widget(edit_form.altText) }}
                                {{ form_errors(edit_form.altText) }}
                            </div>
                            <div id="gallery" data-prototype="{% filter escape %}{% include 'ourguest/tours/Prototype/image.html.twig' with {'val': edit_form.image.vars.prototype} %}{% endfilter %}">
                            <div class="gallery">
                                <ul class="clearfix" style="list-style:none; margin: 0; padding: 0">
                                    {% for i in edit_form.image %}
                                        {% if i is defined and i is not empty %}
                                            <li style="position: relative; width: 20em; font-size:12px; float:left; padding:10px; margin:10px 10px 10px 0px; list-style: none;">
                                                <img src="{{ asset('images/uploads/tour/'~ i.vars.data.path) }}" style="max-width: 100%; height: auto;"/>
                                                <br>
                                                <p style="display:none;">{{ form_widget(i.file) }}</p>
                                                {#<a href="#" class="close">Close Block</a>#}
                                                {#{{ form_label(i.file) }}#}
                                                {{ form_errors(i.file) }}
                                                <p></p>
                                                {{ form_widget(i.alt_text) }}
                                                {{ form_errors(i.alt_text) }}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <p>&nbsp;</p>
                                <button name="gallery" class="add_block black x-small btn btn-sm btn-default"  id="1"> <i class="fa  fa-plus-circle"></i> Add image</button>
                                <p>&nbsp;</p>
                            </div>
                            </div>
                            <div class="control-group" style="float: right">
                                <strong class="btn btn-sm btn-warning">
                                    <div class="controls">
                                        Featured: {{ form_widget(edit_form.isFeatured, {'attr':{'class': 'btn btn-default btn-file'}}) }}
                                        <p></p>
                                    </div>
                                    {{ form_errors(edit_form.isFeatured) }}
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <input type="submit" value="Save" class="btn btn-sm btn-success"/>

                        <a href="{{ path('tour_index') }}" class="btn btn-sm btn-default"><i class="fa fa-reply"></i>Back to the list</a>

                        {{ form_end(edit_form) }}
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Delete" class="btn btn-sm btn-danger" onclick="return confirm('Do you really want to delete this entry?')" style="float: right">
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/select2.min.js') }}"></script>
    <script>
        function addBlockForm($collectionHolder, grid, that) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            // get the new index
            var index = $collectionHolder.data('index');
            console.log($collectionHolder);
            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);
            newForm = newForm.replace(/__val__/g, index+1);
            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            switch(grid){
                case '1' : that.parent().find('ul').append(newForm);
                    removeBlock(grid);
                    break;
                    //
                    //default : // Display the form in the page in an li, before the "Add a tag" link li
                    //    var $newBlock = $('<div class="wrapper-inner float"></div>').append(newForm);
                    //    $collectionHolder.append($newBlock);
            }
        }

        function removeBlock(grid){
            switch(grid) {
                case '1' :
                    $('.remove_block').on('click', function (e) {
                        e.preventDefault();
                        $(this).parent().remove();
                    });
                    break;
            }
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#" class="remove_block" style="color:#111; float: right"><i class="glyphicon glyphicon-remove"></i></a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }

        $(document).ready(function() {
            var collectionHolder,
                    grid ;

            // add a delete link to all of the existing tag form li elements
            $('.form-wrapper').find('.gallery li').each(function() {
                addTagFormDeleteLink($(this));
            });

            $('.add_block').on('click', function(e) {
                e.preventDefault();
                // Get the fieldset that holds the collection of blocks
                collectionHolder = $('#' + this.name);

                grid = $(this).attr('id');
                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)

                collectionHolder.data('index', collectionHolder.find('.gallery ul li').length);
                // add a new tag form (see next code block)
                addBlockForm(collectionHolder, grid, $(this));
            });


            // add a delete link to all of the existing tag form li elements
            $('.form-wrapper').find('.itinerary li').each(function() {
                addTagFormDeleteLink($(this));
            });

            $('.add_itinerary').on('click', function(e) {
                e.preventDefault();
                // Get the fieldset that holds the collection of blocks
                collectionHolder = $('#' + this.name);

                grid = $(this).attr('id');
                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)

                collectionHolder.data('index', collectionHolder.find('.itinerary ul li').length);
                // add a new tag form (see next code block)
                addBlockForm(collectionHolder, grid, $(this));
            });

        });

        $('.js-example-basic-multiple').select2();

        $('.individual-row-checkboxes label').after('<br>');
    </script>
{% endblock %}
