{% extends 'admin.html.twig' %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Tours List</h2>
    </div>
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <strong>Add or Edit Content</strong><br><br>
                    <a href="{{ path('tour_new') }}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i>Add New Tour</a>
                    <div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Sl. No.</th>
                                <th>Name</th>
                                <th>Duration</th>
                                <th>Type</th>
                                <th>Rate</th>
                                <th>Featured</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for tour in tours %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ tour.name }}</td>
                                    <td>{{ tour.noOfDays-1 }}N/{{ tour.noOfDays }}D</td>
                                    <td>{{ tour.state }}</td>
                                    <td>Rs.{{ tour.rate }}</td>
                                    <td>{% if tour.isFeatured %}Yes{% else %}No{% endif %}</td>
                                    <td>
                                        <a href="{{ path('tour_show', { 'id': tour.id }) }}" class="btn btn-sm btn-default">show</a>
                                        <p></p>
                                        <a href="{{ path('tour_edit', { 'id': tour.id }) }}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i>edit</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
