{% extends 'admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
{% endblock %}
{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Tour Creation </h2>
    </div>
    {{ form_start(form) }}
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            <i class="fa fa-check-circle"></i> {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-wrapper" cellspacing="15">
                            <div class="control-group">
                                {{ form_label(form.name) }}
                                <div class="controls">
                                    {{ form_widget(form.name, {'attr':{'class': 'form-control input-lg'}}) }}
                                    <p></p>
                                </div>
                                {{ form_errors(form.name) }}
                            </div>
                            <div class="control-group">
                                <div class="col-md-4">
                                    {{ form_label(form.state) }}
                                    <div class="controls">
                                        {{ form_widget(form.state) }}
                                        <p></p>
                                    </div>
                                    {{ form_errors(form.state) }}
                                </div>

                                <div class="col-md-4">
                                    {{ form_label(form.noOfDays) }}
                                    <div class="controls">
                                        {{ form_widget(form.noOfDays) }}
                                        <p></p>
                                    </div>
                                    {{ form_errors(form.noOfDays) }}
                                </div>

                                <div class="col-md-4">
                                    {{ form_label(form.tourType) }}
                                    <div class="controls">
                                        {{ form_widget(form.tourType,{'attr':{'placeholder':'Select Type'}}) }}
                                        <p></p>
                                    </div>
                                    {{ form_errors(form.tourType) }}
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="col-md-4">
                                    {{ form_label(form.startDate) }}
                                    <div class="controls">
                                        {{ form_widget(form.startDate) }}
                                        <p></p>
                                    </div>
                                    {{ form_errors(form.startDate) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_label(form.endDate) }}
                                    <div class="controls">
                                        {{ form_widget(form.endDate) }}
                                        <p></p>
                                    </div>
                                    {{ form_errors(form.endDate) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_label(form.rate) }}
                                    <div class="controls">
                                        {{ form_widget(form.rate, {'attr':{'class':'form-control'}}) }}
                                        <p></p>
                                    </div>
                                    {{ form_errors(form.rate) }}
                                </div>
                            </div>
                            <div id="itinerary" data-prototype="{% filter escape %}{% include 'ourguest/tours/Prototype/itinerary.html.twig' with {'val': form.itinerary.vars.prototype} %}{% endfilter %}">
                                <div class="itinerary" >
                                    <ul class="clearfix" style="list-style:none; margin: 0; padding: 0">
                                        {% for val in form.itinerary %}
                                            <li style="list-style: none; margin:10px 5px; border-radius:5px; width:100%; border: 1px solid #dbdbdb; padding:10px;float: left; display: inline-block">

                                                <div class="row">
                                                    <div class="col-lg-1">
                                                        <strong>Day</strong>
                                                        {{ form_errors(val.day) }}
                                                        {{ form_widget(val.day, {'attr':{'class': 'form-control','value':loop.index}}) }}
                                                    </div>

                                                    <div class="col-lg-2">
                                                        <strong>Image</strong>
                                                        {{ form_errors(val.file) }}
                                                        {{ form_widget(val.file, {'attr':{'class': 'form-control'}}) }}
                                                        <p></p>
                                                        {{ form_errors(val.alt_text) }}
                                                        {{ form_widget(val.alt_text) }}
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <strong>Description</strong>
                                                        {{ form_errors(val.description) }}
                                                        {{ form_widget(val.description, {'attr':{'class': 'form-control', 'rows':4}}) }}
                                                    </div>
                                                </div>
                                                <a href="#" class="remove_block" style="color:#111; float: right"><i class="glyphicon glyphicon-remove"></i></a>


                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <p>&nbsp;</p>
                                    <button name="itinerary" class="add_itinerary black x-small btn btn-sm btn-default"  id="1"> <i class="fa  fa-plus-circle"></i> Add Itinerary</button>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                            <div class="control-group">
                                {{ form_label(form.tourOverview) }}
                                <div class="controls">
                                    {{ form_widget(form.tourOverview, {'attr':{'class': 'form-control', 'rows':6}}) }}
                                    <p></p>
                                </div>
                                {{ form_errors(form.tourOverview) }}
                            </div>
                            <div class="control-group">
                                {{ form_label(form.keywords) }}
                                <div class="controls">
                                    {{ form_widget(form.keywords, {'attr':{'class': 'form-control input-lg'}}) }}
                                    <p></p>
                                </div>
                                {{ form_errors(form.keywords) }}
                            </div>
                            <div class="control-group">
                                <div class="row">
                                    <div class="col-md-6 p-md-0">
                                        {{ form_label(form.property) }}
                                        <div class="controls">
                                            {{ form_widget(form.property, {'attr':{'class': 'individual-row-checkboxes'}}) }}
                                            <p></p>
                                        </div>
                                        {{ form_errors(form.property) }}
                                    </div>
                                    <div class="col-md-6 p-md-0">
                                        {{ form_label(form.experiences) }}
                                        <div class="controls">
                                            {{ form_widget(form.experiences, {'attr':{'class': 'individual-row-checkboxes'}}) }}
                                            <p></p>
                                        </div>
                                        {{ form_errors(form.experiences) }}
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                {{ form_label(form.videoUrl) }}
                                <div class="controls">
                                    {{ form_widget(form.videoUrl, {'attr':{'class': 'form-control', 'placeholder': 'Upload Tour Video to Youtube and paste link'}}) }}
                                    <p></p><br>
                                </div>
                                {{ form_errors(form.videoUrl) }}
                            </div>
                            <div class="control-group">
                                {{ form_label(form.featImage) }}
                                <div class="controls">
                                    {{ form_widget(form.featImage, {'attr':{'class': 'btn btn-default btn-file', 'required':'required'}}) }}
                                    <p></p>
                                </div>
                                <span class="text-danger">{{ form_errors(form) }}</span>
                                {{ form_widget(form.altText) }}
                                {{ form_errors(form.altText) }}
                            </div>
                            <div id="gallery"  data-prototype="{% filter escape %}{% include 'ourguest/tours/Prototype/image.html.twig' with {'val': form.image.vars.prototype} %}{% endfilter %}">
                            <div class="gallery">
                                <ul class="clearfix" style="list-style:none; margin: 0; padding: 0">
                                    {% for i in form.image %}
                                        <li>
                                            {#<a href="#" class="close">Close Block</a>#}
                                            <strong> {{ loop.index }}</strong>
                                            {{ form_widget(i.file) }}


                                        </li>
                                    {% endfor %}
                                </ul>
                                <p>&nbsp;</p>
                                <button name="gallery" class="add_block black x-small btn btn-sm btn-default"  id="1"> <i class="fa  fa-plus-circle"></i> Add tour images</button>
                                <p>&nbsp;</p>
                            </div>
                            </div>
                            <div class="control-group" style="float: right">
                                <strong class="btn btn-sm btn-danger">
                                    <div class="controls">
                                        Featured: {{ form_widget(form.isFeatured, {'attr':{'class': 'btn btn-default btn-file'}}) }}
                                        <p></p>
                                    </div>
                                    {{ form_errors(form.isFeatured) }}
                                </strong>
                            </div>
                        </div>

                    <br>

                    <input type="submit" value="Add" class="btn btn-sm btn-success"/>

                    <a href="{{ path('tour_index') }}"
                        class="btn btn-sm btn-default"><i
                                class="fa fa-reply fa-fw"></i>Back to the list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/select2.min.js') }}"></script>
    <script>
        function addBlockForm($collectionHolder, grid, that) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            // get the new index
            var index = $collectionHolder.data('index');
            console.log($collectionHolder);
            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);
            newForm = newForm.replace(/__val__/g, index+1);
            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            switch(grid){
                case '1' : that.parent().find('ul').append(newForm);
                    removeBlock(grid);
                    break;
                    //
                    //default : // Display the form in the page in an li, before the "Add a tag" link li
                    //    var $newBlock = $('<div class="wrapper-inner float"></div>').append(newForm);
                    //    $collectionHolder.append($newBlock);
            }
        }

        function removeBlock(grid){
            switch(grid) {
                case '1' :
                    $('.remove_block').on('click', function (e) {
                        e.preventDefault();
                        $(this).parent().remove();
                    });
                    break;
            }
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<span class="remove_block" style="position: absolute; top: -10px; right: -3px; font-size: 20px; cursor: pointer;">&times;</span>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }

        $(document).ready(function() {
            var collectionHolder,
                    grid ;

            // add a delete link to all of the existing tag form li elements
            $('.form-wrapper').find('.gallery li').each(function() {
                addTagFormDeleteLink($(this));
            });

            $('.add_block').on('click', function(e) {
                e.preventDefault();
                // Get the fieldset that holds the collection of blocks
                collectionHolder = $('#' + this.name);

                grid = $(this).attr('id');
                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)

                collectionHolder.data('index', collectionHolder.find('.gallery ul li').length);
                // add a new tag form (see next code block)
                addBlockForm(collectionHolder, grid, $(this));
            });


            // add a delete link to all of the existing tag form li elements
            $('.form-wrapper').find('.itinerary li').each(function() {
                addTagFormDeleteLink($(this));
            });

            $('.add_itinerary').on('click', function(e) {
                e.preventDefault();
                // Get the fieldset that holds the collection of blocks
                collectionHolder = $('#' + this.name);

                grid = $(this).attr('id');
                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)

                collectionHolder.data('index', collectionHolder.find('.itinerary ul li').length);
                // add a new tag form (see next code block)
                addBlockForm(collectionHolder, grid, $(this));
            });

        });

        $('.js-example-basic-multiple').select2();

        $('.individual-row-checkboxes label').after('<br>');
    </script>
{% endblock %}
