{% extends 'admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
{% endblock %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Tour</h2>
    </div>
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div>
                            <table class="table table-striped">
                                <tr>
                                    <th>Name</th>
                                    <td>{{ tour.name }}</td>
                                </tr>

                                <tr>
                                    <th>Type</th>
                                    <td>{{ tour.tourType }}</td>
                                </tr>

                                <tr>
                                    <th>Location</th>
                                    <td>{{ tour.state }}</td>
                                </tr>

                                <tr>
                                    <th>Duration</th>
                                    <td>{{ tour.noOfDays }}</td>
                                </tr>

                                <tr>
                                    <th>Description</th>
                                    <td>{{ tour.tourOverview }}</td>
                                </tr>

                                <tr>
                                    <th>Featured Image</th>
                                    <td>{{ tour.featimage }}</td>
                                </tr>

                                <tr>
                                    <th>Video URL</th>
                                    <td>{{ tour.videoUrl }}</td>
                                </tr>

                                <tr>
                                    <th>Featured</th>
                                    <td>{{ tour.isFeatured }}</td>
                                </tr>

                                <tr>
                                    <th>Rate</th>
                                    <td>{{ tour.rate }}</td>
                                </tr>

                            </table>
                        </div>
                        <a href="{{ path('tour_index') }}" class="btn btn-sm btn-default"><i class="fa fa-reply"></i>Back to the list</a>

                        <a href="{{ path('tour_edit', { 'id': tour.id }) }}" class="btn btn-sm btn-default"><i class="fa fa-edit"></i>Edit</a>

                        {{ form_start(delete_form) }}
                        <input type="submit" value="Delete" class="btn btn-sm btn-danger" style="float: right;">
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
