{% extends '::admin.html.twig' %}
{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> User List </h2>
    </div>
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            <i class="fa fa-check-circle"></i> {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <a href="{{ path('user_edit', { 'id': app.request.get('id')  }) }}" class="btn btn-sm btn-default">User</a>
                <a href="{{ path('userdetails_edit', { 'id': userdetailsid  }) }}" class="btn btn-sm btn-default">Other Details</a>
                <a href="{{ path('change-password', { 'id': app.request.get('id')  }) }}" class="btn btn-sm btn-primary">Change Password</a>
                <div class="panel panel-default">
                    <div class="panel-body">

                        {{ form_start(form) }}
                        <div class="control-group">
                            New password
                            <div class="controls">
                                {{ form_widget(form.pwd, {'attr':{'class': 'form-control input-lg'},'value': ''}) }}
                                {#<p class="help-block">Please provide your first name</p>#}
                            </div>
                            {{ form_errors(form.pwd) }}
                        </div><br>
                        <input type="submit" value="Save" class="btn btn-sm btn-success active"/>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}