{% extends '::admin.html.twig' %}
{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> User List </h2>
    </div>
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>Add or Edit Content</strong><br><br>

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Sl No.</th>
                                <th>Full Name</th>
                                <th>Mobile No.</th>
                                <th>Email ID</th>
                                <th>Username</th>
                                <th>Category</th>
                                <th>Status</th>
                                <th>Last Login</th>
                                <th><i class="fa fa-pencil-square-o"></i> Action </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ user.firstName }} {{ user.lastName }}</td>
                                    <td>{{ user.phone }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.category }}</td>
                                    <td>{% if user.enabled %}Active{% else %}Inactive{% endif %}</td>
                                    <td>{% if user.lastlogin is not null %}{{ user.lastlogin.date|date('d-m-y H:i:s') }}{% endif %}</td>
                                    <td width="100" align="center">
                                        <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-sm btn-default"><i class="fa fa-pencil-square-o"></i> edit</a><br>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
   {% endblock %}
