{% extends 'admin.html.twig' %}

{% block body %}
<div class="page-title">
    <h2><span class="fa fa-info-circle"></span> Experiences List</h2>
</div>
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="panel panel-default">
                <div class="panel-body">
                    <strong>Add or Edit Content</strong><br><br>
                    <a href="{{ path('experiences_new') }}" class="btn btn-sm btn-success"><i class="fa fa-pencil"></i>Create a new experience</a>
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Location</th>
                                    <th>Featuredimage</th>
                                    <th>Videourl</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for experience in experiences %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ experience.name }}</td>
                                    <td>{{ experience.location }}</td>
                                    <td>{{ experience.featImage }}</td>
                                    <td>{{ experience.videoUrl }}</td>
                                    <td>
                                        <a href="{{ path('experiences_show', { 'id': experience.id }) }}" class="btn btn-sm btn-default">show</a>
                                        <p></p>
                                        <a href="{{ path('experiences_edit', { 'id': experience.id }) }}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i>edit</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}