{% extends 'admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
{% endblock %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Experience</h2>
    </div>
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div>
                            <table class="table table-striped">
                                <tr>
                                    <th>Name</th>
                                    <td>{{ experience.name }}</td>
                                </tr>

                                <tr>
                                    <th>Location</th>
                                    <td>{{ experience.location }}</td>
                                </tr>

                                <tr>
                                    <th>Description</th>
                                    <td>{{ experience.description }}</td>
                                </tr>

                                <tr>
                                    <th>Featured Image</th>
                                    <td>{{ experience.featimage }}</td>
                                </tr>

                                <tr>
                                    <th>Video URL</th>
                                    <td>{{ experience.videoUrl }}</td>
                                </tr>
                            </table>
                        </div>
                        <a href="{{ path('experiences_index') }}" class="btn btn-sm btn-default"><i class="fa fa-reply"></i>Back to the list</a>

                        <a href="{{ path('experiences_edit', { 'id': experience.id }) }}" class="btn btn-sm btn-default"><i class="fa fa-edit"></i>Edit</a>

                        {{ form_start(delete_form) }}
                        <input type="submit" value="Delete" class="btn btn-sm btn-danger" onclick="return confirm('Do you really want to delete this entry?')" style="float: right;">
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
