@charset "UTF-8";

/*defines major aspects of the website*/

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.9;
    color: #000000;
    background-color: #ffffff;
}

.cursive{
    font-family: 'Mansalva', cursive;
}

::-webkit-scrollbar{
    display: none;
}

body.cart-open{
    overflow: hidden;
}

.cart-open__backdrop{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: white;
    opacity: 0.9;
}

/*prevents links from having underlines*/
a:hover {
    text-decoration: none !important;
}

/*sets all headings' font properties*/
h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

strong{
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

/*header tag properties*/
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    /*z-index: 5;*/
    font-weight: 400;
    background-color: #ffffff;}

.contact-info{
    padding: 0.25rem 0 0 0;
}

.contact-info-side{
    position: fixed;
    top: 35%;
    right: -20%;
    opacity: 1;
    -webkit-transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1);
    -moz-transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1);
    -ms-transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1);
    -o-transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1);
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1);
    display: flex;
    flex-direction: row;
}

.contact-info-side__slide{
    position: relative;
    top: -40px;
    background-color: darkorange;
    box-shadow: 0 0 5px rgba(0,0,0, 0.5);
    padding: 10px;
    opacity: 1;
    z-index: 2;
}

.booking-form{
    box-shadow: inset 0 0 150px rgba(255, 255, 255, .5);
    background-color: rgba(13,13,13,1);
    border-radius: 5px;
}

.booking-form h5{
    color: white;
}

.contact-page .quote span{
    font-size: 15px;
}

.contact-page input.form-control,
.contact-page input::placeholder,
.contact-page select.form-control,
.contact-page textarea.form-control,
.contact-page textarea::placeholder{
    margin: 15px 0;
}



.contact-page .insert-bg{
    /*background-attachment: fixed;
    background-image: url("../images/contact-page-bg.jpeg");
    background-size: cover;
    margin: 1px;
    padding: 20px;
    filter: blur(10px);*/
}

.phone-icon{
    background-color: darkorange;
    position: relative;
    height: fit-content;
    -webkit-transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1);
    -moz-transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1);
    -ms-transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1);
    -o-transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1);
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.top-bar .fa-phone{
    padding: 10px 0;
    color: black;
}

.fa-phone,
.fa-arrow-up{
    padding: 10px;
    color: #FFFFFF;
    transition: transform 0.7s;
}

.fa-arrow-up.rotate{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.contact-info-side.show__phone-icon{
    -webkit-transform: translateX(-29%);
    -moz-transform: translateX(-41%);
    -ms-transform: translateX(-41%);
    -o-transform: translateX(-41%);
    transform: translateX(-41%);
}

.contact-info-side.show__all{
    -webkit-transform: translateX(-124%);
    -moz-transform: translateX(-124%);
    -ms-transform: translateX(-124%);
    -o-transform: translateX(-124%);
    transform: translateX(-124%);
}

.contact-info-side h5{
    color: #FFFFFF;
}

.contact-info-side span{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}

/*Sets the z-index of the header so that it is displayed above all elements*/
.top-bar{
    z-index: 2;
    color: #000000;
}

/*sets the container which will hold the logo*/
.top-bar .site-logo{
    padding: 0;
    height: 70px;
    width: auto;
}

/*makes the image fit the container not the other way around*/
.top-bar .site-logo img{
    max-width: 100%;
    max-height: 100%;
}

.top-bar .social-button-links a{
    font-size: 18px;
    color: #000000;
}

.top-bar .social-button-links a:hover{
    color: orange;
}

.top-bar #collapsibleNavbar .dropdown-menu a{
    font-size: 20px;
}

/*sets the colour of the options in the header to white*/
.top-bar #collapsibleNavbar .nav-link{
    color: #000000;
}

.top-bar #collapsibleNavbar .nav-link:hover{
    color: orange;
}

.top-bar .dropdown-toggle::after{
    display: none;
}

.btn-primary{
    background-color: orange;
    border-radius: 0;
    border: 2px solid darkorange;
}

.btn-primary:hover{
    background-color: darkorange;
    border-radius: 0;
    border: 2px solid darkorange;
}

.btn-info{
    color: #fff;
    background-color: orange;
    border-color: darkorange;
    border-radius: 0;
}

.btn-info:hover{
    background-color: darkorange;
    border-color: darkorange;
}

.form-control{
    border-radius: 0;
    background: rgba(191,191,191,0.1);
    font-size: 1.1em;
}

.breadcrumb{
    font-family: 'Lato', sans-serif;
}

.breadcrumb-item a{
    color: orange;
}

.header-section__rating__link span{
    padding: 7px 10px;
    color: orange/*#DE656B*/;
}

#navbarMenu{
    font-family: 'Lato', sans-serif;
}

#navbarMenu button{
    text-align: center;
}

#navbarMenu button:focus{
    border-radius: 0;
    outline: none;
}

.fa.black{
    color: #000;
}

#navbarMenu button .fa-bars{
    font-size: 27px;
    color: #2db92d;
}

#navbarMenu button .fa-times{
    font-size: 27px;
    color: #2db92d;
}

.phone-info{
    font-size: 13px;
    font-weight: bold;
}

.bold{
    font-weight: bold;
}

/*to make a container sticky*/
.sticky {
    position: sticky;
    top: 0;
}

/*why-us custom margin*/
#why-us-container{
    margin-top: 40px;
    font-family: "Quicksand", sans-serif;
    line-height: normal;
    background-color: white;
}

/*why-us container styling*/

.why-us img{
    max-width: 100%;
}

.why-us p{
    line-height: 1.55;
}

.about-us p{
    color: black;
    font-weight: 300;
}

/*footer properties*/
.site-footer {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 3em 0 0;
    background: #000;
}

.site-footer .footer-social li a > span {
    width: 30px;
}

.site-footer ul:first-child{
    padding-left: 0;
}

.site-footer ul{
    list-style-type: none;
}

.site-footer a {
    color: rgba(255, 255, 255, 0.5);
}

.site-footer a:hover {
    color: orange;
}

.site-footer h5 {
    color: #fff;
}

.site-footer .social-button-links .fa{
    font-size: 25px;
    padding-right: 5px;
}

.site-footer .newsletter-signup div{
    padding: 0;
}

.site-footer .newsletter-signup input{
    margin: 0 4px 0 0;
}

.site-footer .fa-copyright{
    font-size: smaller;
}

.site-footer .footer-end{
    background-color: #37642A;
    color: rgba(255, 255, 255, 0.5);
    padding: 10px 0;
}

.error-page .error-image{
    max-width: inherit;
    height: auto;
}

.error-page img{
    max-width: 100%;
    max-height: 100%;
}

.error-page .error-description{
    padding: 5rem 0 0 4rem;
}

.error-page .btn-primary,
.error-page .btn-success{
    border-radius: 0.25rem;
}

.error-page .btn-primary:hover{
    border-radius: 0.25rem;
}

.error-page .btn-success{
    border: 2px solid #238523;
}

/*height of homepage carousel. This container holds the featured tours.*/
#products-carousel #carousel-row {
    height: 450px;
}

.navbar>.container .navbar-brand {
    margin-right: auto !important;
}

/*adds shadow to the bottom of the navigation bar*/
.top-bar.shadow{
    box-shadow: 0 0 6px rgba(0,0,0,.2);
}

/*adds a pale blue background and changes the font-colour to white on hover to header dropdown*/
.dropdown-item:hover{
    background-color: #37642A;
    color: #FFFFFF;
}

/*make the image fit the container*/
#carousel-row{
    background-image: url("../images/og-logo.png");
    max-width: 100%;
}

/*setting the video modal popup background to black*/
.videoModal .modal-content{
    background: rgba(0,0,0,1);
}

/*setting the image carousel to the max height & width of the container*/
.inner-box-carousel{
    width: 100%;
    height: 100%;
}

/*padding for the heading-caption on carousel*/
.inner-box-carousel .caption1{
    padding: 0 45px;
    position: absolute;
    bottom: 0;
}

/*carousel caption colour*/
.inner-box-carousel .caption1 h3, .inner-box-carousel .caption1 h5{
    color: #fefefe;
}

/*positioning filter below location navbar*/
#location-listing-container{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    height: 35px;
    overflow: hidden;
    background-clip: padding-box;
}

#location-listing-container select{
    width: 200px;
    height: 35px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
    line-height: 1.5;
    outline: none;
    background-color: transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.btn__load-more{
    font-size: 1.8em;
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
    outline: none !important;
    background-color: #FFFFFF;
}

.btn__load-more:hover{
    color: orange;
}

/*this class is used for setting the height & width of the concerned container*/
.inner-box{
    width: 100%;
    height: 20vw;
    /*height: inherit;*/
    background: white;
    /*background-image: url("../images/test2.jpg");*/
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/*font properties & background for class caption1*/
.caption1{
    width: 100%;
    background-color: rgba(13,13,13,0.5);
    font-size: 1.5em;
    color: #FFFFFF;
}

.caption1 span{
    padding: 10px;
    line-height: normal;
    width: inherit;
}

.caption1 h4{
    color: white;
    padding: 10px 0;
    margin: 0;
}

.experience-tab-wrapper h5{
    color: white;
    margin: 8px 0 8px;
    font-family: 'Quicksand', sans-serif;
}

.horizontal-scroll-element .inner-box,
.experience-tab-wrapper .inner-box,
.product-link .inner-box,
.inner-box-carousel{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-link .inner-box .caption1{
    width: 100%;
    background-color: rgba(13,13,13,0.5);
    position: absolute;
    top: 0;
}

.experience-tab-wrapper .inner-box .caption1{
    width: 100%;
    background-color: rgba(13,13,13,0.5);
    position: absolute;
    bottom: 0;
}

.experience-tab-wrapper .inner-box .caption1 span{
    padding: 10px;
    line-height: normal;
}

/*testimonials paragraph(line-height & font) properties*/
.testimonials p{
    line-height: normal;
    font-family: "Quicksand", sans-serif;
}

.testimonials .usr-name{
    text-transform: uppercase;
    font-weight: bold;
}

.testimonial-content{
    background: #FFFFFF;
    color: #000;
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
}

.testimonials .row{
    padding: 20px;
}

/*setting featured video heading font*/
.featured-video h4 {
    font-size: 30px;
    color: #000;
}

#video-container{
    max-width: 70%;
}

.social-button-box{
    border: none;
}

.social-button-box h3{
    position: relative;
    width: fit-content;
    top: -17px;
    background-color: white;
}

/*.social-button-icons a:last-child{
    padding: 20px;
}*/

.social-button-icons{
    background-color: white;
    position: relative;
    width: fit-content;
    margin: auto;
}

.social-button-icons a:hover{
    /*width: 40px;
    height: auto;*/
    color: orange;
}



/*z-index for suggestions pane*/
.suggestions{
    z-index: 0 !important;
}

.suggestions .inner-box{
    position: relative;
}

.suggestions .layer-upper{
    position: absolute;
    top: 0;
    height: inherit;
    width: inherit;
}

.suggestions .banner{
    background-color: orange;
}

/*suggestions banner text properties*/
.suggestions .banner span{
    font-size: 1em;
    color: black;
    padding: 0 1.05em;
}
.suggestions .caption2{
    width: 100%;
    background-color: rgba(13,13,13,0.5);
}
.suggestions span {
    font-size: 1.2em;
    color: #FFFFFF;
}

/*tour-main styles*/
.tours-main-header, .customise-tour-heading, .homestays-main-header{
    color: #000000;
    font-size: 2.5em;
}

.details-section span{
    color: #000;
}

/*positioning experience popup*/
#experienceModal .modal-dialog{
    top: 20%;
}

/*hide the browser's default checkbox*/

.checkbox-container::after{
    display: none;
}

.checkbox-container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.tab-content .content-holder.experience-tab-wrapper label{
    position: absolute;
    z-index: 1;
    border-radius: 50%;
}

.checkmark input[type="checkbox"]{
    height: 50px;
    width: 25px;
}

/*create a custom checkbox*/
.checkmark{
    position: absolute;
    right: 23px;
    height: 18px;
    width: 18px;
    background-color: #EEEEEE;
    box-shadow: 0 1px 2px inset rgba(0,0,0,0.5);
    transition: all .3s ease;
}

/*create the checked state*/
.checkbox-container input[type="checkbox"]:checked ~ i{
    background-color: #26ca28;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input[type="checkbox"]:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 7px;
    top: 3px;
    color: #26ca28;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.tickmark{
    display: inline-block;
    width: 5px;
    height: 10px;
    border: solid #26ca28;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cart #experience-cart{
    border: 1px solid rgba(0,0,0,0);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
}

.homestay-header__with-banner{
    text-align: left;
}

/*share-buttons-structure*/
.share-buttons{
    display: table;
    table-layout: fixed;
    width: 100%;
}
.share-buttons__item{
    display: table-cell;
    border-right: 1px solid #ebebeb;
}

/*sidebar style*/
.price-decoration{
    color: #fff;
    position: relative;
    margin-top: 55px;
}

.price-decoration__value{
    background: orange/*#DE656B*/;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 1.600em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.price-decoration__value span.price{
    display: inline-block;
    /*font-size: 30px;*/
    font-weight: bold;
}

.price-decoration__value span:not(.price){
    display: block;
    font-size: 15px;
    position: relative;
    top: -15px;
}

.price-decoration__label{
    padding: 10px 20px;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-weight: 700;
    font-style: normal;
    background: darkorange/*#C83B55*/;
    color: #fff;
}

.price-decoration .button-container{
    margin: auto;
}

.price-decoration .button-container .btn{
    padding: 10px 30px;
}

.price-decoration .button-container .btn-primary{
    background-color: rgba(13,13,13,1);
    border: none;
    border-radius: 5px;
}

.booking-container.show {
    display: block;
}


.tab .nav-tabs li{
    padding: 0;
}

.tab .nav-tabs li:first-child a{
    margin-left: 0;
}

.tab .nav-tabs li a{
    margin-bottom: 0;
    margin-left: 12px;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    color: #000000;
    border-radius: 4px 4px 0 0;
    background-color: white;
    position: relative;
}

.table .table{
    margin: 0;
}



.list-block {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-block--tabs{
    margin-bottom: 20px;
}

.list-block > li {
    display: inline-block;
    height: auto;
    line-height: 25px;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: rgba(13,13,13,0.3);
    border-radius: 3px;
    font-weight: 700;
    font-style: normal;
    font-size: 0.867em;
}

.list-block > li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    color: #fff;
    border-bottom: none;
}

.header-section__content .list-block--tabs{
    margin: 5px 0 0 25px;
}

.details-section .list-block--tabs{
    margin-top: -7px;
    margin-bottom: 0;
}

.details-section .list-block > li,
.header-section__content .list-block > li{
    background-color: darkorange;
    padding: 3px;
}

.details-section .list-block span,
.header-section__content .list-block span{
    font-size: 15px;
    color: #FFFFFF;
    padding: 0 10px;
}


.homestay-tabs__table,
.tour-tabs__table {
    width: 100% !important;
    height: auto !important;
    border: none !important;
    border-top: 2px solid #e4e4e4;
    border-bottom: 2px solid #e4e4e4;
}

.homestay-tabs__table tr,
.tour-tabs__table tr {
    border-bottom: 1px solid #e4e4e4;
}

tr.border-none{
    border-bottom: none;
}

.homestay-tabs__table tr:last-child,
.tour-tabs__table tr:last-child{
    border-bottom: none;
}
.homestay-tabs__table td,
.tour-tabs__table td{
    border: none;
}

.homestay-tabs__table table,
.tour-tabs__table table{
    border: none;
    width: 100%;
    height: auto;
}

.homestay-tabs__table table tr,
.tour-tabs__table table tr{
    border: none;
}

.homestay-tabs__table table td,
.tour-tabs__table table td {
    padding: 0 !important;
}

.og-reviews__section ul{
    padding-left: 20px;
}

.itinerary-col-1 img{
    flex-shrink: 0;
    background-size: cover;
    width: 100%;
    height: auto;
}

.room-images__row{
    padding-bottom: 60px;
}

.room-images{
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    height: 100%;
}

.room-images img{
    flex-shrink: 0;
    background-size: cover;
    width: 100%;
    height: inherit;
}

/*.room-images .image-padding{
    padding: 3px;
    height: inherit;
    overflow-y: hidden;
}*/

.no-float-left{
    float: none !important;
}

.host-img{
    border-radius: 5%;
    overflow: hidden;
}

.reviews__rating-total__text{
    font-weight: bold;
}

.reviews__item__info img {
    margin-bottom: 15px;
    /* border-radius: 100%; */
}

.comment-rating-title label{
    font-size: 20px;
    margin: 2px 10px 2px 0;
}

.reviews__item__info{
    padding: 0;
    width: 50px;
}

.reviews__item__info img{
    max-width: 100%;
}

.reviews__item__name{
    text-align: center;
}

.reviews__form.form {
    padding-left: 1px;
}

/*about us page*/
.about-us__picture-points{
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.5)), url("../images/contact-page-bg.jpeg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.about-us__picture-points h5{
    margin-bottom: 20px;
    color: white;
}

.list-unstyled{
    list-style: none;
    padding-left: 0;
}

.list-unstyled li .text{
    padding-left: 20px;
    position: relative;
    margin-bottom: 30px;
}

.list-unstyled li .text:after{
    position: absolute;
    font-family: 'FontAwesome';
    top: 0;
    left: 0;
    color: #c6c6c6;
    content: "\f178";
}

.accordion label{
    margin: 0;
}

.accordion button{
    background: rgba(255,255,255,0);
}

.accordion .card-header .btn:focus{
    box-shadow: none;
}

.accordion .card-header{
    padding: 0;
}

.accordion .card-header .btn{
    white-space: normal;
    text-align: left;
    display: flex;
}

.accordion .card-body .faqs-tabs__content{
    font-size: 16px;
}

#faqsModal .modal-header{
    padding-bottom: 0;
    margin-left: 15px;
}

.card{
    margin-top: 10px;
}

.card-header .fa{
    color: orange;
}

.card-header h6{
    display: inline-block;
    padding-left: 10px;
}

.card-header button{

}

label:hover{
    cursor: pointer;
}

/*trip advisor review width*/
#CDSWIDSSP{
    width: inherit !important;
}

@media (max-width: 567px) {

    .padding-all{
        padding: 30px;
    }

    .padding-top{
        padding-top: 30px;
    }

    .small__padding-all{
        padding: 15px;
    }

    .small__padding-top{
        padding-top: 15px;
    }

    .small__padding-bottom{
        padding-bottom: 15px;
    }

    .small__padding-right{
        padding-right: 15px;
    }

    .small__padding-left{
        padding-left: 15px;
    }

    .padding-right{
        padding-right: 30px;
    }

    .padding-bottom{
        padding-bottom: 30px;
    }

    .padding-left{
        padding-left: 30px;
    }
    
    .visible-xs{
        display: block;
    }

    .visible-sm{
        display: none;
    }

    .visible-md{
        display: none;
    }

    .visible-lg{
        display: none;
    }

    .hidden-xs{
        display: none;
    }
    
    .hidden-sm{
        display: block;
    }
    
    .hidden-md{
        display: block;
    }
    
    .hidden-lg{
        display: block;
    }
    
    .hidden-768{
        display: block;
    }

    body{
        font-size: 18px;
    }

    .social-button-links .social-button-icons a{
        padding-right: 25px;
    }

    .social-button-links .social-button-icons a{
        font-size: 30px;
        color: black;
    }

    .site-footer .social-button-links a{
        padding-right: 5px;
    }

    /*increases the font-size of the header*/
    .top-bar #collapsibleNavbar a{
        font-size: 26px;
        /*font-weight: bolder;*/
    }

    .testimonial-content{
        padding: 20px 10px;
    }

    .navbar>.container .navbar-brand{
        margin-left: 0;
    }

    /* prevents the dropdown in the navigation bar from pushing content down */
    .navbar-nav > .dropdown .dropdown-menu.show{
        display: inline-block;
        position: absolute;
    }

    /*helps in the main-banner container to occupy the entire area of the screen*/
    .top-bar .sticky-wrapper{
        height: 13vh !important;
    }

    /**/
    div .pt-6 {
        height: 87vh;
    }

    .product-link__main{
        padding: 20px 25px;
    }

    /*video-popup*/
    .videoModal > .modal-sm{
        max-width: 95%;
    }

    /*info section*/
    .why-us .info-row div{
        padding-bottom: 25px;
    }

    .featured-video{
        margin-top: 40px;
    }

    /*padding for the heading-caption on carousel*/
    .inner-box-carousel .caption1{
        padding: 0 20px;
    }

    /*!*suggestions banner text properties*!
    .suggestions .banner span{
        font-size: 0.7em;
    }*/

    /* homestays & tours modal popup size */
    .modal-lg{
        max-width: 95%;
        height: 95vh;
        line-height: 1.2;
    }

    /*Experiences Modal-Popup Style*/
    #experienceModal .modal-md{
        max-width: 95%;
        line-height: 1.5;
        max-height: 70%;
    }

    #experienceModal .experience-description{
        padding: 10px 0;
    }

    #experienceModal .modal-header button{
        outline: none;
    }

    .carousel-padding{
        padding: 15px 21px;
    }

    .tab .nav-tabs{
        margin: 0;
        border-bottom: none;
        overflow-x: auto;
        overflow-y: hidden;
        display: -webkit-box;
        display: -moz-box;
    }

    .tab .nav-tabs .nav-item{
        display: contents;
    }


    .tab-content .content-holder,
    .similar-products .content-holder{
        width: 100%;
        height: 85vw;
        position: relative;
        margin: 30px 10px;
        border-radius: 5px;
    }

    .horizontal-scroll-element .content-holder,
    .tab-content.experience .content-holder{
        height: auto;
    }

    /* setting the inner-box dimensions and shadow */
    /*.tab-content .inner-box, .horizontal-scroll-wrapper .inner-box{
        width: 100%;
        height: 33vh;
        background: white;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }*/

    .inner-box{
        height: 60vw;
        box-shadow: 0 1px 6px rgba(0,0,0,.2);
    }

    .horizontal-scroll-element .inner-box .caption1{
        position: absolute;
        top: 75%;
    }

    .homestay-images .inner-box,
    .tour-images .inner-box{
        height: 70vw;
    }

    /* tours, experiences & homestays heading text properties  */
    .tours-main-heading, .customise-tour-heading, .homestays-main-header{
        color: #000000;
        font-size: 1.8rem;
        font-weight: bold;
    }

    .tab .nav-tabs li{
        font-size: 22px;
    }

    .tab .nav-tabs li a:hover,
    .tab .nav-tabs li a.active{
        color: #fff;
        background: #000000;
        border-radius: 4px;
        box-shadow: none;
    }

    .state-nav-dropdown select {
        background: #37642A;
        color: #FFFFFF;
        font-size: 25px;
        padding: 5px;
        display: block;
    }

    .state-nav-dropdown option{
        font-size: 10px !important;
    }

    /* customise tour form padding */
    .customise-form #form-area{
        padding: 0 20px;
    }

    .tab-content .nav-tabs .nav-link, .tab-content .caption1{
        font-size: 1em;
    }

    .horizontal-scroll-wrapper .caption1{
        font-size: 25px;
    }

    .nav-pills{
        padding: 5px 0;
    }

    .nav-pills .nav-item .nav-link{
        padding: 0 auto;
        color: #fefefe;
    }

    .modal-dialog{
        height: 97.5%;
    }

    .modal-content{
        height: 100%;
    }

    .modal-header .navbar-toggler-icon{
        color: black;
    }

    .carousel-indicators{
        z-index: 0;
    }

    /*modal style for mobile screens*/
    .videoModal .modal-dialog{
        width: 95%;
        height: auto;
    }

    /*Customise Tour Form*/
    .customise-form textarea{
        height: 10em;
    }

    .ribbon-front{
        width: 106.5%;
    }

    .ribbon-edge-bottomright {
        position: absolute;
        z-index: 1;
        border-style:solid;
        height:0px;
        width:0px;
    }

    .ribbon-edge-bottomright {
        right: -2.6%;
        border-color: transparent transparent transparent #9B1724;
    }

    .ribbon-edge-bottomright {
        border-width: 0 0 5px 10px;
    }

    .checkmark{
        bottom: 28px;
    }

    .datepicker.dropdown-menu{
        width: 75%;
    }

    .card{
        margin-bottom: 3px;
    }

    .card-header{
        padding: 0;
        background-color: #FFFFFF;
    }

    .tour-single .card-header button,
    .homestay-single .card-header button{
        text-transform: uppercase;
        color: darkorange;
        width: 100%;
        text-align: left;
    }

    .card-header button:focus{
        text-decoration: none;
        color: darkorange;
    }

    .card-header button.collapsed{
        text-decoration: none;
        color: black;
    }

    /*Booking Form and Reviews Container*/
    .booking-container, .reviews-container{
        margin: auto;
        position: relative;
        width: 90%;
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0 1px 6px rgba(0,0,0,.2);
    }

    #products-carousel #carousel-row {
        height: 87vh;
    }

    .inner-box-carousel .featured-img img{
        flex-shrink: 0;
        background-size: cover;
        height: inherit;
        width: auto;
    }

    .featured-img{
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100%;
        height: inherit;
        border-radius: 5px;
    }

    .featured-img img{
        flex-shrink: 0;
        background-size: cover;
        height: inherit;
        width: inherit;
    }

    .header-section__content{
        padding: 1.5rem 0;
    }

    .header-section__content h1{
        margin-bottom: 0;
    }

    .homestay-tabs__table > tr,
    .homestay-tabs__table > thead > tr,
    .homestay-tabs__table > tbody > tr,
    .tour-tabs__table > tr,
    .tour-tabs__table > thead > tr,
    .tour-tabs__table > tbody > tr{
        padding: 10px;
    }
    


    .homestay-tabs__table tbody,
    .homestay-tabs__table tr,
    .homestay-tabs__table td,
    .tour-tabs__table tbody,
    .tour-tabs__table tr,
    .tour-tabs__table td {
        display: block;
        width: auto;
        height: auto;
    }

    .homestay-tabs__table td,
    .tour-tabs__table td{
        padding: 0;
    }

    .room-images__container{
        display: inline-block;
        width: 55vw;
        height: 50vw;
        overflow-y: hidden;

    }

    .tour-tabs__content.itinerary h6{
        font-weight: bold;
        background-color: rgba(13,13,13,0.3);
        display: inline;
        padding: 5px;
        color: #FFFFFF;
        border-radius: 3px;
    }

    .host-img{
        width: 60vw;
        height: 60vw;
        box-shadow: 0 0 8px rgba(13,13,13,1);
    }

    .host-img img{
        width: inherit;
    }

    .tour-tabs__content.itinerary .day-head:first-child{
        padding: 0;
    }

    .tour-tabs__content.itinerary .day-head{
        padding: 3rem 0 0;
    }

    .itinerary-col-1, .itinerary-col-2{
        width: 100%;
    }

    /*share buttons*/
    .share-buttons-mobile-wrapper .share-buttons{
        border-top: none;
    }

    .reviews__item__content{
        padding-left: 6px;
    }

    .reviews__item__comment{
        padding-left: 1px;
    }

    .similar-section h3{
        margin: 50px 10px 0;
    }

    .site-footer .newsletter-signup{
        padding: 0 30px 15px;
    }

    .footer-end{
        line-height: 1.5;
    }

    #booking-section__experience{
        z-index: 1000;
    }

    .tab-content .content-holder.experience-tab-wrapper label{
        top: -10px;
        right: 40px;
    }

    .tab-content .content-holder.experience-tab-wrapper label i{
        position: absolute;
        transform: rotate(-90deg);
        -webkit-transition: transform 0.2s;
        -moz-transition: transform 0.2s;
        -ms-transition: transform 0.2s;
        -o-transition: transform 0.2s;
        transition: transform 0.2s;
        color: whitesmoke;
        font-size: 30px;
    }

    .tab-content .content-holder.experience-tab-wrapper label i.fa-check-circle{
        color: limegreen;
        transform: rotate(0deg);
    }

    .checkbox-container i{
        color: #FFFFFF;
        font-size: 25px;
    }

    .cart-header{
        background-color: #FFFFFF;
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }

    .cart-header h4{
        padding: 10px 0 0 15px;
    }

    .cart-undo{
        padding: 10px 0 0 0;
    }

    .cart #experience-cart .cart-count{
        position: absolute;
        top: -2px;
        right: -3px;
        color: #FFFFFF;
        background-color: darkorange;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        line-height: normal;
        transition: transform 0.2s;
    }

    #experience-cart .cart-count.cart-open{
        transform: scale(0);
    }

    .cart #experience-cart:hover {
        cursor: pointer;
    }

    #experience-cart .fa-shopping-cart, #experience-cart .fa-close{
        font-size: 35px;
        position: absolute;
        top: 15%;
        color: #000000;
        transition: opacity 0.2s, transform 0.2s;
    }

    #experience-cart .fa-shopping-cart{
        right: 20%;
    }

    #experience-cart .fa-close{
        right: 24%;
    }

    #experience-cart .fa-close.rotate{
        transform: rotate(-90deg);
    }

    .experience-form{
        position: fixed;
        top: 50%;
        left: 50%;
        width: 280px;
        height: 500px;
        margin-top: -250px;
        margin-left: -140px;
        transition: transform 0.2s;
        z-index: 1001;
        padding: 10px;
    }

    /*.experience-form.on-confirm{
        -webkit-transform: translateY(-100vh);
        -moz-transform: translateY(-100vh);
        -ms-transform: translateY(-100vh);
        -o-transform: translateY(-100vh);
        transform: translateY(-100vh);
    }*/

    .cart-trigger {
        position: fixed;
        top: 2%;
        right: 4%;
        transition: transform .2s;
        z-index: 1002;
    }

    .cart-content{
        position: fixed;
        z-index: 1000;
        top: 50%;
        left: 50%;
        height: 300px;
        width: 280px;
        margin-top: -150px;
        margin-left: -140px;
        transition: transform .2s;
    }

    /*hide cart*/
    .cart-empty .cart-trigger {
        -webkit-transform: translateX(100vw);
        -moz-transform: translateX(100vw);
        -ms-transform: translateX(100vw);
        -o-transform: translateX(100vw);
        transform: translateX(100vw);
    }

    .cart-content.cart-empty {
        -webkit-transform: translateY(100vh);
        -moz-transform: translateY(100vh);
        -ms-transform: translateY(100vh);
        -o-transform: translateY(100vh);
        transform: translateY(100vh);
    }

    .cart-layout {
        position: relative;
        right: 0;
        z-index: 2;
        overflow: hidden;
        min-height: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        background: white;
        box-shadow: 0 4px 30px rgba(0,0,0, .17);
        overflow-y: scroll;
    }

    .cart-layout ul{
        list-style-type: none;
        margin: 1rem 0;
        padding: 0;
    }

    .cart-content .cart-body{
        height: auto;
        flex-grow: 1;
    }

    .cart-footer{
        position: sticky;
        width: 100%;
        bottom: 0;
    }

    .cart-footer button{
        width: 100%;
        border-radius: 0;
    }

    .cart__delete-item{
        font-size: 13px;
    }

    .cart__item--deleted {
        position: absolute;
        left: 0;
        width: 100%;
        opacity: 0;
        animation: item-slide-out .3s forwards;
    }

    .cart__item{
        transition: transform .2s;
    }

    .cart__item .cart__item-details span{
        font-size: 20px;
        font-weight: bold;
    }

    .experience-form.not-confirmed{
        -webkit-transform: translateY(100vh);
        -moz-transform: translateY(100vh);
        -ms-transform: translateY(100vh);
        -o-transform: translateY(100vh);
        transform: translateY(100vh);
    }

    .sidebar{
        position: sticky;
        position: -webkit-sticky;
        left: 0;
    }

    .homestay-single .sidebar{
        bottom: -854px;
    }

    .tour-single .sidebar{
        bottom: -862px;
    }

    .visible-992{
        display: none;
    }
}

@media (min-width: 768px) {

    .visible-xs{
        display: none;
    }

    .visible-sm{
        display: block;
    }

    .visible-md{
        display: none;
    }

    .visible-lg{
        display: none;
    }
    
    .hidden-xs{
        display: block;
    }

    .hidden-sm{
        display: none;
    }
    
    .hidden-md{
        display: block;
    }
    
    .hidden-lg{
        display: block;
    }
    
    .hidden-768{
        display: none;
    }

    .padding-all{
        padding: 40px 50px;
    }

    .padding-top{
        padding-top: 40px;
    }

    .padding-right{
        padding-right: 50px;
    }

    .padding-bottom{
        padding-bottom: 40px;
    }

    .padding-left{
        padding-left: 50px;
    }

    /*Experiences Modal-Popup Style*/
    .modal-md{
        max-width: 50%;
        line-height: 1.5;
    }

    .product-link .inner-box,
    .suggestions .inner-box{
        height: 20vw;
    }

    #experienceModal .experience-description{
        padding: 0 10px;
    }

    #experienceModal .modal-header button{
        outline: none;
    }

    .top-bar .social-button-links a{
        padding: 0 0 0 10px;
    }

    .social-button-box{
        padding: 0 15px;
        left: 50px;
    }

    .social-button-box{
        border: 3px solid;
    }

    .social-button-icons{
        bottom: -50px;
    }

    .social-button-icons a{
        font-size: 50px;
        color: black;
    }

    .social-button-links a{
        padding-right: 30px;
    }

    /*increases the font-size of the header*/
    .top-bar #collapsibleNavbar a{
        font-size: 17px;
        /*font-weight: bolder;*/
    }

    .product-row > div:first-child{
        padding-left: 15px;
    }

    .product-row > div:last-child{
        padding-right: 15px;
    }

    .product-row .featured-img {
        height: inherit;
    }

    .product-link__main{
        padding: 0 10px;
    }

    .border-sides{
        border-left: #6c757d solid 1px;
        border-right: #6c757d solid 1px;
    }

    /*suggestions banner text properties*/
    /*.suggestions .banner span{
        font-size: 1em;
    }*/

    .about-us .founders-img img{
        max-width: 100%;
        height: auto;
        padding: 100px;
        border-radius: 50%;
    }

    .horizontal-scroll-wrapper .horizontal-scroll-element{
        width: inherit;
    }

    .tab .nav-tabs{
        margin: 0;
        border-bottom: 3px solid black/*#37642A*/;
    }

    .tab .nav-tabs li a{
        color: #000000;
        border-radius: 4px 4px 0 0;
        background-color: white;
        border-bottom: 1px solid black;
        position: relative;
    }

    .tab .nav-tabs li a:hover,
    .tab .nav-tabs li a.active{
        color: #FFFFFF;
        background: black;
        border-radius: 4px 4px 0 0;
        border: 1px solid black;
        box-shadow: none;
    }

    .carousel-padding{
        padding: 35px 0;
    }

    .carousel-item{
        -webkit-box-align: start;
        align-items: flex-start;
    }

    #homestaysCarousel .carousel-inner,
    #toursCarousel .carousel-inner {
        width: 100%;
        position: relative;
    }

    #homestaysCarousel .carousel-inner-box .featured-img,
    #toursCarousel .carousel-inner-box .featured-img {
        height: 30vh;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }

    .tour-images .multi-item-carousel .carousel-item .col-md-4:first-child,
    .homestay-images .multi-item-carousel .carousel-item .col-md-4:first-child{
        padding: 0 5px 0 0;
    }

    .tour-images .multi-item-carousel .carousel-item .col-md-4:last-child,
    .homestay-images .multi-item-carousel .carousel-item .col-md-4:last-child{
        padding: 0 0 0 5px;
    }

    .tour-images .multi-item-carousel .carousel-item .col-md-4,
    .homestay-images .multi-item-carousel .carousel-item .col-md-4{
        padding: 0 5px;
    }

    .multi-item-carousel .carousel-inner .carousel-item.active,
    .multi-item-carousel .carousel-inner .carousel-item-next,
    .multi-item-carousel .carousel-inner .carousel-item-prev,
    .state-carousel .carousel-inner .carousel-item.active,
    .state-carousel .carousel-inner .carousel-item-next,
    .state-carousel .carousel-inner .carousel-item-prev{
        display: flex;
    }

    .tab-pane .carousel-inner .carousel-item-right.active,
    .tab-pane .carousel-inner .carousel-item-next{
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
        transform: translateX(50%);
    }

    .tab-pane .carousel-inner .carousel-item-left.active,
    .tab-pane .carousel-inner .carousel-item-prev {
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .tour-images .carousel-inner .carousel-item-right.active,
    .tour-images .carousel-inner .carousel-item-next,
    .homestay-images .carousel-inner .carousel-item-right.active,
    .homestay-images .carousel-inner .carousel-item-next,
    .state-carousel .carousel-inner .carousel-item-right.active,
    .state-carousel .carousel-inner .carousel-item-next{
        -webkit-transform: translateX(33.3%);
        -moz-transform: translateX(33.3%);
        -ms-transform: translateX(33.3%);
        -o-transform: translateX(33.3%);
        transform: translateX(33.3%);
    }

    .tour-images .carousel-inner .carousel-item-left.active,
    .tour-images .carousel-inner .carousel-item-prev,
    .homestay-images .carousel-inner .carousel-item-left.active,
    .homestay-images .carousel-inner .carousel-item-prev,
    .state-carousel .carousel-inner .carousel-item-left.active,
    .state-carousel .carousel-inner .carousel-item-prev {
        -webkit-transform: translateX(-33.3%);
        -moz-transform: translateX(-33.3%);
        -ms-transform: translateX(-33.3%);
        -o-transform: translateX(-33.3%);
        transform: translateX(-33.3%);
    }

    .multi-item-carousel .carousel-inner .carousel-item-right,
    .multi-item-carousel .carousel-inner .carousel-item-left,
    .state-carousel .carousel-inner .carousel-item-right,
    .state-carousel .carousel-inner .carousel-item-left{
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    .details-section h5{
        margin: 0;
        display: inline-block;
    }

    .small__padding-top{
        padding-top: 15px;
    }

    .small__padding-bottom{
        padding-bottom: 15px;
    }

    .small__padding-right{
        padding-right: 20px;
    }

    .small__padding-left{
        padding-left: 15px;
    }

    .details-section span{
        font-size: 16px;
    }

    #primary-tab-content .content-holder,
    .state-carousel .content-holder{
        width: 33.3%;
        position: relative;
        padding: 10px;
        margin: 10px 0;
        z-index: 1;
    }

    #primary-tab-content .inner-box,
    .state-carousel .inner-box{
        height: 20vw;
    }

    .featured-img{
        height: inherit;
        width: 100%;
        background: url("../images/og-logo.png") no-repeat;
    }

    .featured-img img{
        height: inherit;
        width: 100%;
        border-radius: 5px;
    }

    .homestay-tabs__table td,
    .homestay-tabs__table th,
    .tour-tabs__table td,
    .tour-tabs__table th{
        padding: 20px;
        vertical-align: top;
    }

    .tab-pane#itinerary .tour-tabs__table td{
        padding: .75rem;
    }

    .tab-pane#itinerary .tour-tabs__table .border-none:first-child td{
        padding-top: 0;
    }

    .tab-pane#itinerary .tour-tabs__table .border-none td{
        padding-top: 30px;
    }

    .room-images__container{
        display: inline-block;
        width: 30vw;
        height: 150px;
        overflow-y: hidden;

    }

    .host-img{
        padding: 0;
        width: 100%;
        height: 98px;
        box-shadow: 0 0 8px rgba(13,13,13,0.2);
    }

    .host-img img
    {
        width: inherit;
    }

    .itinerary-col-1{
        width: 30%;
    }

    .itinerary-col-2{
        width: 70%;
    }

    .tour-tabs__content.itinerary h6{
        font-weight: bold;
        background-color: rgba(13,13,13,0.3);
        display: inline;
        padding: 5px;
        color: #FFFFFF;
        border-radius: 3px;
    }

    .reviews__form textarea{
        height: 150px;
    }

    .reviews__form .form-control{
        width: 70%;
    }

    .reviews__item__info{
        margin: -5px 20px 0 -12px;
    }

    .similar-section h3{
        margin: 10px 0 25px;
    }

    .tab-content .content-holder.experience-tab-wrapper label{
        top: 0;
        right: 48px;
    }

    .tab-content .content-holder.experience-tab-wrapper label i{
        position: absolute;
        transform: rotate(-90deg);
        -webkit-transition: transform 0.2s;
        -moz-transition: transform 0.2s;
        -ms-transition: transform 0.2s;
        -o-transition: transform 0.2s;
        transition: transform 0.2s;
        color: whitesmoke;
    }

    .tab-content .content-holder.experience-tab-wrapper label i.fa-check-circle{
        color: limegreen;
        transform: rotate(0deg);
    }

    .checkbox-container i{
        color: #FFFFFF;
        font-size: 30px;
    }

    #booking-section__experience{
        z-index: 1000;
    }

    .cart-header{
        background-color: #FFFFFF;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        z-index: 1;
    }

    .cart-header h4{
        padding: 10px 0 0 15px;
    }

    .cart-undo{
        padding: 10px 0 0 0;
    }

    .cart #experience-cart .cart-count{
        position: absolute;
        top: -2px;
        right: -3px;
        color: #FFFFFF;
        background-color: darkorange;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        line-height: normal;
        transition: transform 0.2s;
    }

    #experience-cart .cart-count.cart-open{
        transform: scale(0);
    }

    .cart #experience-cart:hover {
        cursor: pointer;
    }

    #experience-cart .fa-shopping-cart, #experience-cart .fa-close{
        font-size: 35px;
        position: absolute;
        top: 15%;
        color: #588E47;
        transition: opacity 0.2s, transform 0.2s;
    }

    #experience-cart .fa-shopping-cart{
        right: 20%;
    }

    #experience-cart .fa-close{
        right: 24%;
    }

    #experience-cart .fa-close.rotate{
        transform: rotate(-90deg);
    }

    .experience-form{
        position: fixed;
        top: 50%;
        left: 50%;
        width: 280px;
        height: 490px;
        margin-top: -245px;
        margin-left: -140px;
        transition: transform 0.2s;
        z-index: 1001;
        padding: 10px;
    }

    .experience-form.not-confirmed{
        -webkit-transform: translateY(100vh);
        -moz-transform: translateY(100vh);
        -ms-transform: translateY(100vh);
        -o-transform: translateY(100vh);
        transform: translateY(100vh);
    }

    .cart-trigger {
        position: fixed;
        bottom: 3%;
        right: 1.3%;
        transition: transform .2s;
        z-index: 1000;
    }

    .cart-content{
        position: fixed;
        z-index: 1000;
        top: 50%;
        left: 50%;
        height: 300px;
        width: 280px;
        margin-top: -150px;
        margin-left: -140px;
        transition: transform .2s;
    }

    /*hide cart*/
    .cart-empty .cart-trigger {
        -webkit-transform: translateX(150px);
        -moz-transform: translateX(150px);
        -ms-transform: translateX(150px);
        -o-transform: translateX(150px);
        transform: translateX(150px);
    }

    .cart-content.cart-empty {
        -webkit-transform: translateY(100vh);
        -moz-transform: translateY(100vh);
        -ms-transform: translateY(100vh);
        -o-transform: translateY(100vh);
        transform: translateY(100vh);
    }

    .cart-layout {
        position: relative;
        right: 0;
        z-index: 2;
        overflow: hidden;
        min-height: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        background: white;
        box-shadow: 0 4px 30px rgba(0,0,0, .17);
        overflow-y: scroll;
    }

    .cart-layout ul{
        list-style-type: none;
        margin: 1rem 0;
        padding: 0;
    }

    .cart-content .cart-body{
        height: auto;
        flex-grow: 1;
    }

    .cart-footer{
        position: sticky;
        width: 100%;
        bottom: 0;
    }

    .cart-footer button{
        width: 100%;
        border-radius: 0;
    }

    .cart__delete-item{
        font-size: 13px;
    }

    .cart__item--deleted {
        position: absolute;
        left: 0;
        width: 100%;
        opacity: 0;
        animation: item-slide-out .3s forwards;
    }

    .cart__item{
        transition: transform .2s;
    }

    .cart__item .cart__item-details span{
        font-size: 20px;
        font-weight: bold;
    }


    .cart-body__item.removedItem {
        -webkit-transform: translateX(500px);
        -moz-transform: translateX(500px);
        -ms-transform: translateX(500px);
        -o-transform: translateX(500px);
        transform: translateX(500px);
    }

    @keyframes item-slide-out {
        0% {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
        }

        100% {
            -webkit-transform: translateX(80px);
            -moz-transform: translateX(80px);
            -ms-transform: translateX(80px);
            -o-transform: translateX(80px);
            transform: translateX(80px);
            opacity: 0;
        }
    }

    .modal-body .experience-description{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .datepicker.dropdown-menu{
        width: 50%;
    }

    .similar-products .content-holder{
        width: 33.3%;
        position: relative;
        padding: 10px;
    }

    .similar-products div:first-child{
        padding-left: 0;
    }

    .similar-products div:last-child{
        padding-right: 0;
    }

    .site-footer .footer-right{
        padding: 0 0 0 90px;
    }

    .site-footer .social-button-links a{
        padding-right: 10px;
    }

    #seasons-accordion{
        width: 70%;
    }

    .sidebar{
        position: sticky;
        position: -webkit-sticky;
        left: 0;
    }

    .homestay-single .sidebar{
        bottom: -829px;
    }

    .tour-single .sidebar{
        bottom: -830px;
    }

    .visible-992{
        display: none;
    }
}

/*for desktops & laptops*/
@media (min-width: 992px) {

    .visible-xs{
        display: none;
    }

    .visible-sm{
        display: none;
    }

    .visible-md{
        display: block;
    }

    .visible-lg{
        display: none;
    }

    .hidden-xs{
        display: block;
    }
    
    .hidden-sm{
        display: block;
    }

    .hidden-md{
        display: none;
    }
    
    .hidden-lg{
        display: block;
    }

    /*.padding-top{
        padding-top: 40px;
    }

    .padding-right{
        padding-right: 50px;
    }

    .padding-bottom{
        padding-bottom: 40px;
    }

    .padding-left{
        padding-left: 50px;
    }*/

    .top-bar #collapsibleNavbar a{
        font-size: 26px;
        /*font-weight: bolder;*/
    }

    /*video-popup*/
    .videoModal > .modal-sm{
        max-width: 70%;
    }

    /*suggestions banner text properties*/
    .suggestions .banner span{
        font-size: 1.3em;
    }

    .modal-lg{
        max-width: 70%;
        height: 95vh;
        line-height: 1.2;
    }

    /*.nav-item{
        padding: 0 0.4rem;
    }*/

    .navbar-expand-sm .navbar-nav .nav-link{
        padding: 0;
    }

    .navbar-nav > .dropdown:hover .dropdown-menu{
        display: block;
    }

    .nav-tabs .nav-link{
        font-size: 1.3em;
        border-bottom: none;
    }

    .customise-form #form-area{
        margin: 0 15px;
    }

    .customise-form textarea{
        height: 138px;
    }

    .ribbon-front{
        width: 100%;
    }

    .room-images__container{
        display: inline-block;
        width: 23vw;
        height: 150px;
        overflow-y: hidden;

    }

    /*.sidebar{
        position: relative;
    }*/

    .visible-992 {
        display: block;
    }

    .hidden-992{
        display: none;
    }

    .datepicker.dropdown-menu{
        width: 30%;
    }

    .host-img{
        height: 120px;
    }
}


/*for large desktops*/
@media (min-width: 1200px) {

    .visible-xs{
        display: none;
    }

    .visible-sm{
        display: none;
    }

    .visible-md{
        display: none;
    }

    .visible-lg{
        display: block;
    }
    
    .hidden-xs{
        display: block;
    }
    
    .hidden-sm{
        display: block;
    }
    
    .hidden-md{
        display: block;
    }

    .hidden-lg{
        display: none;
    }

    #main-banner{
        max-width: inherit;
        padding: 0;
    }

    .modal-lg{
        max-width: 60%;
        height: 75vh;
        line-height: 1.2;
    }

    .tab-content .content-holder{
        width: 33.3%;
        height: 380px;
        position: relative;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
    }

    .tab-content .content-holder.experience-tab-wrapper{
        height: 21vw;
    }

    .inner-box-carousel .featured-img{
        height: 50vw;
    }

    .inner-box-carousel .featured-img img{
        height: auto;
    }

    /*.inner-box{
        height: 35vh;
    }*/

    .featured-img{
        height: inherit;
        width: 100%;
        background: url("../images/og-logo.png") no-repeat;
    }

    .checkmark{
        bottom: 18px;
    }

    .room-images__container{
        display: inline-block;
        width: 18vw;
        height: inherit;
        overflow-y: hidden;

    }

    .datepicker.dropdown-menu{
        width: 25%;
    }
}

@media (min-width: 1500px) {

    /*height of homepage carousel. This container holds the featured tours.*/
    #products-carousel #carousel-row {
        height: 550px;
    }

    .featured-img{
        height: inherit;
        width: 100%;
        background: url("../images/og-logo.png") no-repeat;
    }

    .tab-content .content-holder{
        height: 35vh;
    }

    .tab-content .content-holder.experience-tab-wrapper{
        height: 30vh;
    }

    .product-link .inner-box,
    .suggestions .inner-box{
        height: 14vw;
    }

    .inner-box{
        height: 25vh;
    }

    #primary-tab-content .inner-box,
    .state-carousel .inner-box{
        height: 14vw;
    }

    #experienceImagesCarousel{
        width: 20vw;
    }

    .room-images__container{
        width: 15vw;
    }

    .modal-body .experience-description{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .datepicker.dropdown-menu{
        width: 15%;
    }
}

.datepicker.dropdown-menu {
    font-size: 1.1em !important;
    font-family: 'Quicksand', sans-serif;
    line-height: 2.3 !important;
    color: forestgreen !important;
}

.datepicker .table-condensed{
    width: 100%;
}

.nav a:link{
    color: black;
}

/*nav-bar styling*/

a:focus{
    outline: none;
    text-decoration: none;
}

.homestay-single .tab-content,
.homestay-single .reviews,
.tour-single .tab-content,
.tour-single .reviews,
.container-shadow{
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    background: #fff;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}



/*.nav-tabs{
    border: none !important;
    padding-bottom: 0 !important;
}*/

#primary-tab-content{
    color:#fff;
}

.nav-tabs > li > a{
    border: medium none;
}

/*styling Customise Experience Form*/
#experiences-form{
    padding-top: 76px;
    z-index: 1000 !important;
}

#experiences-form > div{
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    padding: 0;
    background-color: #fefefe;
}

#experiences-form .form-group{
    margin: 5px;
}

/*Homestay Modal-Popup Style*/

.modal-dialog{
    margin: 0.5rem auto;
}

/*.modal-content{
    height: inherit;
}*/

.modal-header{
    border-bottom: none;
}

.modal-body{
    max-height: calc(100vh - 110px);
    overflow-y: auto;
    color: black;
}

.tour-details, .homestay-details, .experience-details{
    color: #4e555b;

    font-size: 1.2em;
}

.tour-details > .tour-name, .homestay-details > .homestay-name, .experience-details > .experience-name{
    font-size: 1.3em;
}

.nav-pills > li > a{
    padding-top: 5px;
    padding-bottom: 5px;
}

#homestaysModal .modal-header > button > span, #toursModal .modal-header > button > span{
    float: right;
}

.homestay-images img, .tour-images img, #tour-itinerary img{
    max-width: 100%;
    max-height: 100%;
}

.modal-body .content{
    font-size: 0.95em;
}

.modal-footer{
    font-family: 'Quicksand', sans-serif;
}


.booking-form .form-group{
    width: inherit;
    margin-bottom: 1.2rem;
}

.booking-form .input-daterange input{
    text-align: left;
}

.booking-form textarea{
    height: 120px;
}

.booking-form .form-group input,
.booking-form .form-group input::placeholder,
.booking-form .form-group select,
.booking-form .form-group textarea,
.booking-form .form-group textarea::placeholder{
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: inherit;
}

.booking-form .form-group input,
.booking-form .form-group select,
.booking-form .form-group textarea{
    border-bottom: 1px solid white;
}

.booking-form select,
.customise-form select{
    -webkit-appearance: none;
    -moz-appearance: none;
}

#appbundle_bookings_homestay_room label{
    margin: 0 70px 0 0;
}

.reviews{
    background-color: rgba(13,13,13,0.1);
    border-radius: 10px;
}

/*Customisation Form*/
.customise-form{
    font-family: 'Quicksand', sans-serif;
}

.customise-form .row{
    background-color: white;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
}

.customise-form .rounded-custom{
    border-radius: 0 !important;
    border: 2px solid rgba(13,13,13,0.3);
}

.form input:focus,
.form select:focus,
.form textarea:focus{
    outline: inherit !important;
    box-shadow: 0 0 0 3px rgba(88, 142, 71, 0);
    /*border: 1px solid rgba(88, 142, 71, 1);*/
}

.customise-form #state-choice__border{
    border: 1px solid rgba(0,0,0,0.15);
    padding: 10px;
    background-color: rgba(13,13,13, 0.02);
}

.customise-form #state-choice__border label{
    margin-bottom: 0;
}

.customise-form #state-choice__border span{
    font-size: 1rem;
    padding-left: 3px;
    color: rgba(0,0,0, 0.55);
}

.customise-form p{
    line-height: 1.3;
    padding: 15px;
}

/*styling button text*/
.customise-form span{
    font-size: 1.7em;
}

/*customise-form ribbon*/
.ribbon-front {
    background-color: #cc3333;
    height: 50px;
    position: relative;
    left:-10px;
    z-index: 1;
    font: 27px/50px "Mansalva", cursive;
    font-weight: bold;
    color:#f8f8f8;
    text-align:center;
    text-shadow: 0 1px 2px #cc6666;
}

.ribbon-front,
.ribbon-back-left,
.ribbon-back-right
{
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

.ribbon-edge-topleft,
.ribbon-edge-topright,
.ribbon-edge-bottomleft {
    position: absolute;
    z-index: 1;
    border-style:solid;
    height:0px;
    width:0px;
}

.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
    top: 50px;
}

.ribbon-edge-topleft,
.ribbon-edge-bottomleft {
    left: -10px;
    border-color: transparent #9B1724 transparent transparent;
}

.ribbon-edge-topleft {
    top: -5px;
    border-width: 5px 10px 0 0;
}
.ribbon-edge-bottomleft {
    border-width: 0 10px 0px 0;
}

.ribbon-edge-topright{
    left: 337px;
    border-color: transparent transparent transparent #9B1724;
}

.ribbon-edge-topright {
    top: 0px;
    border-width: 0px 0 0 10px;
}


@-webkit-keyframes flow {
    0% { left:-20px;opacity: 0;}
    50% {left:100px;opacity: 0.3;}
    100%{ left:180px;opacity: 0;}
}
@keyframes flow {
    0% { left:-20px;opacity: 0;}
    50% {left:100px;opacity: 0.3;}
    100%{ left:180px;opacity: 0;}
}

.glow{
    background: rgb(255,255,255);
    width:40px;
    height:100%;
    z-index:999;
    position:absolute;
    -webkit-animation: flow 1.5s linear infinite;
    -moz-animation: flow 1.5s linear infinite;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(1%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */ border-left:1px solid #fff;}



/*class for hiding element*/
.hidden{
    display: none;
}

/*Comment Style*/
/*.comments { clear: both; }
.comments .odd { background: #eee; }
.comments .comment { padding: 20px; }
.comments .comment p { margin-bottom: 0; }
.comments h3 { background: #eee; padding: 10px; font-size: 20px; margin-bottom: 20px; clear: both; }
.comments .previous-comments { margin-bottom: 20px; }*/

/*horizontal scrolling*/
.horizontal-scroll-wrapper{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: fit-content;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

.horizontal-scroll-wrapper::-webkit-scrollbar{
    display: none;
}

.horizontal-scroll-wrapper .horizontal-scroll-element{
    display: inline-block;
    width: 95%;
    padding: 0 20px 0 0;
}

/* over-riding star-rating css */
.rating{
    margin: 4px 0;
}

.rating div.star{
    font-size: 18px !important;
}

.rating div.star:hover:before,.rating div.star:hover~div.star:before {
    color: orange/*#DE656B*/ !important;
}

.rating div.star-full {
    font-size: 18px !important;
}

.rating div.star-full:before{
    color: orange !important;
}

.rating div.star-empty {
    font-size: 18px !important;
}