
    <div id="form-resp"></div>
    <div id="loader" style='display:none;'><img src="{{ asset('images/loader-dot.gif') }}" width="50"></div>

    <!-- Booking Form -->
    {{ form_start(form_experience,{'attr':{'id':'form-experience'}}) }}
    <div class="form-group">
        {{ form_widget(form_experience.name) }}
    </div>
    <div class="form-group">
        {{ form_widget(form_experience.month) }}
    </div>
    <div class="form-group">
        {{ form_widget(form_experience.guestQuantity) }}
    </div>
    <div class="form-group">
        {{ form_widget(form_experience.phone) }}
    </div>
    <div class="form-group">
        {{ form_widget(form_experience.email) }}
    </div>
    <div class="form-group">
        {{ form_widget(form_experience.message) }}
    </div>
    <div class="form-group">
        {{ form_widget(form_experience.experiences, {'attr':{'class': 'experiences'}}) }}
    </div>
    {#<div class="form-group">
    <div class="g-recaptcha" data-sitekey="6LfDbbwUAAAAALsidilI2uz_sIvyqA-_ddbIUlRT"></div>
</div>#}
    <div class="d-flex justify-content-center">
        {{ form_widget(form_experience.submit) }}
    </div>
    {{ form_end(form_experience) }}