<table>
    <tbody>
    <tr>
        <td style="width: 117px;"><strong>Name</strong></td>
        <td style="width: 15px;">:&nbsp;</td>
        <td style="width: 15px;">{{ data.name }}</td>
    </tr>
    <tr>
        <td style="width: 117px;"><strong>Email</strong></td>
        <td style="width: 15px;">:&nbsp;</td>
        <td style="width: 15px;">{{ data.email }}</td>
    </tr>
    <tr>
        <td style="width: 117px;"><strong>Phone No.&nbsp;</strong></td>
        <td style="width: 15px;">&nbsp;:</td>
        <td style="width: 15px;">{{ data.phone }}</td>
    </tr>
    <tr>
        <td style="width: 117px;"><strong>Month of Travel&nbsp;</strong></td>
        <td style="width: 15px;">&nbsp;:</td>
        <td style="width: 15px;">{{ data.month }}</td>
    </tr>
    <tr>
        <td style="width: 117px;"><strong>Guest Quantity</strong></td>
        <td style="width: 15px;">&nbsp;:</td>
        <td style="width: 15px;">{{ data.guestQuantity }}</td>
    </tr>
    <tr>
        <td style="width: 117px;"><strong>Experiences</strong></td>
        <td style="width: 15px;">&nbsp;:</td>
        <td style="width: 100%">{{ data.experiences }}</td>
    </tr>
    <tr>
        <td style="width: 117px;"><strong>Message</strong></td>
        <td style="width: 15px;">&nbsp;:</td>
        <td style="width: 15px;">{{ data.message }}</td>
    </tr>
    </tbody>
</table>




