{% extends 'ourguest.html.twig' %}

{% block title %}Customise Experience | OurGuest{% endblock %}

{% block body %}
    <div class="container pt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('ourguest_homepage') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Experiences</li>
            </ol>
        </nav>
        <h2 class="customise-tour-heading cursive">Customise your Experience</h2>
        <div class="row">
            <!-- Navigation Bar for Tab Content -->
            {{ render(controller('OurguestBundle:Default:locationNavbar')) }}

            <!-- Tab Content -->
            <div class="tab-content col-12 padding-top experience" id="primary-tab-content">
                {% if detail is defined %}
                    {% for val in detail %}
                        <div id="state_{{ val.id }}" class="container tab-pane fade p-0">
                            <div class="d-flex flex-wrap">
                                {{ render(controller('OurguestBundle:Experiences:tabContentExperiences', {'id': val.id})) }}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% include ':ourguest/experiences/frontend:popup.html.twig' %}
                <div class="col-12 text-center pt-md-5">
                    <div id="loader1" style='display:none;'><img src="{{ asset('images/loader-dot.gif') }}" width="50"></div>
                    <button class="btn__load-more experiences"><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="cart cart-empty" id="booking-section__experience">
        <a id="experience-cart" class="cart-trigger">
            <i class="fa fa-shopping-cart"></i>
            <span class="cart-count">0</span>
        </a>
        <div class="cart-content cart-empty">
            <div class="cart-layout">
                <header class="cart-header sticky">
                    <h4>Cart</h4>
                </header>
                <div class="cart-body col-12">
                    <ul>
                        <!-- Items added to cart will be inserted here using js -->
                    </ul>
                </div>
                <footer class="cart-footer">
                    <button type="submit" onclick="showForm()" class="btn btn-success">Confirm</button>
                </footer>
            </div>
        </div>
    </div>
    <div class="booking-form experience-form form not-confirmed">
        {{ render(controller('OurguestBundle:Experiences:experiencesBooking')) }}
    </div>
{% endblock %}

