<!-- Experiences Modal -->
<!--Modal Structure-->
<div class="modal fade" id="experienceModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header p-0">
                <div class="d-flex flex-row" style="width: 100%;">
                    <div class="experience-details col-6 pt-3 pl-3">
                        <!-- Experience Name -->
                        <h4 class="experience-name mb-0">Name</h4>
                        <div class="experience-location">Location</div>
                    </div>
                </div>
                <div class="col-1 ml-auto pr-2">
                    <button type="button" class="close m-0 col-md-1 ml-auto" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="position: absolute; top: 10px; right: 10px; font-size: 40px">&times</span>
                    </button>
                </div>
            </div>
            <!--Modal Body-->
            <div class="modal-body d-flex flex-row p-0" id="modal-body-experience">

                <div class="col-12 p-3">
                    <!--About the Experience-->
                    <div class="container p-0 d-md-flex justify-content-md-between">
                        <div class="carousel slide" id="experienceImagesCarousel" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="inner-box">
                                        <div class="featured-img">
                                            <img src="{{ asset('images/homestays.jpeg') }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-control-prev" href="#experienceImagesCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </div>
                            <div class="carousel-control-next" href="#experienceImagesCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </div>
                        </div>
                        <div class="experience-description col-md-6">
                            <h5>Description</h5>
                            <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a elit elit. Aenean accumsan hendrerit ornare. Duis dapibus accumsan pulvinar. Vivamus pellentesque varius turpis vel egestas. Mauris mattis ligula sed lobortis laoreet. Fusce vel arcu sapien. In ultrices non mi vitae aliquam. Fusce elementum pretium faucibus. Sed tempor lacinia imperdiet.Vivamus malesuada interdum iaculis. Donec quis metus eleifend sapien egestas dignissim eu id neque. Ut sed pellentesque mi. Maecenas ut libero et magna faucibus porta. Praesent sed metus dignissim, feugiat diam id, commodo mi. Aliquam lacinia congue est tempus malesuada. Suspendisse viverra tortor leo. Nam varius nisi tellus, vitae lacinia tellus sollicitudin volutpat. Nunc vel facilisis sapien. Nulla</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
