{% if detail is defined %}
    {% for val in detail %}
        <div class="content-holder experience-tab-wrapper">
            <label class="checkbox-container text-center">
                <input type="checkbox" id="{{ val.id }}" value="{{ val.name }}">
                <span><i class="fa fa-plus-square"></i></span>
            </label>
            <a href="javascript:void(0)" id="{{ val.id }}" class="experience-popup">
                <div class="inner-box">
                    <div class="featured-img">
                        <img src="{{ asset('images/uploads/'~ val.featimg) }}">
                    </div>
                    <div class="caption1 mb-3 text-center">
                        <h5>{{ val.name }}</h5>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
{% endif %}
