{#{% extends "FOSUserBundle::layout.html.twig"  %}#}
    {% block stylesheets %}
        <style>
            /* LOGIN */
            .login-container {
                float: left;
                width: 100%;
                min-height: 100%;
                background: #DCDFDA;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to bottom, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
                /*background: linear-gradient(to bottom, #363795, #005C97); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

            }
            .login-container .login-box {
                width: 400px;
                margin: 0px auto;
                padding-top: 100px;
            }
            .login-container .login-box .login-logo {
                background: url("../img/login-logo.png") top center no-repeat;
                width: 100%;
                height: 120px;
                float: left;
                margin-bottom: 10px;
            }
            .login-container .login-box .login-body {
                width: 100%;
                float: left;
                background:#fff;
                padding: 20px;
                -moz-border-radius: 0px;
                -webkit-border-radius: 0px;
                border-radius: 0px;
            }
            .login-container .login-box .login-body .login-title {
                color: #111;
                font-size: 19px;
                font-weight: 300;
                margin-bottom: 20px;
            }
            .login-container .login-box .login-body .form-control {
                border: 0px;
                background:#E2E1DD;
                padding: 10px 15px;
                color: #1a1a1a;
                line-height: 20px;
                height: auto;
            }
            .login-container .login-box .login-body .btn-link {
                color: #4AAB29;
                border: 0px;
            }
            .login-container .login-box .login-body .login-or {
                width: 40px;
                height: 25px;
                background: rgba(0, 0, 0, 0.2);
                position: relative;
                margin: 25px auto;
                text-align: center;
                line-height: 25px;
                color: #FFF;
            }
            .login-container .login-box .login-body .login-or:before {
                content: "";
                position: absolute;
                left: 0;
                width: 0;
                height: 0;
                top: -10px;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-bottom: 10px solid rgba(0, 0, 0, 0.2);
            }
            .login-container .login-box .login-body .login-or:after {
                content: "";
                position: absolute;
                left: 0;
                width: 0;
                height: 0;
                bottom: -10px;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-top: 10px solid rgba(0, 0, 0, 0.2);
            }
            .login-container .login-box .login-body .login-subtitle {
                line-height: 20px;
                padding: 5px 0px;
                font-size: 12px;
                color: #FFF;
            }
            .login-container .login-box .login-body .login-subtitle a {
                color: #1caf9a;
            }
            .login-container .login-box .login-footer {
                width: 100%;
                float: left;
                padding: 10px;
                color: #FFF;
            }
            .login-container .login-box .login-footer a {
                color: #FFF;
            }
            .login-container.lightmode {
                background: url("../img/backgrounds/wall_1.jpg") left top no-repeat;
            }
            .login-container.lightmode .login-box .login-body {
                background: rgba(255, 255, 255, 0.2);
            }
            .login-container.lightmode .login-box .login-body .form-control {
                background: rgba(255, 255, 255, 0.4);
                color: #333;
            }
            .login-container.lightmode .login-box .login-subtitle a {
                color: #1b1e24;
            }
        </style>

    {% endblock %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}

        <div class="login-box animated fadeInDown">
            {#<div class="login-logo"></div>#}
            <div class="login-body">
                <div class="login-title"><strong>Welcome</strong>, Please login</div>
                {% if error %}
                    <div style="color:#F30D0D;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form id="loginform" class="form-horizontal" role="form" action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                    <div class="form-group">
                        <div class="col-md-12">
                            <input id="login-username" type="text" class="form-control" name="_username" value="{{ last_username }}" required="required" placeholder="username or email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input id="login-password" type="password" class="form-control" name="_password" required="required" placeholder="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <a href="{{ path('fos_user_registration_register') }}" >Register</a>
                        </div>
                        <div class="col-md-6">
                            <input class="btn btn-success btn-block" type="submit" id="_submit" name="_submit" value="{{ 'Login'|trans }}" />

                            {#<a class="btn btn-success btn-block" href="{{ path('dashboard') }}">Log In</a>#}
                        </div>
                    </div>
                </form>
            </div>
        </div>

{% endblock fos_user_content %}
