
<li style="list-style: none; margin:10px 5px; border-radius:5px; width:100%; border: 1px solid #dbdbdb; padding:10px;float: left; display: inline-block">

   <div class="row">
       <div class="col-lg-1">
           <strong>Day</strong>
           {{ form_errors(val.day) }}
           {{ form_widget(val.day, {'attr':{'class': 'form-control','value':'__val__'}}) }}
       </div>

       <div class="col-lg-2">
           <strong>Image</strong>
           {{ form_errors(val.file) }}
           {{ form_widget(val.file, {'attr':{'class': 'form-control'}}) }}
           <p></p>
           {{ form_errors(val.alt_text) }}
           {{ form_widget(val.alt_text) }}
       </div>
       <div class="col-lg-9">
           <strong>Description</strong>
           {{ form_errors(val.description) }}
           {{ form_widget(val.description, {'attr':{'class': 'form-control', 'rows':2}}) }}
       </div>
   </div>
    <a href="#" class="remove_block" style="color:#111; float: right"><i class="glyphicon glyphicon-remove"></i></a>


</li>