{% extends '::admin.html.twig' %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Edit Discount </h2>
    </div>
    {{ form_start(edit_form) }}
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            <i class="fa fa-check-circle"></i>
                        {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>Add or Edit Content</strong><br><br>
                        <div class="control-group">
                            <div class="col-lg-3">
                                {{ form_label(edit_form.userCategory) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.userCategory) }}
                                    <p></p>
                                </div>
                                {{ form_errors(edit_form.userCategory) }}
                            </div>
                            <div class="col-lg-3">
                                {{ form_label(edit_form.startDate) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.startDate) }}
                                    <p></p>
                                </div>
                                {{ form_errors(edit_form.startDate) }}
                            </div>
                            <div class="col-lg-3">
                                {{ form_label(edit_form.endDate) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.endDate) }}
                                    <p></p>
                                </div>
                                {{ form_errors(edit_form.endDate) }}
                            </div>
                            <div class="col-lg-3">
                                {{ form_label(edit_form.rate) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.rate) }}
                                    <p></p>
                                </div>
                                {{ form_errors(edit_form.rate) }}
                            </div>
                        </div>
                        <hr>
                        <br>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <input type="submit" value="Save" class="btn btn-sm btn-success" />
                        <a href="{{ path('discount_index') }}"
                           class="btn btn-sm btn-default"><i
                                    class="fa fa-reply fa-fw"></i>Back to the List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}