{% extends '::admin.html.twig' %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Discount Control</h2>
    </div>
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="row">
            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>TA Discounts</strong><br><br>
                        <div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Sl. No.</th>
                                    <th>User Category</th>
                                    <th>Discount %</th>
                                    <th>Edit</th>
                                    {#<th>Delete</th>#}
                                </tr>
                                </thead>
                                <tbody>
                                {% for discount in discounts %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ discount.userCategory }}</td>
                                        <td>{{ discount.defRate }}%</td>
                                        <td width="15%">
                                            <table>
                                                <tr>
                                                    <td width="80px">
                                                        <a href="{{ path('defrates_edit', { 'id': discount.id }) }}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i> edit </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        {#<td width="15%">
                                            <table>
                                                <tr>
                                                    <td width="80px">
                                                        {{ form_start(delete_form) }}
                                                        <input type="submit" value="Delete"
                                                               onclick="return confirm('Do you want to delete this entry')"
                                                               class="btn btn-sm btn-danger">
                                                        {{ form_end(delete_form) }}
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>#}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <a href="{{ path('discount_new') }}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Add new Default Discount </a>
                    </div>
                </div>
            </div>
            {% include 'property-discount/index.html.twig' %}
        </div>
    </div>
{% endblock %}