{% extends '::admin.html.twig' %}

{% block body %}
    <h1>Userdetails list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firm</th>
                <th>Address</th>
                <th>Website</th>
                <th>Source</th>
                <th>Message</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for userDetail in userDetails %}
            <tr>
                <td><a href="{{ path('userdetails_show', { 'id': userDetail.id }) }}">{{ userDetail.id }}</a></td>
                <td>{{ userDetail.firm }}</td>
                <td>{{ userDetail.address }}</td>
                <td>{{ userDetail.website }}</td>
                <td>{{ userDetail.source }}</td>
                <td>{{ userDetail.message }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('userdetails_show', { 'id': userDetail.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('userdetails_edit', { 'id': userDetail.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('userdetails_new') }}">Create a new userDetail</a>
        </li>
    </ul>
{% endblock %}
