{% extends 'base.html.twig' %}

{% block body %}
    <h1>Userdetail</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ userDetail.id }}</td>
            </tr>
            <tr>
                <th>Firm</th>
                <td>{{ userDetail.firm }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ userDetail.address }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ userDetail.website }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ userDetail.source }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ userDetail.message }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('userdetails_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('userdetails_edit', { 'id': userDetail.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
