<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Recommended Tour</th>
            <th>Recommended Homestay</th>
            <th>Action</th>
        </tr>
        </thead>
        {% if suggested is defined %}
            {% for val in suggested %}
                <tbody>
                <tr>
                    <td>{{ val.tour.name }}</td>
                    <td>{{ val.homestay.name }}</td>
                    <td><a href="{{ path('suggested_edit', {'id': val.id}) }}" class="btn btn-sm btn-warning"><i class="fa fa-pencil"></i>Edit</a></td>
                </tr>
                </tbody>
            {% endfor %}
        {% endif %}
    </table>
    <a href="{{ path('suggested_new') }}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i>Setup</a>
</div>
