{% extends 'admin.html.twig' %}

{% block title %}Suggested New{% endblock %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Suggested New</h2>
    </div>

    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_start(form) }}
                        <div class="col-md-6 d-flex flex-row">
                            <div class="col-md-6 form-group">
                                <h5>Set Recommended Tour</h5>
                                {{ form_widget(form.tour, {'attr':{'class': 'form-control'}}) }}
                            </div>

                            <div class="col-md-6 form-group">
                                <h5>Set Recommended Property</h5>
                                {{ form_widget(form.homestay, {'attr':{'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6 d-flex flex-row form-group">
                            {{ form_widget(form.submit) }}
                            <a href="{{ path('ourguest_settings') }}" class="btn btn-sm btn-default"><i class="fa fa-reply"></i>Back</a>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}