<div class="col-md-7">
    <div class="panel panel-default">
        <div class="panel-body">
            <strong>Property Discounts</strong><br><br>
            <div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Sl. No.</th>
                        <th>Property</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Discount %</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for propertyDiscount in propertyDiscounts %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ propertyDiscount.property }}</td>
                            <td>{% if propertyDiscount.startDate %}{{ propertyDiscount.startDate|date('d-m-Y') }}{% endif %}</td>
                            <td>{% if propertyDiscount.endDate %}{{ propertyDiscount.endDate|date('d-m-Y') }}{% endif %}</td>
                            <td>{{ propertyDiscount.rate }}%</td>
                            <td>
                                <a href="{{ path('property_discount_edit', {'id': propertyDiscount.id}) }}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i>edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href="{{ path('property_discount_new') }}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i>Add Property Discount</a>
        </div>
    </div>
</div>