{% extends '::admin.html.twig' %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span>Add Property Discount</h2>
    </div>
    {{ form_start(form) }}
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-6">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            <i class="fa fa-check-circle"></i>
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="control-group">
                            <div class="col-md-12">
                                {{ form_label(form.property) }}
                                <div class="controls">
                                    {{ form_widget(form.property, {'attr':{'class':'form-control', 'label':'Select Property'}}) }}
                                    <p></p>
                                </div>
                                {{ form_errors(form.property) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="col-md-6">
                                {{ form_label(form.startDate) }}
                                <div class="controls">
                                    {{ form_widget(form.startDate) }}
                                    <p></p>
                                </div>
                                {{ form_errors(form.startDate) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_label(form.endDate) }}
                                <div class="controls">
                                    {{ form_widget(form.endDate) }}
                                    <p></p>
                                </div>
                                {{ form_errors(form.endDate) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="col-md-6">
                                {{ form_label(form.rate) }}
                                <div class="controls">
                                    {{ form_widget(form.rate,{'attr':{'class':'form-control'}}) }}
                                    <p></p><br>
                                </div>
                                {{ form_errors(form.rate) }}
                            </div>
                        </div>
                        <hr>
                        <div class="col-md-12">
                            <input type="submit" value="Add Property Discount" class="btn btn-sm btn-success" />
                            <a href="{{ path('discount_index') }}"
                               class="btn btn-sm btn-default"><i
                                        class="fa fa-reply fa-fw"></i>Back to the List</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/select2.min.js') }}"></script>
    <script>
        function addBlockForm($collectionHolder, grid, that) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            // get the new index
            var index = $collectionHolder.data('index');
            console.log($collectionHolder);
            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);
            newForm = newForm.replace(/__val__/g, index+1);
            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            switch(grid){
                case '1' : that.parent().find('ul').append(newForm);
                    removeBlock(grid);
                    break;
                //
                //default : // Display the form in the page in an li, before the "Add a tag" link li
                //    var $newBlock = $('<div class="wrapper-inner float"></div>').append(newForm);
                //    $collectionHolder.append($newBlock);
            }
        }

        function removeBlock(grid){
            switch(grid) {
                case '1' :
                    $('.remove_block').on('click', function (e) {
                        e.preventDefault();
                        $(this).parent().remove();
                    });
                    break;
            }
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#" class="remove_block">Remove image</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }

        $(document).ready(function() {
            var collectionHolder,
                grid ;

            // add a delete link to all of the existing tag form li elements
            $('.form-wrapper').find('.gallery li').each(function() {
                addTagFormDeleteLink($(this));
            });

            $('.add_block').on('click', function(e) {
                e.preventDefault();
                // Get the fieldset that holds the collection of blocks
                collectionHolder = $('#' + this.name);

                grid = $(this).attr('id');
                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)

                collectionHolder.data('index', collectionHolder.find('.gallery ul li').length);
                // add a new tag form (see next code block)
                addBlockForm(collectionHolder, grid, $(this));
            });

        });

        $('.js-example-basic-multiple').select2();
    </script>
{% endblock %}