{% extends 'ourguest.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>
    <div class="container pt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('ourguest_homepage') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About Us</li>
            </ol>
        </nav>
        <h2 class="cursive">About Us</h2>
        <div class="d-flex flex-row padding-top padding-bottom">
            <div class="col-6 padding-right">
                <h4 class="small__padding-bottom">EPIC JOURNEYS</h4>
                <p class="padding-bottom">OurGuest is an off beat tours and travels company based out of Sikkim which aggregates unique farmstays,homestays, resorts and retreats in Sikkim & NorthEast India and provides exciting and customizable tour packages for its guests.
                    At OurGuest, it is a continuous and ongoing effort to provide an enriching and beautiful experience to our guests who come to Sikkim and help them experience Sikkim’s unique natural beauty and culture. We work very hard to ensure that we are able to fulfill our core promise of authentic travel experience to OurGuests.
                    Be it guests relaxing watching the sunset in a traditional farm drinking the local drink, experience bird watching to some unique species, taking a small trek near the village to see a spectacular view of the mountains, being audience to traditional folk dance and music, understanding Buddhist religion and teachings or simply sharing meals with a Sikkimese family and getting to know the culture, at OurGuest we take every effort to ensure that your visit is memorable and you go back richer than you came.
                </p>
                <div class="fb-page" data-href="https://www.facebook.com/ourguestdiary/" data-tabs="timeline, events, messages" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ourguestdiary/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ourguestdiary/">OurGuest.in</a></blockquote></div>            </div>
            <div class="col-6">
                <div class="">

                </div>
                <div class="">
                    <h4 class="small__padding-bottom small__padding-left">WHAT WE OFFER</h4>
                    <div class="d-flex flex-row">
                        <div class="col-6">
                            <ul class="list-unstyled">
                                <li><p class="text">Handpicked exclusive properties with great hosts</p></li>
                                <li><p class="text">Unique tour packages designed to provide a memorable experience to our guests</p></li>
                                <li><p class="text">Reliable and secure vehicles for a hassle free travel</p></li>
                            </ul>
                        </div>
                        <div class="col6">
                            <ul class="list-unstyled">
                                <li><p class="text">Fair and affordable pricing</p></li>
                                <li><p class="text">Unforgettable experience for our guests</p></li>
                                <li><p class="text">Phone and email support for all customer queries</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-us__picture-points d-flex flex-wrap padding-top">
            <div class="col-3">
                <i class="fa fa-binoculars"></i>
                <h5>Handpicked Properties and Hosts</h5>
                <p>We examine the hosting criterias to be perfect before the property is added as part of OurGuest</p>
            </div>
            <div class="col-3">
                <i class="fa fa-taxi"></i>
                <h5>Secure Transportation</h5>
                <p>Tourist vehicles in good condition with experienced, well behaved drivers who will provide detailed information on the area</p>
            </div>
            <div class="col-3">
                <i class="fa fa-"></i>
                <h5>Expert Team</h5>
                <p>Experienced and qualified team with Guest satisfaction and delight as the clear and uncompromising goal</p>
            </div>
            <div class="col-3">
                <i class="fa fa-"></i>
                <h5>Strong Security</h5>
                <p>Technology adoption to ensure smooth coordination with property owners and transport vehicles.</p>
            </div>
            <div class="col-3">
                <i class="fa fa-"></i>
                <h5>Endangered Wildlife</h5>
                <p>Sikkim's botanical and zoological richness is awe- inspiring, boasting of Red Panda, Wild Horses and Snow Leopards</p>
            </div>
            <div class="col-3">
                <i class="fa fa-"></i>
                <h5>Reflexive Support to OurGuests</h5>
                <p>Support Helpline to address and resolve any customer query or requirement</p>
            </div>
            <div class="col-3">
                <i class="fa fa-"></i>
                <h5>Epic Journeys</h5>
                <p>We have adventures suited to Himalays - mountain biking, paragliding, wild life camping and many more</p>
            </div>
            <div class="col-3">
                <i class=""></i>
                <h5>Never Lose Your Deposit</h5>
                <p>User friendly and informative website with payment gateway to make it convenient for our guests to book with us</p>
            </div>
        </div>
        <div class="row about-us">
            <div class="col-4 p-4">
                <div class="founders-img">
                    <img src="{{ asset('images/user-default.png') }}">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-4 p-4">
                <div class="founders-img">
                    <img src="{{ asset('images/user-default.png') }}">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-4 p-4">
                <div class="founders-img">
                    <img src="{{ asset('images/user-default.png') }}">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
{% endblock %}