{% extends 'ourguest.html.twig' %}

{% block title %}Blogs{% endblock %}

{% block body %}
    <iframe src="https://www.ourguest.in/ourguest-blogs/" style="height: 100vh; width: 100%; border: none"></iframe>
{% endblock %}