{% extends 'ourguest.html.twig' %}

{% block title %}Contact Us{% endblock %}

{% block body %}
    <div class="container contact-page pt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('ourguest_homepage') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
            </ol>
        </nav>
        <h2 class="contact-main-header cursive">Contact Us</h2>
        <div class="pt-4 quote">
            <h3>TRAVELING – IT LEAVES YOU SPEECHLESS, THEN TURNS YOU INTO A STORYTELLER.</h3>
            <span>~ IBN BATTUTA</span>
        </div>
        <div class="insert-bg mt-5">
            <div class="col">
            </div>
            <div class="col-12 col-md-3 ml-auto booking-form form">
                <div id="loader-contact" style='display:none;'><img src="{{ asset('images/loader-dot.gif') }}" width="50"></div>
                <div id="form-resp"></div>
                {{ form_start(contact_form, {'attr': {'id': 'contact-form'}}) }}
                <div id="loader" style='display:none;'><img src="{{ asset('images/loader-dot.gif') }}" width="50"></div>
                <div class="form-group pt-2">
                    {{ form_widget(contact_form.name) }}
                </div>
                <div class="form-group">
                    {{ form_widget(contact_form.email) }}
                </div>
                <div class="form-group">
                    {{ form_widget(contact_form.phone) }}
                </div>
                <div class="form-group">
                    {{ form_widget(contact_form.subject) }}
                </div>
                <div class="form-group">
                    {{ form_widget(contact_form.message) }}
                </div>
                <div class="form-group">
                    {{ form_widget(contact_form.submit) }}
                </div>
                {{ form_end(contact_form) }}
            </div>
        </div>
    </div>
    <div class="container pt-4">
        <div style="width: 100%;position: relative;"><iframe width="100%" height="500" src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=Yangkhor%2C%20below%20Denzong%20Regency%20Hotel%20Upper%2C%20Jeewan%20Theeng%20Marg%2C%20Sungava%2C%20Gangtok%2C%20Sikkim%20+(OurGuest)&amp;ie=UTF8&amp;t=&amp;z=17&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a href="http://www.googlemapsgenerator.com/zh/">Googlemapsgenerator.com/zh/</a> & <a href="https://and-route.com/nl/">auto huren goedkoop</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br />
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $("#contact-form").submit(function (e) {
            e.preventDefault();
            $("#loader-contact").show();
            $.ajax({
                data: $(this).serialize(),
                url: Routing.generate('contact_og'),
                method: 'POST',
                success: function(response) { // on success..
                    $('#loader-contact').hide();
                    $('#form-resp').html('<p class="text-success">Thank You! We\'ll contact you shortly.</p>').hide();
                    $('#form-resp').fadeIn('slow').delay(5000).fadeOut('slow');
                    $("#form-tour")[0].reset();
                },
                error: function() {
                    $('#loader-contact').hide();
                    $('#form-resp').html('<p class="text-danger">Please try again</p>');
                }
            });
            return false; // cancel original event to prevent form submitting
        });
    </script>
{% endblock %}
