<table>
    <tbody>
    <tr>
        <td style="width: 117px;"><strong>Name</strong></td>
        <td style="width: 15px;">:&nbsp;</td>
        <td style="width: 15px;">{{ data.name }}</td>
    </tr>
    <tr>
        <td style="width: 117px;"><strong>Email</strong></td>
        <td style="width: 15px;">:&nbsp;</td>
        <td style="width: 15px;">{{ data.email }}</td>
    </tr>
    <tr>
        <td style="width: 117px;"><strong>Phone No.&nbsp;</strong></td>
        <td style="width: 15px;">&nbsp;:</td>
        <td style="width: 15px;">{{ data.phone }}</td>
    </tr>
    <tr>
        <td style="width: 117px;"><strong>Tour Destination</strong></td>
        <td style="width: 15px;">:&nbsp;</td>
        <td style="width: 15px;">{% for destination in data.tourDestination %}{{ destination }},{% endfor %}</td>
    </tr>
    <tr>
        <td style="width: 117px;"><strong>Tour Duration&nbsp;</strong></td>
        <td style="width: 15px;">&nbsp;:</td>
        <td style="width: 15px;">{{ data.tourDuration }}</td>
    </tr>
    <tr>
        <td style="width: 117px;"><strong>Start Date</strong></td>
        <td style="width: 15px;">&nbsp;:</td>
        <td style="width: 15px;">{{ data.startDate|date('d/m/y') }}</td>
    </tr>
    <tr>
        <td style="width: 117px;"><strong>Guests above 6 yrs.</strong></td>
        <td style="width: 15px;">&nbsp;:</td>
        <td style="width: 15px;">{{ data.adultQuantity }}</td>
    </tr>
    <tr>
        <td style="width: 117px;"><strong>Guests below 6 yrs.</strong></td>
        <td style="width: 15px;">&nbsp;:</td>
        <td style="width: 15px;">{{ data.childQuantity }}</td>
    </tr>
    <tr>
        <td style="width: 117px;"><strong>Message</strong></td>
        <td style="width: 15px;">&nbsp;:</td>
        <td style="width: 15px;">{{ data.message }}</td>
    </tr>
    </tbody>
</table>




