<div class="container customise-form form">
    <div class="row mt-4 ml-1 mr-1 pt-4 pb-3">
        <div class="col-12 col-md-5 p-0">
            <!-- Form Ribbon -->
            <div class="ribbon-wrapper"><div class="glow">&nbsp;</div>
                <div class="ribbon-front">
                    Customise Your Tour
                </div>
                <div class="ribbon-edge-topleft"></div>
                <div class="ribbon-edge-topright"></div>
                <div class="ribbon-edge-bottomleft"></div>
                <div class="ribbon-edge-bottomright"></div>
            </div>
            <p>We can tailor make your tour exactly how you want it. Whether it's tweaking an existing itinerary, booking a standard tour on a different date, or booking your own unique one!</p>
            {#<div class="col-12 d-flex justify-content-center">
                <label for="submit-form"><button type="submit" class="btn btn-primary pl-3"><span>Book Now</span></button></label>
            </div>#}
        </div>
        <!-- Form Section -->
        <div class="col-12 col-md-7 p-0">
            {{ form_start(form_customise, {'attr': {'id': 'customize-form'}}) }}
            <div class="d-md-flex flex-md-column" id="form-area">
                <div id="loader" style='display:none;'><img src="{{ asset('images/loader-dot.gif') }}" width="50"></div>
                <div id="form-resp"></div>
                <div class="d-md-flex flex-md-row flex-md-wrap pb-md-3">
                    <div class="col-md-6 p-0 p-md-2">
                        <div class="form-group">
                            {{ form_widget(form_customise.name) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form_customise.tourDuration) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form_customise.startDate) }}
                        </div>
                        <div class="form-group small__padding-all" id="state-choice__border">
                            <span>{{ form_label(form_customise.tourDestination) }}</span>
                            {{ form_widget(form_customise.tourDestination, {'attr':{'class': 'individual-row-checkboxes'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6 p-0 p-md-2">
                        <div class="form-group">
                            {% set type = type|default('number') %}
                            {{ form_widget(form_customise.adultQuantity) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form_customise.childQuantity) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form_customise.phone) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form_customise.email) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form_customise.message) }}
                        </div>
                    </div>
                    <!-- Submit Button -->
                    <div class="col-sm-12 form-group text-center d-md-flex flex-md-wrap justify-content-md-between p-0">
                        {#<div class="g-recaptcha" data-sitekey="6LfDbbwUAAAAALsidilI2uz_sIvyqA-_ddbIUlRT"></div>#}
                        {{ form_widget(form_customise.submit) }}
                    </div>
                </div>
            </div>
            {{ form_end(form_customise) }}

        </div>
    </div>
</div>