<div class="modal fade" id="faqsModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>FAQs</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="position: absolute; top: 0; right: 10px; font-size: 40px">&times</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div id="faqs-accordion" class="accordion">
                        {% if qa is defined %}
                            {% for val in qa %}
                                <div class="card">
                                    <label for="{{ val.id }}-btn">
                                        <div class="card-header" id="faq_{{ val.id }}">
                                            <button id="{{ val.id }}-btn" class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse_{{ val.id }}" aria-expanded="true" aria-controls="collapse_{{ val.id }}">
                                                <i class="fa fa-plus"></i><h6>{{ val.question }}</h6>
                                            </button>
                                        </div>
                                    </label>
                                    <div id="collapse_{{ val.id }}" class="collapse" aria-labelledby="faq_{{ val.id }}" data-parent="#faqs-accordion">
                                        <div class="card-body">
                                            <div class="faqs-tabs__content">
                                                {{ val.answer }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>