<div id="products-carousel" class="carousel slide" data-ride="carousel" data-interval="false">

    <!-- The Slider -->
    <div class="carousel-inner">
        {% if detail is defined %}
            {% for var in detail %}
                <div class="carousel-item">
                    <div class="row m-0" id="carousel-row">
                        <div class="inner-box-carousel">
                            <div class="featured-img">
                                <img src="{{ asset('images/uploads/'~ var.featImage) }}">
                            </div>
                            <div class="caption1 pt-2 mb-3">
                                <h3 class="cursive">{{ var.title }}</h3>
                                <h5>{{ var.duration - 1 }}N/{{ var.duration }}D in {{ var.state }}</h5>
                                <h5><strong class="pr-4">EXPLORE</strong><a href="{{ path('tour_template', {'slug': var.slug}) }}" class="btn btn-primary" target="_blank">Book Now</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <!-- Left and Right Controls -->
    <a class="carousel-control-prev" href="#products-carousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#products-carousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

