{% extends 'ourguest.html.twig' %}

{% block title %}OurGuest{% endblock %}

{% block body %}
    <!-- Banner Container -->
    <div class="container p-0" id="main-banner">

        {{ render(controller('OurguestBundle:Default:featuredTours')) }}
    </div>
    <!-- Main Container -->
    <div class="container mt-3 mt-sm-3 padding-bottom">

        <!-- Primary Action Areas -->
        <div class="row product-row">
            <!-- Tours -->
            <div class="col-sm product-link__main">
                <a href="{{ path('customisable_tours_main') }}" class="product-link">
                    <div class="inner-box">
                        <div class="featured-img">
                            {% if feat_tour %}
                                <img src="{{ asset('images/uploads/'~ feat_tour[0]['featimage']) }}">
                            {% endif %}
                        </div>
                        <div class="caption1 mt-3 text-center">
                            <h4 class="cursive">Customisable Tours</h4>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Experiences -->
            <div class="col-sm product-link__main">
                <a href="{{ path('experiences_main') }}" class="product-link">
                    <div class="inner-box">
                        <div class="featured-img">
                            {% if feat_experience %}
                                <img src="{{ asset('images/uploads/'~ feat_experience[0]['featimage']) }}">
                            {% endif %}
                        </div>
                        <div class="caption1 mt-3 text-center">
                            <h4 class="cursive">Customise your Experience</h4>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Homestays -->
            <div class="col-sm product-link__main">
                <a href="{{ path('homestays_main') }}" class="product-link">
                    <div class="inner-box">
                        <div class="featured-img">
                            {% if feat_homestay %}
                                <img src="{{ asset('images/uploads/'~ feat_homestay[0]['featimage']) }}">
                            {% endif %}
                        </div>
                        <div class="caption1 mt-3 text-center">
                            <h4 class="cursive">Book our Homestays</h4>
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <div id="why-us-container" class="padding-top padding-bottom">
            <h3 class="text-center cursive">Why Be OurGuest?</h3>
            <div class="why-us mt-5">
                <div class="row info-row">
                    <div class="col-sm col-md-4 d-flex flex-row">
                        <div class="info-icons col-2 p-0">
                            <img src="{{ asset('images/info-customise-itinerary.png') }}">
                        </div>
                        <div class="col col-10 pl-1">
                            <h5 class="pt-1 pb-2 m-0 cursive">Customized Itinerary</h5>
                            <p>No more packaged tours. Your tour, your itinerary</p>
                        </div>
                    </div>
                    <div class="col-sm col-md-4 d-flex flex-row border-sides">
                        <div class="info-icons col-2 p-0">
                            <img src="{{ asset('images/info-destinations.png') }}">
                        </div>
                        <div class="col-10 pl-1">
                            <h5 class="pt-1 pb-2 m-0 cursive">Unique Offbeat Destinations</h5>
                            <p>You will not find them elsewhere. We search and we curate them for you</p>
                        </div>
                    </div>
                    <div class="col-sm col-md-4 d-flex flex-row">
                        <div class="info-icons col-2 p-0">
                            <img src="{{ asset('images/info-support.png') }}">
                        </div>
                        <div class="col-10 pl-1">
                            <h5 class="pb-2 m-0 cursive">24x7 Local Operations Support</h5>
                            <p>We take great care to ensure you have the perfect tour</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-4 about-us">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <p class="text-center">OurGuest is a travel company based out of Sikkim which aggregates unique homestays, farmstays and retreats in Sikkim & NorthEast India and provides exciting and customizable tour packages around them. Travel with OurGuest for a unique and exciting holiday to the Undiscovered NorthEast.</p>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>


        <!-- Testimonials -->
        <div class="row padding-top">
            <div class="col-sm-7 testimonials">
                <h3 class="cursive">Testimonials</h3>
                <div class="testimonial-content">
                    <div id="TA_selfserveprop640" class="TA_selfserveprop">
                        <ul id="iXErr94US" class="TA_links NaLJ4u">
                            <li id="Q1lKGPeSVIh" class="nnHNQQWc">
                                <a target="_blank" href="https://www.tripadvisor.com/"><img src="https://www.tripadvisor.com/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Festured Video -->
            <div class="col-sm">
                <div class="featured-video padding-bottom">
                    <h3 class="cursive">Featured Video</h3>
                    <div class="embed-responsive embed-responsive-16by9 mt-4">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/YObRnbc5lIY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script async src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=640&amp;locationId=16869607&amp;lang=en_US&amp;rating=true&amp;nreviews=5&amp;writereviewlink=true&amp;popIdx=true&amp;iswide=false&amp;border=true&amp;display_version=2" data-loadtrk onload="this.loadtrk=true"></script>
{% endblock %}