<!-- Navigation bar for Tabs | Used in Homestays, Tour & Experiences' Tab Content -->
<div class="tab col-12 small__padding-top" id="state-navbar">
    <ul class="nav nav-tabs nav-justified">
        {% if detail is defined %}
            {% for val in detail %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#state_{{ val.id }}" data-id="{{ val.id }}">{{ val.name }}</a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</div>