<header role="banner" class="top-bar">
    <div class="container hidden-xs">
        <div class="row mr-1 ml-1"  style="border-bottom: thin solid rgba(230, 230, 230,0.3);">
            <div class="col-12 contact-info d-flex justify-content-between">
                <div class="phone-info">
                    <i class="fa fa-phone"></i>
                    <h6 style="display: inline-block">For Queries and Custom Packages | Call or Whatsapp : +91 &nbsp;8765443656 | Email : contact@ourguest.in</h6>
                </div>
                <div class="social-button-links">
                    <a href="https://www.facebook.com/ourguestdiary/" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/ourguestdiary/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCLMiLjV0I8nUeTc95-U5uoA/videos" target="_blank"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://twitter.com/OurGuest_travel" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-sm" id="navbarMenu">
        <div class="container">
            <a class="navbar-brand site-logo mr-xl-auto pr-xl-0" href="{{ path('ourguest_homepage') }}">
                <img src="{{ asset('images/og-green-logo.png') }}">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="col-sm-9 col-xl-9 ml-xl-auto p-0">
                <div class="collapse navbar-collapse p-0" id="collapsibleNavbar">
                    <div class="navbar-nav col-xl-12 d-flex justify-content-between p-0 cursive">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Destinations</a>
                            <div class="dropdown-menu">
                                {% if detail is defined %}
                                    {% for val in detail %}
                                        <a class="dropdown-item" href="{{ path('location_page_main', {'slug': val.slug}) }}">{{ val.name }}</a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Tours</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('customisable_tours_main') }}">Customisable Tours</a>
                                <a class="dropdown-item" href="{{ path('fixed_departures_main') }}">Fixed Departures</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('homestays_main') }}">Homestays</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('experiences_main') }}">Experiences</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Explore</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#faqsModal">FAQs</a>
                                <a class="dropdown-item" href="{{ path('travel_advisory') }}">Travel Advisory</a>
                            </div>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ path('contact_og') }}">Contact</a>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
