<!-- This needs to be dynamic. Tab Content -->
{% if detail is defined %}
    {% for val in detail %}
        <div class="carousel-item">
            {% if val.slug is defined %}
                <a href="{{ path(val.route, {'slug': val.slug}) }}" id="{{ val.id }}" class="col-{{ val.colNum }}" target="_blank">
                    <div class="inner-box">
                        <div class="featured-img">
                            <img src="{{ asset('images/uploads/'~ val.featimg) }}">
                        </div>
                    </div>
                    <div class="details-section small__padding-top">
                        <div class="name-location d-flex flex-row justify-content-between">
                            <h5>{{ val.name }}</h5>
                            {% if val.location is defined %}
                                <ul class="list-block list-block--tabs">
                                    <li>
                                        <span>{{ val.location }}</span>
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                        {% if val.rate != 0 %}
                            <span><i class="fa fa-rupee"></i>{{ val.rate }} per night</span>
                        {% elseif val.rate == 0 %}

                        {% else %}
                            <span><i class="fa fa-rupee"></i>per person</span>
                        {% endif %}
                    </div>
                </a>
            {% else %}
                <a href="javascript:void(0)" id="{{ val.id }}" class="experience-popup col-{{ val.colNum }}">
                    <div class="inner-box">
                        <div class="featured-img">
                            <img src="{{ asset('images/uploads/'~ val.featimg) }}">
                        </div>
                    </div>
                    <div class="details-section small__padding-top">
                        <div class="name-location">
                            <h5>{{ val.name }}</h5>
                        </div>
                    </div>
                </a>
            {% endif %}

        </div>
    {% endfor %}
{% endif %}



