<table>
    <tbody>
    <tr>
        <td style="width: 117px;"><strong>Email</strong></td>
        <td style="width: 15px;">:&nbsp;</td>
        <td style="width: 15px;">{{ data.email }}</td>
    </tr>
    </tbody>
</table>




