<div class="d-flex flex-column">
    <div id="loader-newsletter" style='display:none;'><img src="{{ asset('images/loader-dot.gif') }}" width="50"></div>
    <div id="form-resp"></div>
    {{ form_start(form_newsletter, {'attr':{'id': 'form-newsletter'}}) }}
    <div class="form-group d-flex flex-row">
        {{ form_widget(form_newsletter.email) }}
        {{ form_widget(form_newsletter.submit) }}
    </div>
    {{ form_end(form_newsletter) }}
</div>