{# Displays FAQs and Suggesstions #}
{% extends 'admin.html.twig' %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span>OurGuest Settings</h2>
    </div>

    <div class="page-content-wrap">
        <div class="row">
            <div class="col-lg-12">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ render(controller('OurguestBundle:Faqs:index')) }}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ render(controller('OurguestBundle:Suggested:index')) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}