{% for review in reviews if review.status == 1 %}
    <div class="reviews__items padding-bottom">
        <div id="comment-" class="reviews__items margin-left margin-right">
            <div class="reviews__item__container d-md-flex flex-md-row">
                <div class="reviews__item__info col-md-2">
                    <img src="{{ asset('images/user-default.png') }}">
                    <div class="reviews__item__name">
                        <h6 class="m-0">{{ review.name }}</h6>
                    </div>
                </div>
                <div class="reviews__item__content col-md-10">
                    <div class="reviews__item__content__top">
                        <div class="reviews__item__rating">
                            {{ review.rating|rating }}
                        </div>
                    </div>
                    <div class="reviews__item__comment">
                        <p>{{ review.comment }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

