<div id="leave-review" class="reviews__form padding-top">
    <h3 class="reviews__form__title">Leave a Review</h3>
    {{ form_start(form_review) }}
    <div id="respond" class="comment-respond">
        <div id="rating-title" class="comment-rating-title d-flex flex-row small__padding-bottom">
            {{ form_label(form_review.rating) }}
            {{ form_widget(form_review.rating) }}
        </div>
        <div class="reviews__form form">
            <div class="form-group">
                {{ form_widget(form_review.comment,{'attr':{'placeholder': 'Comment'}}) }}
            </div>
            <div class="form-group">
                {{ form_widget(form_review.name, {'attr':{'placeholder': 'Name'}}) }}
            </div>
            <div class="form-group">
                {{ form_widget(form_review.email, {'attr':{'placeholder': 'Email'}}) }}
            </div>
            <div class="review-submit">
                {{ form_widget(form_review.submit) }}
            </div>
        </div>
    </div>
    {{ form_end(form_review) }}
</div>