<!-- Products we want to sell -->
<div class="container mt-4 mb-4 padding-top padding-bottom">
    <h3 class="cursive">Our Picks</h3>
    <div class="row m-0 pt-4 suggestions">
        {% if upcoming_fd is defined %}
            {% for val in upcoming_fd %}
                <div class="col-sm pl-md-0 pr-md-3">
                    <a href="{{ path('tour_template', {'slug': val.slug}) }}" target="_blank">
                        <div class="inner-box">
                            <div class="featured-img">
                                <img src="{{ asset('images/uploads/'~ val.featimage) }}">
                            </div>
                            <div class="layer-upper d-flex align-items-start flex-column">
                                <div class="banner mb-auto mt-3">
                                    <span class="cursive">Upcoming Tour</span>
                                </div>
                                <div class="caption2 mb-3 text-center">
                                    <span>{{ val.name }}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
        {% if suggested is defined %}
            {% for val in suggested %}
                <div class="col-sm pt-5 pt-md-0 pl-md-2 pr-md-2">
                    <a href="{{ path('tour_template', {'slug': val.tour.slug}) }}" target="_blank">
                        <div class="inner-box">
                            <div class="featured-img">
                                <img src="{{ asset('images/uploads/'~ val.tour.featimage) }}">
                            </div>
                            <div class="layer-upper d-flex align-items-start flex-column">
                                <div class="banner mb-auto mt-3">
                                    <span class="cursive">Recommended Tour</span>
                                </div>
                                <div class="caption2 mb-3 text-center">
                                    <span>{{ val.tour.name }}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm pt-5 pt-md-0 pl-md-3 pr-md-0">
                    <a href="{{ path('homestay_template', {'slug': val.homestay.slug}) }}" target="_blank">
                        <div class="inner-box">
                            <div class="featured-img">
                                <img src="{{ asset('images/uploads/'~ val.homestay.featimage) }}">
                            </div>
                            <div class="layer-upper d-flex align-items-start flex-column">
                                <div class="banner mb-auto mt-3">
                                    <span class="cursive">Recommended Homestay</span>
                                </div>
                                <div class="caption2 mb-3 text-center">
                                    <span>{{ val.homestay.name }}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>