{% extends 'ourguest.html.twig' %}

{% block title %}Travel Advisory{% endblock %}

{% block body %}
    <div class="container pt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('ourguest_homepage') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Travel Advisory</li>
            </ol>
        </nav>
        <h2 class="cursive pt-3">Travel Advisory</h2>

        <div class="row pt-3">
            <div class="col-12 col-sm-6">
                <h4>Seasons For Travel</h4>
                <div id="seasons-accordion" class="pt-3 accordion">
                    <div class="card">
                        <label for="header-spring-btn">
                            <div class="card-header" id="header-spring">
                                <button id="header-spring-btn" class="btn btn-default" type="button" data-toggle="collapse" data-target="#body-spring" aria-expanded="false" aria-controls="body-spring">
                                    <i class="fa fa-plus"></i><h6>Spring</h6>
                                </button>
                            </div>
                        </label>
                        <div id="body-spring" class="collapse" aria-labelledby="header-spring" data-parent="#seasons-accordion">
                            <div class="card-body">
                                <p>The Months of March to May will have a mix of the retreating winter and onset of summer. Hence we are looking at cooler mornings and evenings of about 10 degrees centigrade and day temperatures of about 15-18 degrees. Of course sunny days will be warmer.
                                </p>
                                <hr>
                                <h6>Clothing: </h6><p>Warm cardigans with a light jacket windproof or even waterproof is great. Comfortable shoes always recommended.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <label for="header-summer-btn">
                            <div class="card-header" id="header-summer">
                                <button id="header-summer-btn" class="btn btn-default" type="button" data-toggle="collapse" data-target="#body-summer" aria-expanded="false" aria-controls="body-summer">
                                    <i class="fa fa-plus"></i><h6>Summer</h6>
                                </button>
                            </div>
                        </label>
                        <div id="body-summer" class="collapse" aria-labelledby="body-summer" data-parent="#seasons-accordion">
                            <div class="card-body">
                                <p>The Months of June to November will be warmer and more pleasant throughout Sikkim. The higher areas above 9000 ft will of course still be cooler at about 15 degrees. One can expect the other lower regions to be in the range of 20-25 degrees centigrade.</p>
                                <hr>
                                <h6>Clothing: </h6><p>A light cardigan for morning and evenings. Comfortable walking shoes and a rain jacket/umbrella if possible.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <label for="header-winter-btn">
                            <div class="card-header" id="header-winter">
                                <button id="header-winter-btn" class="btn btn-default" type="button" data-toggle="collapse" data-target="#body-winter" aria-expanded="false" aria-controls="body-winter">
                                    <i class="fa fa-plus"></i><h6>Winter</h6>
                                </button>
                            </div>
                        </label>
                        <div id="body-winter" class="collapse" aria-labelledby="header-winter" data-parent="#seasons-accordion">
                            <div class="card-body">
                                <p>The Months of December to February taken as the winter period will be considerably colder especially December end through to January. The areas under 9000 ft would be in the range of 5-10 degrees centigrade and higher altitudes in north sikkim could be in the negative.</p>
                                <hr>
                                <h6>Clothing: </h6><p>Warm Cardigans and warm jackets are a must. Caps/Beanies are also recommended with gloves. Comfortable walking shoes. Rain are usually not much of an issue in these months.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pt-5">
                    <h4>When in Sikkim</h4>
                    <div class="pt-3">
                        <h5>Do's</h5>
                        <ul>
                            <li>Live with locals and experience indigenous culture</li>
                            <li>Try Local Food (especially the alcohol :) )</li>
                            <li>Guided Village Walks</li>
                            <li>Bird watching ag one of our National Parks</li>
                        </ul>

                        <h5>Don'ts</h5>
                        <ul>
                            <li>Litter... leave nothing but foodprints behind!</li>
                            <li>Public defecation is a strict no in Sikkim</li>
                            <li>Smoking in public is a punishable offence</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 pt-5 pt-sm-0">
                <h4>Permits(PAP & RAP)</h4>
                <p><i>Protected Area Permits & Restricted Area Permits</i></p>

                <strong><p>The Sikkim Police Checkpost issues these on the day of departure ONLY and a Sikkim tourism permit is applied for a day in advance. These both will be required to gain access to these areas. 
                    </p></strong>
                <div class="pt-3">
                    <h5>For Domestic Tourists</h5>
                    <p>The areas of North Sikkim (Lachung,Yumthang,Zero Point, Lachen,Thangu and gurudongmar and Dzongu) all lie within this area hence permits are required for Domestic Tourists . Permits are issued for a term of 5 days at a stretch ONLY. The Sikkim Police Checkpost issues these on the day of departure ONLY and documents required are below:</p>
                    <ol>
                        <li>Passport size photos (minimum 4 per traveller)</li>
                        <li>Photo Identity like Aadhar Photocopies (6 per traveller)</li>
                    </ol>
                </div>
                <div class="pt-3">
                    <h5>For Foreign Tourists</h5>
                    <p>Foreigners are allowed to the above places on condition that all documents as stated below are in order:</p>
                    <ol>
                        <li>Valid Passport of Country of Origin.</li>
                        <li>Valid Indian Visa</li>
                        <li>Passport size photos (35X45mm)</li>
                        <li>RAP/PAP permits</li>
                        <li>As per government directives, it is compulsory to have a local guide/escort for foreigners visiting a restricted or a protected area</li>
                    </ol>
                    <p><i>The Inner Line Permit is issued at any Indian Mission abroad or at the Sikkim border. These are called the Inner Line Permit and are valid for a period of 15 days at a stretch.</i></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}