{% extends 'admin.html.twig' %}

{% block title %}FAQs{% endblock %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> FAQs</h2>
    </div>

    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_start(faq_form) }}
                        <strong>Add or Edit Content</strong><br><br>
                        <div>
                            <div class="form-wrapper" cellspacing="15">
                                <div class="control-group">
                                    {{ form_label(faq_form.title) }}
                                    <div class="controls">
                                        {{ form_widget(faq_form.title, {'attr':{'class': 'form-control input-lg'}}) }}
                                        <p></p>
                                    </div>
                                    {{ form_errors(faq_form.title) }}
                                </div>
                                <div id="faqs" data-prototype="{% filter escape %}{% include 'ourguest/faqs/Prototype/faqs-single.html.twig' with {'val': faq_form.questionAnswer.vars.prototype} %}{% endfilter %}">
                                    <div class="faqs" >
                                        <ul class="clearfix" style="list-style:none; margin: 0; padding: 0">

                                            {% for val in faq_form.questionAnswer %}
                                                <li style="list-style: none; margin:10px 5px; border-radius:5px; width:100%; border: 1px solid #dbdbdb; padding:10px;float: left; display: inline-block">

                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <strong>Question</strong>
                                                            {{ form_errors(val.question) }}
                                                            {{ form_widget(val.question, {'attr':{'class': 'form-control'}}) }}
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <strong>Answer</strong>
                                                            {{ form_errors(val.answer) }}
                                                            {{ form_widget(val.answer, {'attr':{'class': 'form-control'}}) }}
                                                        </div>
                                                    </div>


                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <p>&nbsp;</p>
                                        <button name="faqs" class="add_faqs black x-small btn btn-sm btn-default"  id="1"> <i class="fa  fa-plus-circle"></i> Add new FAQs</button>
                                        <p>&nbsp;</p>
                                    </div>
                                </div>

                            </div>
                            {#<table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Sl. No.</th>
                                    <th>Question</th>
                                    <th>Answer</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for val in faqs %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ val.question }}</td>
                                        <td>{{ val.answer }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>#}
                            {#<div class="accordion" id="faqs-accordion">
                                {% for val in faqs %}
                                    <div class="card">
                                        <div class="card-header" id="question_{{ val.id }}">
                                            <h2>
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="collapseAnswer_{{ val.id }}" aria-expanded="false" aria-controls="collapseAnswer_{{ val.id }}">
                                                    {{ val.question }}
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseAnswer_{{ val.id }}" class="collapse show" aria-labelledby="question_{{ val.id }}" data-parent="#faqs-accordion">
                                            <div class="card-body">
                                                {{ val.question }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>#}

                            <input type="submit" value="Update" class="btn btn-sm btn-success"/>
                        </div>
                        {{ form_end(faq_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function addBlockForm($collectionHolder, grid, that) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            // get the new index
            var index = $collectionHolder.data('index');
            console.log($collectionHolder);
            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);
            newForm = newForm.replace(/__val__/g, index+1);
            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            switch(grid){
                case '1' : that.parent().find('ul').append(newForm);
                    removeBlock(grid);
                    break;
                //
                //default : // Display the form in the page in an li, before the "Add a tag" link li
                //    var $newBlock = $('<div class="wrapper-inner float"></div>').append(newForm);
                //    $collectionHolder.append($newBlock);
            }
        }

        function removeBlock(grid){
            switch(grid) {
                case '1' :
                    $('.remove_block').on('click', function (e) {
                        e.preventDefault();
                        $(this).parent().remove();
                    });
                    break;
            }
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#" class="remove_block" style="color:#111; float: right"><i class="glyphicon glyphicon-remove"></i></a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }

        $(document).ready(function() {
            var collectionHolder,
                grid ;

            // add a delete link to all of the existing tag form li elements
            $('.form-wrapper').find('.gallery li').each(function() {
                addTagFormDeleteLink($(this));
            });

            $('.add_block').on('click', function(e) {
                e.preventDefault();
                // Get the fieldset that holds the collection of blocks
                collectionHolder = $('#' + this.name);

                grid = $(this).attr('id');
                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)

                collectionHolder.data('index', collectionHolder.find('.gallery ul li').length);
                // add a new tag form (see next code block)
                addBlockForm(collectionHolder, grid, $(this));
            });


            // add a delete link to all of the existing tag form li elements
            $('.form-wrapper').find('.faqs li').each(function() {
                addTagFormDeleteLink($(this));
            });

            $('.add_faqs').on('click', function(e) {
                e.preventDefault();
                // Get the fieldset that holds the collection of blocks
                collectionHolder = $('#' + this.name);

                grid = $(this).attr('id');
                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)

                collectionHolder.data('index', collectionHolder.find('.faqs ul li').length);
                // add a new tag form (see next code block)
                addBlockForm(collectionHolder, grid, $(this));
            });

        });

        $('.individual-row-checkboxes label').after('<br>');
    </script>
{% endblock %}