{% if faqs_id != 0 %}
    <div>
        {#<table class="table table-striped">
            <thead>
            <tr>
                <th>Sl. No.</th>
                <th>Question</th>
                <th>Answer</th>
            </tr>
            </thead>
            <tbody>
            {% for val in faqs %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ val.question }}</td>
                    <td>{{ val.answer }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>#}
        <div id="faqs-accordion" class="d-flex flex-column">
            {% for val in qa %}
                <div class="card col-md-12">
                    <div class="card-header" id="question_{{ val.id }}">
                        <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseAnswer_{{ val.id }}" aria-expanded="false" aria-controls="collapseAnswer_{{ val.id }}">
                            <h5>{{ val.question }}</h5>
                        </button>
                    </div>
                    <div id="collapseAnswer_{{ val.id }}" class="collapse col-md-6" aria-labelledby="question_{{ val.id }}" data-parent="#faqs-accordion">
                        <div class="card-body" style="padding: 10px 0">
                            {{ val.answer }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-12" style="padding-top: 20px">
        <a href="{{ path('faqs_edit', {'id': faqs_id}) }}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i>Update FAQs</a>
    </div>
{% else %}
    <div class="col-md-12" style="padding-top: 20px">
        <a href="{{ path('faqs_new') }}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i>Initialize FAQs</a>
    </div>
{% endif %}