<!-- Displays Experiences in a horizontal scroll container. Needs to be dynamic -->
<div class="horizontal-scroll-wrapper">
    {% if detail is defined %}
        {% for val in detail %}
            <div class="p-1 col-md-4 horizontal-scroll-element">
                <a href="#" id="{{ val.id }}" class="experience-popup">
                    <div class="inner-box d-flex align-items-end">
                        <div class="caption1 mb-3 text-center">
                            <span>{{ val.name }}</span>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    {% endif %}
</div>
