{% extends 'ourguest.html.twig' %}

{% block title %}
    {% if page_title is defined %}
        {{ page_title }}
    {% endif %}
{% endblock %}

{% block body %}
    <!-- Page displayed when customers make a selection in Destination in Main Navigation Bar -->
    <div class="container pt-3">
        {% if detail is defined %}
            {% for val in detail %}
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('ourguest_homepage') }}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ val.name }}</li>
                    </ol>
                </nav>
                <h2 class="cursive state-id" id="{{ val.id }}">{{ val.name }}</h2>

                    <div class="row state-carousel">
                        <div class="col-12 carousel-padding">
                            <h3 class="pl-3 cursive">Tours</h3>
                            <div class="content-section d-flex flex-wrap">
                                {{ render(controller('OurguestBundle:States:toursRetrieve', {'id': val.id|slice(6)})) }}
                            </div>
                            <div class="col-12 text-center">
                                {#<div class="loader" style='display:none;'><img src="{{ asset('images/loader-dot.gif') }}" width="50"></div>#}
                                <button id="tours" class="btn__load-more location"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>

                        <div class="col-12 carousel-padding">
                            <h3 class="pl-3 cursive">Experiences</h3>
                            <div class="content-section d-flex flex-wrap">
                                {{ render(controller('OurguestBundle:States:experiencesRetrieve', {'id': val.id|slice(6)})) }}
                            </div>
                            <div class="col-12 text-center">
                                {#<div class="loader" style='display:none;'><img src="{{ asset('images/loader-dot.gif') }}" width="50"></div>#}
                                <button id="experiences" class="btn__load-more location"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>

                        <div class="col-12 carousel-padding">
                            <h3 class="pl-3 cursive">Homestays</h3>
                            <div class="content-section d-flex flex-wrap">
                                {{ render(controller('OurguestBundle:States:homestaysRetrieve', {'id': val.id|slice(6)})) }}
                            </div>
                            <div class="col-12 text-center">
                                {#<div class="loader" style='display:none;'><img src="{{ asset('images/loader-dot.gif') }}" width="50"></div>#}
                                <button id="homestays" class="btn__load-more location"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}