<!-- Displays Tours in horizontal scroll container. Needs to be dynamic -->
<div class="horizontal-scroll-wrapper">
    {% if detail is defined %}
        {% for val in detail %}
            <div class="p-1 col-9 col-md-4 horizontal-scroll-element">
                <a href="{{ path('tour_template', {'id': val.id}) }}" id="{{ val.id }}" target="_blank">
                    <div class="inner-box d-flex align-items-end">
                        <div class="caption1 mb-3 text-center">
                            <span>{{ val.name }}</span>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    {% endif %}
</div>


