
<li>

    <div class="col-lg-1"><strong> __val__</strong></div>
    <div class="col-lg-7">
        {{ form_errors(val.file) }}
        {{ form_widget(val.file) }}
        <p></p>
        {{ form_errors(val.alt_text) }}
        {{ form_widget(val.alt_text) }}
    </div>
    <span class="remove_block" style="position: absolute; top: -10px; right: -3px; font-size: 20px; cursor: pointer;">&times;</span>

</li>