<!-- Tour Booking Form -->
<div id="form-resp"></div>
<div id="loader" style='display:none;'><img src="{{ asset('images/loader-dot.gif') }}" width="50"></div>
{{ form_start(form_tour,{'attr':{'id':'form-tour'}}) }}
<div class="form-group">
    {{ form_widget(form_tour.name) }}
</div>
<div>
    {% set tourName ='' %}
    {% if tour is defined %}
        {% set tourName =  tour.name %}
    {% endif %}
    {{ form_widget(form_tour.tourName,{'attr':{'value':tourName}}) }}
</div>

{% if tour.tourType == 0 %}
    <div class="form-group">
        {{ form_widget(form_tour.tourDuration) }}
    </div>
    <div class="dates">
        <div class="form-group">
            {{ form_widget(form_tour.startDate) }}
        </div>
    </div>
{% else %}
    {% set tourDuration = tour.noOfDays %}
    {% set startDate = tour.startDate|date('d/m/y') %}
    <div class="form-group">
        {{ form_widget(form_tour.tourDuration, {'attr':{'value': tourDuration, 'hidden': true}}) }}
    </div>
    <div class="dates">
        <div class="form-group">
            {{ form_widget(form_tour.startDate, {'attr':{'value': startDate, 'hidden': true}}) }}
        </div>
    </div>
{% endif %}

<div class="form-group">
    {{ form_widget(form_tour.adultQuantity) }}
</div>
<div class="form-group">
    {{ form_widget(form_tour.childQuantity) }}
</div>
<div class="form-group">
    {{ form_widget(form_tour.phone) }}
    <span class="text-danger">{{ form_errors(form_tour.phone) }}</span>
</div>
<div class="form-group">
    {{ form_widget(form_tour.email) }}
    <span class="text-danger    ">{{ form_errors(form_tour.email) }}</span>
</div>
<div class="form-group">
    {{ form_widget(form_tour.message) }}
</div>
{#<div class="form-group">
    <div class="g-recaptcha" data-sitekey="6LfDbbwUAAAAALsidilI2uz_sIvyqA-_ddbIUlRT"></div>
</div>#}
<div class="d-flex justify-content-center">
    {{ form_widget(form_tour.submit) }}
</div>
{{ form_end(form_tour) }}
