{% extends 'ourguest.html.twig' %}

{% block title %}Fixed Departures | OurGuest{% endblock %}

{% block body %}
    <div class="container pt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('ourguest_homepage') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Packaged Tours</li>
            </ol>
        </nav>
        <h2 class="tours-main-header cursive">Fixed Departures</h2>
        <div class="row">

            <!-- Tab Content -->
            <div class="tab-content col-12 padding-top" id="primary-tab-content">
                <div class="container tab-pane fade p-0">
                    <div class="outer-content-holder d-flex flex-wrap">
                        {{ render(controller('OurguestBundle:Tours:tabContentFixedDeparture')) }}
                    </div>
                </div>

                <div class="col-12 text-center">
                    <div id="loader1" style='display:none;'><img src="{{ asset('images/loader-dot.gif') }}" width="50"></div>
                    <button class="btn__load-more tours"><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Customise Tour Form -->
    {#{% include 'ourguest/default/customise-form.html.twig' %}#}
    {{ render(controller('OurguestBundle:Default:customizeTourForm')) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>

        $(".btn__load-more.tours").on('click', function () {
            loadMoreTours($(this));
        });

        function loadMoreTours(button) {
            var appendHere = $("#primary-tab-content div.outer-content-holder");

            var toursCount = appendHere.find('div.content-holder').length;

            var url = Routing.generate('load_more_fixed_departures');

            $("#loader1").show();
            $.ajax({
                url: url,
                data:{
                    itemCount: toursCount
                },
                method: 'POST',
                success: function (data) {
                    setTimeout(function () {
                        console.log(data);
                        $("#loader1").hide();
                        if (!$.trim(data))
                        {
                            button.append('<div class="msg col-12 text-center">That\'s it for now! More on the way</div>').find('.msg').delay(5000).fadeOut('slow');;
                        }
                        else {
                            appendHere.append(data);
                        }
                    }, 1000);
                },
                error: function (e) {
                    $("#loader1").hide();
                    alert('Error Loading Data');
                }

            });
        }

    </script>
{% endblock %}
