{% extends 'ourguest.html.twig' %}

{% block meta %}
    <meta name="description" content="{{ tour.tourOverview|slice(0, 255) }}">
    <meta name="keywords" content="{{ tour.keywords }}">
{% endblock %}

{% block title %}
    {% if page_title is defined %}
        {{ page_title }}
    {% endif %}
{% endblock %}

{% block body %}

    {% if tour is defined %}
        <div class="tour-header tour-header__with-banner">
            <div class="container pt-3">
                <nav class="hidden-xs" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('ourguest_homepage') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('customisable_tours_main') }}">Customisable Tours</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ tour.name }}</li>
                    </ol>
                </nav>
                <a class="visible-xs" href="{{ path('customisable_tours_main') }}"><i class="fa fa-arrow-left black pb-3"></i></a>
                <div class="tour-images main-images">
                    {#<div class="hidden-md">
                    </div>#}
                    <div class="row">
                        <div class="carousel visible-xs slide" id="tourImagesCarouselMobile" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item">
                                    <div class="col-md-4">
                                        <div class="inner-box">
                                            <div class="featured-img">
                                                <img src="{{ asset('images/uploads/'~ tour.featimage) }}" alt="{{ tour.altText }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% for image in tour.itinerary %}
                                    <div class="carousel-item">
                                        <div class="col-md-4">
                                            <div class="inner-box">
                                                <div class="featured-img">
                                                    <img src="{{ asset('images/uploads/tour/'~ image.path) }}" alt="{{ image.altText }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#tourImagesCarouselMobile" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#tourImagesCarouselMobile" role="button" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>

                    <div class="carousel multi-item-carousel hidden-xs slide" id="tourImagesCarousel" data-ride="carousel" data-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item">
                                <div class="col-md-4">
                                    <div class="inner-box">
                                        <div class="featured-img">
                                            <img src="{{ asset('images/uploads/'~ tour.featimage) }}" alt="{{ tour.altText }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% for image in tour.image %}
                                <div class="carousel-item">
                                    <div class="col-md-4">
                                        <div class="inner-box">
                                            <div class="featured-img">
                                                <img src="{{ asset('images/uploads/tour/'~ image.path) }}" alt="{{ image.altText }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#tourImagesCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#tourImagesCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
                <div class="header-section__content pt-md-2">
                    <div class="d-flex flex-row justify-content-between justify-content-sm-start">
                        <h2 class="header-section__title m-md-0" data-slug="{{ tour.slug }}">{{ tour.name }}</h2>
                        <ul class="list-block list-block--tabs">
                            <li>
                                <span>{{ tour.noOfDays }}D/{{ tour.noOfDays - 1 }}N</span>
                            </li>
                        </ul>
                    </div>
                    <div class="header-section__rating mb-md-3">
                        <a class="header-section__rating__link d-flex flex-row" href="#comments">
                            {% set reviewsCount = 0 %}
                            {% set totalRatings = 0 %}
                            {% set avgRating = 0 %}
                            {% for review in tour.review if review.status == 1 %}
                                {% set reviewsCount = reviewsCount + 1 %}
                                {% set totalRatings = review.rating %}
                            {% endfor %}
                            {% if reviewsCount > 0 %}
                                {% set avgRating = totalRatings/reviewsCount %}
                            {% endif %}
                            {{ avgRating|rating }}
                            {% if reviewsCount != 1 %}
                                <span>({{ reviewsCount }} reviews)</span>
                            {% else %}
                                <span>({{ reviewsCount }} review)</span>
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container layout-container">
            <div class="row tour-single">
                <main class="col-lg-9 col-sm-12" role="main">
                    <div class="tab tour-tabs hidden-xs">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#description" data-toggle="tab" aria-expanded="false">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#itinerary" data-toggle="tab" aria-expanded="false">Itinerary</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#properties" data-toggle="tab" aria-expanded="false">Accommodations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#experiences" data-toggle="tab" aria-expanded="false">Experiences</a>
                            </li>
                        </ul>
                    </div>
                    <div class="hidden-768 accordion__single-page" id="tour-accordian">
                        <div class="card">
                            <div class="card-header" id="titleDescription">
                                <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseDescription" aria-expanded="true" aria-controls="collapseDescription">
                                    <i class="fa fa-plus"></i><h6 class="m-0">Description</h6>
                                </button>
                            </div>
                            <div id="collapseDescription" class="collapse show" aria-labelledby="titleDescription" data-parent="#tour-accordian">
                                <div class="card-body">
                                    <div class="tour-tabs__content">
                                        <ul class="tour-category-list list-block list-block--tour-tabs">
                                            <li>
                                                <a href="#" role="button">{{ tour.state.name }}</a>
                                            </li>
                                            <li>
                                                <a href="#" role="button">{{ tour.tourType }}</a>
                                            </li>
                                        </ul>
                                        <p>{{ tour.tourOverview|raw }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="titleItinerary">
                                <button class="btn btn-default collapsed" type="button" data-toggle="collapse" data-target="#collapseItinerary" aria-expanded="false" aria-controls="collapseLocation">
                                    <i class="fa fa-plus"></i><h6 class="m-0">Itinerary</h6>
                                </button>
                            </div>
                            <div id="collapseItinerary" class="collapse" aria-labelledby="titleItinerary" data-parent="#tour-accordian">
                                <div class="card-body">
                                    <div class="tour-tabs__content itinerary">
                                        {% for val in tour.itinerary %}
                                            <div class="day-head">
                                                <h6>Day {{ val.day }}</h6>
                                            </div>
                                            <div class="itinerary-col-2">
                                                <span>{{ val.description|raw }}</span>
                                            </div>
                                            <div class="itinerary-col-1">
                                                <img src="{{ asset('images/uploads/itinerary/'~ val.path) }}" alt="{{ val.altText }}">
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="titleProperties">
                                <button class="btn btn-default collapsed" type="button" data-toggle="collapse" data-target="#collapseProperties" aria-expanded="false" aria-controls="collapseProperties">
                                    <i class="fa fa-plus"></i><h6>Accommodations</h6>
                                </button>
                            </div>
                            <div id="collapseProperties" class="collapse" aria-labelledby="titleProperties" data-parent="#tour-accordian">
                                <div class="card-body">
                                    <div class="tour-tabs__content">
                                        <div class="horizontal-scroll-wrapper">
                                            {% for property in tour.property %}
                                                <a href="{{ path('homestay_template', {'slug': property.slug}) }}" id="{{ property.id }}" target="_blank">
                                                    <div class="horizontal-scroll-element">
                                                        <div class="content-holder">
                                                            <div class="inner-box">
                                                                <div class="featured-img">
                                                                    <img src="{{ asset('images/uploads/'~ property.featimage) }}">
                                                                </div>
                                                                <div class="caption1 mb-3 d-flex justify-content-center">
                                                                    <span class="text-center">{{ property.name }}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="titleExperiences">
                                <button class="btn btn-default collapsed" type="button" data-toggle="collapse" data-target="#collapseExperiences" aria-expanded="false" aria-controls="collapseExperiences">
                                    <i class="fa fa-plus"></i><h6>Experiences</h6>
                                </button>
                            </div>
                            <div id="collapseExperiences" class="collapse" aria-labelledby="titleExperiences" data-parent="#tour-accordian">
                                <div class="card-body">
                                    <div class="tour-tabs__content">
                                        <div class="horizontal-scroll-wrapper">
                                            {% for experience in tour.experiences %}
                                                <div class="horizontal-scroll-element experience-popup" id="{{ experience.id }}">
                                                    <div class="content-holder">
                                                        <div class="inner-box">
                                                            <div class="featured-img">
                                                                <img src="{{ asset('images/uploads/'~ experience.featimage) }}" alt="{{ experience.altText }}">
                                                            </div>
                                                            <div class="caption1 mb-3 text-center">
                                                                <span>{{ experience.name }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-content hidden-xs">
                        <div class="tab-pane active in" id="description">
                            <div class="tour-tabs__content padding-all">
                                <ul class="tour-category-list list-block list-block--tabs">
                                    <li>
                                        <a href="#" role="button">{{ tour.state.name }}</a>
                                    </li>
                                    <li>
                                        <a href="#" role="button">tour</a>
                                    </li>
                                </ul>
                                <p>{{ tour.tourOverview|raw }}</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="itinerary">
                            <div class="tour-tabs__content itinerary padding-all">
                                <table class="table table-bordered tour-tabs__table">
                                    <tbody>
                                    {% for val in tour.itinerary %}
                                        <tr class="border-none">
                                            <td><h6>Day {{ val.day }}</h6></td>
                                        </tr>
                                        <tr>
                                            <td class="itinerary-col-1">
                                                <img src="{{ asset('images/uploads/itinerary/'~ val.path) }}">
                                            </td>
                                            <td class="itinerary-col-2">
                                                <span>{{ val.description|raw }}</span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="properties">
                            <div class="tour-tabs__content padding-all">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="carousel slide multi-item-carousel" id="homestayCarousel" data-ride="carousel" data-interval="false">
                                            <div class="carousel-inner">
                                                {{ render(controller('OurguestBundle:Tours:homestaysForTour', {'id': tour.id})) }}
                                            </div>
                                            <a class="carousel-control-prev" href="#homestayCarousel" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                            </a>
                                            <a class="carousel-control-next" href="#homestayCarousel" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="experiences">
                            <div class="tour-tabs__content padding-all">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="carousel slide multi-item-carousel" id="experienceCarousel" data-ride="carousel" data-interval="false">
                                            <div class="carousel-inner">
                                                {{ render(controller('OurguestBundle:Tours:experiencesForTour', {'id': tour.id})) }}
                                            </div>
                                            <a class="carousel-control-prev" href="#experienceCarousel" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                            </a>
                                            <a class="carousel-control-next" href="#experienceCarousel" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="share-buttons-mobile-wrapper margin-top visible-xs">
                        <div class="share-buttons" data-urlshare="">
                            <div class="share-buttons__item" data-btntype="googleplus">
                                <div class="box">
                                    <a></a>
                                </div>
                            </div>
                            <div class="share-buttons__item" data-btntype="facebook">
                                <div class="box">
                                    <a></a>
                                </div>
                            </div>
                            <div class="share-buttons__item" data-btntype="twitter">
                                <div class="box">
                                    <a></a>
                                </div>
                            </div>
                            <div class="share-buttons__item" data-btntype="linkedinn">
                                <div class="box">
                                    <a></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="comments" class="reviews mt-5 padding-all">
                        <div class="section-title title">
                            <h3 class="title__primary">Tour Reviews</h3>
                        </div>
                        <div class="margin-left margin-right reviews__rating-total padding-bottom">
                            <div class="reviews__rating-total__stars">
                                {{ avgRating|rating }}
                            </div>
                            <div class="reviews__rating-total__text">
                                {% if reviewsCount > 1 %}
                                    based on {{ reviewsCount }} reviews
                                {% elseif reviewsCount == 1 %}
                                    based on {{ reviewsCount }} review
                                {% else %}
                                    No reviews available
                                {% endif %}
                            </div>
                        </div>

                        {% for review in tour.review if review.status == 1 %}
                            <div class="reviews__items padding-bottom">
                                <div id="comment-" class="reviews__items margin-left margin-right">
                                    <div class="reviews__item__container d-md-flex flex-md-row">
                                        <div class="reviews__item__info col-md-2">
                                            <img src="{{ asset('images/user-default.png') }}">
                                            <div class="reviews__item__name">
                                                <h6 class="m-0">{{ review.name }}</h6>
                                            </div>
                                        </div>
                                        <div class="reviews__item__content col-md-10">
                                            <div class="reviews__item__content__top">
                                                <div class="reviews__item__rating">
                                                    {{ review.rating|rating }}
                                                </div>
                                            </div>
                                            <div class="reviews__item__comment">
                                                <p>{{ review.comment }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        {% include 'ourguest/default/review-form.html.twig' %}

                    </div>
                </main>
                <aside class="col-sm col-lg-3 sidebar pl-0 pr-0 pr-lg-3" role="complementary">
                    <div class="price-decoration">
                        <div class="price-decoration__value d-flex flex-row justify-content-between">
                            <div class="price-decoration__details col-6 col-lg-12 pl-4 pr-0 pt-2">
                                <i class="fa fa-rupee"></i>
                                <span class="price">{{ tour.rate }}</span><span>per person</span>
                            </div>
                            <div class="button-container hidden-992 col-6 text-center">
                                <button class="btn btn-primary" onclick="showForm()">Book Now!</button>
                            </div>
                        </div>
                        {#<div class="price-decoration__label">

                        </div>#}
                    </div>
                    <div class="booking-container">
                        <div class="booking-form form p-3 mt-4 mt-lg-3">
                            <h5 class="text-center mb-3">Book your tour</h5>
                            {% include 'ourguest/tours/frontend/booking-form.html.twig' %}
                        </div>
                    </div>
                </aside>
                <div class="similar-section col-12 padding-top padding-bottom">
                    <h3>Similar Tours</h3>
                    <div class="similar-products d-flex flex-wrap">
                        {{ render(controller('OurguestBundle:Tours:similarTours', {'id': tour.id, 'stateId': tour.state.id, 'tourType': tour.tourType})) }}
                    </div>
                </div>
            </div>
        </div>
        {% include ':ourguest/experiences/frontend:popup.html.twig' %}
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        function showForm() {
            $("aside.sidebar").css({"position": "relative","bottom": "0"});
            $('html, body').animate({
                scrollTop : $("aside.sidebar").position().top - $(".top-bar").height()
            });
        }
    </script>

{% endblock %}
