{% extends 'admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Edit Host</h2>
    </div>
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-3">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            <i class="fa fa-check-circle"></i> {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_start(edit_form) }}
                        <div class="control-group">
                            {{ form_label(edit_form.name) }}
                            <div class="controls">
                                {{ form_widget(edit_form.name, {'attr':{'class': 'form-control'}}) }}
                                <p></p>
                            </div>
                            {{ form_errors(edit_form.name) }}
                        </div>
                        <div class="control-group">
                            {{ form_label(edit_form.photo) }}
                            <div class="controls">
                                {{ form_widget(edit_form.photo) }}
                                <p></p>
                            </div>
                            {{ form_errors(edit_form.photo) }}
                        </div>
                        <div class="control-group">
                            {{ form_label(edit_form.description) }}
                            <div class="controls">
                                {{ form_widget(edit_form.description, {'attr':{'class': 'form-control', 'rows':6}}) }}
                                <p></p>
                            </div>
                            {{ form_errors(edit_form.description) }}
                        </div>
                        <input type="submit" value="Save" class="btn btn-sm btn-success" />
                        <a href="{{ path('host_index') }}" class="btn btn-sm btn-default">Back to the list</a>
                        {{ form_end(edit_form) }}
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Delete" class="btn btn-sm btn-danger" style="float: right"/>
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
