{% extends 'admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Hosts List</h2>
    </div>
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>Add or Edit Hosts</strong><br><br>
                        <div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Sl. No.</th>
                                    <th>Name</th>
                                    <th>Photo</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for host in hosts %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ host.name }}</td>
                                        <td class="host-img">
                                            <img src="{{ asset('images/uploads/'~ host.photo) }}"></td>
                                        <td>{{ host.description }}</td>
                                        <td>
                                            <a href="{{ path('host_edit', { 'id': host.id }) }}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i>edit</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <a href="{{ path('host_new') }}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i>Add a new host</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
