{% extends 'admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Create Host</h2>
    </div>
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-3">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            <i class="fa fa-check-circle"></i> {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_start(form) }}
                        <strong>Add or Edit Host</strong>
                        <div class="control-group">
                            {{ form_label(form.name) }}
                            <div class="controls">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                <p></p>
                            </div>
                            {{ form_errors(form.name) }}
                        </div>
                        <div class="control-group">
                            {{ form_label(form.photo) }}
                            <div class="controls">
                                {{ form_widget(form.photo) }}
                                <p></p>
                            </div>
                            {{ form_errors(form.photo) }}
                        </div>
                        <div class="control-group">
                            {{ form_label(form.description) }}
                            <div class="controls">
                                {{ form_widget(form.description, {'attr': {'class':'form-control', 'rows':6}}) }}
                                <p></p>
                            </div>
                            {{ form_errors(form.description) }}
                        </div>
                        <input type="submit" value="Create" class="btn btn-sm btn-success" />
                        <a href="{{ path('host_index') }}" class="btn btn-sm btn-default"><i class="fa fa-reply"></i>Back to the list</a>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
