{% extends 'admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Hosts</h2>
    </div>
    <div class="page-content-wrap">

    </div>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ host.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ host.name }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ host.photo }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ host.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('host_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('host_edit', { 'id': host.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
