{% extends 'admin.html.twig' %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span>Edit Default Discount %</h2>
    </div>

    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            <i class="fa fa-check-circle"></i>
                        {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_start(edit_form) }}
                        <strong>Edit Discount Rates</strong><br><br>
                        <div class="control-group">
                            <div class="col-lg-3">
                                {{ form_label(edit_form.userCategory) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.userCategory) }}
                                    <p></p>
                                </div>
                                {{ form_errors(edit_form.userCategory) }}
                            </div>
                            <div class="col-lg-3">
                                {{ form_label(edit_form.defRate) }}
                                <div class="controls">
                                    {{ form_widget(edit_form.defRate) }}
                                    <p></p>
                                </div>
                                {{ form_errors(edit_form.defRate) }}
                            </div>
                        </div>
                        <hr>
                        <br>
                        <input type="submit" value="Save" class="btn btn-sm btn-success" />
                        <a href="{{ path('discount_index') }}"
                           class="btn btn-sm btn-default"><i
                                    class="fa fa-reply fa-fw"></i> Back to the list</a>
                        {{ form_end(edit_form) }}
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Delete"
                               onclick="return confirm('Do you really want to delete this entry?')"
                               class="btn btn-sm btn-danger" style="float:right;">
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}