{% extends '::admin.html.twig' %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span>Default Discount Rates</h2>
    </div>
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            <i class="fa fa-check-circle"></i>
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>View Default Rates</strong><br><br>
                        <div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Sl. No.</th>
                                    <th>User Category</th>
                                    <th>Default Rate</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for defrate in defrates %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ defrate.userCategory }}</td>
                                    <td>{{ defrate.defRate }}%</td>
                                    <td width = "15%">
                                        <table>
                                            <tr>
                                                <td width = "80px">
                                                    <a href="{{ path('defrates_edit', { 'id': defrate.id}) }}" class = "btn btn-sm btn-default"><i class="fa fa-edit"></i>edit</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <a href="{{ path('defrates_new') }}" class="btn btn-sm btn-default"><i class="fa fa-pencil"></i>Add or Edit Default Discount %</a>
                        <a href="{{ path('discount_index') }}" class="btn btn-sm btn-default"><i class="fa fa-reply fa-fw"></i>Back to Discounts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}