{% extends '::admin.html.twig' %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span>New Default Discount %</h2>
    </div>
    {{ form_start(form) }}
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">
                {%  if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            <i class="fa fa-check-circle"></i>
                        {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>Add Default Discount Rate</strong><br><br>
                        <div class="control-group">
                            <div class="col-lg-3">
                                {{ form_label(form.userCategory) }}
                                <div class="controls">
                                    {{ form_widget(form.userCategory) }}
                                    <p></p>
                                </div>
                                {{ form_errors(form.userCategory) }}
                            </div>
                            <div class="col-lg-3">
                                {{ form_label(form.defRate) }}
                                <div class="controls">
                                    {{ form_widget(form.defRate) }}
                                    <p></p>
                                </div>
                                {{ form_errors(form.defRate) }}
                            </div>
                        </div>
                        <hr>
                        <br>
                        <input type="submit" value="Add Default Discount" class="btn btn-sm btn-success" />
                        <a href="{{ path('discount_index') }}"
                           class="btn btn-sm btn-default"><i
                            class="fa fa-reply fa-fw"></i>Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}