.btn-status{
  pointer-events: none;
  cursor: default;
}

.listing{
  margin-top: 20px; height:auto;
  background: #FFF;
  border:1px solid #e9e9e9;padding:20px 0 0 0;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  overflow: hidden;
  .detail{ position: relative;
  p{
    line-height:10px;
  }
    h3{
      line-height: 15px;
      margin-top: 0;
    }
  }
  .price{
    font-size: 20px;
    color:#565656;
    text-align: right;
    right:0;
    top:0;
    background: none;
    line-height: normal;
    span{
      font-size:small;
      display: block;
      line-height:20px;
    }
  }
}


#cart-item{
  .btnRemoveAction{
    cursor: pointer !important;
    color: #F30D0D;
  }
}

.nav-tabs{
  float: left;width:100%;border-bottom: 1px solid #f5f5f5;
  li{
    font-weight: bold;
    a{
      color:#5e5e5e;
    }
  }
}


.no-border{
  border: none;
  td{
    border: none !important;
  }
}

#billing{
  border: 1px solid #dbdbdb;
  background: #f9f9f9;
  padding:0 20px;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  td{
    padding:4px 10px !important;
    background: #FFF;
  }
}

.advert{
  border: 1px solid #f1f1f1; padding: 10px; background: #f5f5f5;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
}

.cart{
  border: 1px solid #e9e9e9; padding: 10px; background: #FFF;position: fixed; width:19%;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
}


.img-thumbnail{
  height: 110px;
}
@media only screen and (max-width: 400px) {
  .img-thumbnail{
    height:210px;
  }
}

// LOADER

#loadingmessage{
  margin-top:65px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255,255,255,0.6); /*dim the background*/
}

#loader {
  position: absolute;
  /*background-color: rgba(0, 0, 0, 0.3);*/
  /*dim the background*/
  top:0;
  left:0;
  width:100%;
  height:100%;
  color:black;
  text-align: center;
}

.ajax-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px; /* -1 * image width / 2 */
  margin-top: -32px; /* -1 * image height / 2 */
}

.lSPager a > img{
  width: 100%;
  height:60px !important;
}

.property-intro{
  border:1px solid #e9e9e9;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  .item{

    padding:15px;
  }
  .p_content{
   border-top:1px solid #f1f1f1;
    padding:0 15px 10px 15px;
  }
  img{
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
  }
}

// Masonry

#photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #photos {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
  }
}

