{% extends 'admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
{% endblock %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Edit Facility</h2>
    </div>

<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-6">
            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        <i class="fa fa-check-circle"></i> {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_start(edit_form) }}
                    <div class="control-group">
                        {{ form_label(edit_form.name) }}
                        <div class="controls">
                            {{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
                            <p></p>
                        </div>
                        {{ form_errors(edit_form.name) }}
                    </div>

                    <br>

                    <input type="submit" value="Save" class="btn btn-sm btn-success" />

                    <a href="{{ path('facilities_index') }}" class="btn btn-sm btn-default"><i class="fa fa-reply"></i>Back to the list</a>

                    {{ form_end(edit_form) }}
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete" class="btn btn-sm btn-danger" style="float: right;">
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
