{% extends 'admin.html.twig' %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Facilities</h2>
    </div>

    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-6">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>Add or Edit Facilities</strong><br><br>
                        <div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Sl. No.</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for facility in facilities %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ facility.name }}</td>
                                    <td>
                                        <a href="{{ path('facilities_edit', { 'id': facility.id }) }}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i>edit</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <a href="{{ path('facilities_new') }}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i>Add a new facility</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
