{% extends 'admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Create Facility</h2>
    </div>

    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-3">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            <i class="fa fa-check-circle"></i> {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_start(form) }}
                        <div class="control-group">
                            {{ form_label(form.name) }}
                            <div class="controls">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            {{ form_errors(form.name) }}
                        </div>

                        <br>

                        <input type="submit" value="Add" class="btn btn-sm btn-success" />
                        <a href="{{ path('facilities_index') }}" class="btn btn-sm btn-default"><i class="fa fa-reply"></i>Back to the list</a>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
